<template>
  <div class="content-corpo-clinico">
    <div class="wrapper-image d-md-none">
      <img :src="img" :alt="alt" />
      <div class="background"></div>
    </div>
    <div class="wrapper-img-desktop d-none d-md-flex">
      <slot name="field_imagem_desktop" />
    </div>
    <div class="wrapper-content container p-md-0 px-4 pl-30 pr-30">
      <div class="tags pb-2" v-if="fields.field_tags">
        <slot name="field_tags" />
      </div>
      <h1 class="mb-2 mb-md-3">{{ entity.attributes.title }}</h1>
      <b-row
        align-v="center"
        class="pb-3 mb-4"
        v-if="fields.field_c_profissional || file"
      >
        <b-col cols="6" md="7" class="d-flex" v-if="fields.field_c_profissional">
          <img src="~/assets/icons/icon-profissional.svg" />
          <span class="pl-3 pl-md-2 number-medico font-weight-bold"
            >C. Profissional Nº {{ fields.field_c_profissional.data }}</span
          >
        </b-col>
        <b-col cols="6" md="5" v-if="file">
          <a
            :href="file"
            target="_blank"
            class="d-flex link-curriculo"
            download
          >
            <img src="~/assets/icons/icon-curriculo.svg" />
            <span class="pl-3 pl-md-2 curriculo-medico font-weight-bold"
              >Consultar Currículo</span
            >
          </a>
        </b-col>
      </b-row>
    </div>
    <div class="px-4 p-md-0 wrapper-remaining-text container pr-30 pl-30">
      <div class="body-wrapper">
        <slot name="body" />
      </div>
    </div>
    <div v-show="device == 'mobile'">
      <slot name="field_blocos" />
    </div>
    <div v-show="device == 'desktop'">
      <slot name="field_blocos_desktop" />
    </div>
    <CookiesBanner />
    <ModalMarcacao />
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],

  data: () => ({
    img: false,
    alt: false,
    file: false,
    device: "",
  }),

  head() {
    return {
      title: this.title,
      meta: this.metatags,
      link: this.links,
    };
  },
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    } else {
      const resource = await this.getResource({
        ...this.model.relationships.field_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.img =
        this.$config.baseUrl +
        (resource.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    }

    if (!this.model.relationships.field_curriculo) {
      return;
    } else {
      const resourceFile = await this.getResource({
        ...this.model.relationships.field_curriculo.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_document"])
          .addFields("media--document", [])
          .addFields("file--file", ["uri"]),
      });

      this.file = 'https://assets.justsmile.pt' +
        (resourceFile.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
  },

  computed: {
    title: ({ entity }) =>
      entity.attributes.metatag.find((o) => o.attributes.name === "title")
        .attributes.content,
    links: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "link")
        .map((o) => ({
          hid: o.attributes.rel,
          rel: o.attributes.rel,
          href: process.env.FE_URL + o.attributes.href,
        })),
    metatags: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "meta")
        .map((o) => {
          if (o.attributes.property && o.attributes.property.includes("og")) {
            return {
              hid: o.attributes.property,
              property: o.attributes.property,
              content: o.attributes.content,
            };
          } else {
            return {
              hid: o.attributes.name,
              name: o.attributes.name,
              content: o.attributes.content,
            };
          }
        }),
  },
};
</script>

<style lang="scss">
.content-corpo-clinico {
  position: relative;
  .wrapper-image {
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    .background {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        #ffffff 100%
      );
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .wrapper-img-desktop{
    height: 660px;
    div{
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .wrapper-content {
    padding-top: 380px;
    .tags {
      span {
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-primary;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 11px;
        margin-right: 10px;
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
    h1 {
      width: 60%;
      font-family: "Canela";
      font-weight: 200;
    }
    .link-curriculo {
      color: unset;
      &:hover {
        text-decoration: none;
      }
    }
    .number-medico,
    .curriculo-medico {
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 14px;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 228px;
      padding-top: 0;
      left: 0;
      right: 0;
      margin: auto;
      > * {
        max-width: 300px;
      }
      .tags {
        span {
          font-size: 13px;
          padding: 6px 12px;
        }
      }
      h1{
        text-transform: uppercase;
        width: 100%;
        font-size: 55px;
      }
    }
  }
  .body-wrapper {
    font-family: "Telegraf";
    font-weight: 300;
    padding-bottom: 40px;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  .wrapper-remaining-text{
    @media screen and (min-width: 768px) {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
      max-width: 1060px;
      width: 100%;
      .body-wrapper {
        font-size: 22px;
        padding-bottom: 0;
      }
    }
  }
}
</style>
