<template>
  <div class="p-0 container pl-30 pr-30">
    <div class="view-blog-populares-desktop">
      <slot name="results" />
    </div>
  </div>
</template>
<script>
import { DruxtViewsViewMixin } from "druxt-views";

export default {
  mixins: [DruxtViewsViewMixin],
};
</script>

<style lang="scss">
.view-blog-populares-desktop {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > div {
    margin-bottom: 60px;
    margin-right: 40px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    justify-content: space-between;
    > div {
      margin-right: 28px !important;
      &:nth-child(2n) {
        margin-right: 0 !important;
      }
      .card-blog-sinopse {
        width: 340px;
        img{
          width: 340px;
        }
      }
      &.wrapper-more{
        margin-right: 0 !important;
      }
    }
  }
}
</style>
