<template>
  <div class="pl-30">
    <slick v-bind="settings">
      <DruxtEntity
        v-for="result of $props.results"
        :key="result.id"
        mode="teaser"
        :type="result.type"
        :uuid="result.id"
        :data-id="result.id"
      />
    </slick>
  </div>
</template>


<script>
import { DruxtViewsViewMixin } from "druxt-views";

export default {
  mixins: [DruxtViewsViewMixin],
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        variableWidth: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        initialSlide: 0,
        adaptiveHeight: true,
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              dots: false,
              arrows: false,
              infinite: false,
              variableWidth: false,
              slidesToShow: 2,
              slidesToScroll: 1,
              initialSlide: 0,
              adaptiveHeight: true,
            },
          },
          {
            breakpoint: 800,
            settings: {
              dots: false,
              arrows: false,
              infinite: false,
              variableWidth: false,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
              adaptiveHeight: true,
            },
          },
          {
            breakpoint: 600,
            settings: {
              dots: false,
              arrows: false,
              infinite: false,
              variableWidth: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
              adaptiveHeight: true,
            },
          },
        ],
      },
    };
  },
};
</script>
