<template>
  <div class="p-0 container">
    <div class="view-blog-destaques">
      <slot name="results" />
      <template v-if="moreData.length > 0">
        <div class="wrapper-more">
          <DruxtEntity
            v-for="{ type, id } of moreData"
            :key="id"
            mode="blog_sinopse"
            v-bind="{ type, uuid: id }"
          />
        </div>
      </template>
      <div class="show-more text-center mb-0" @click="showMore(currentPage)" v-if="currentPage != totalPages">
          <div class="background"></div>
          <div class="see-more-div">
              <span class="title-2 mb-2">Ver Mais</span>
              <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.88 0.880005L10 8.76L2.12 0.880004L-9.26681e-08 3L10 13L20 3L17.88 0.880005Z" fill="#252525"/>
              </svg>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import { DruxtViewsViewMixin } from 'druxt-views'

export default {
    mixins: [DruxtViewsViewMixin],
    data(){
      return{
        moreData: [],
        showWrapper: false,
        totalPages : false,
        currentPage: 1,
      }
    },
    created() {
      var totalNumberPages = this.count / 6;
      if (totalNumberPages % 1 != 0){
        totalNumberPages = Math.round(totalNumberPages + 1)
      } else{
        totalNumberPages = Math.round(totalNumberPages)
      }
      this.totalPages = totalNumberPages;
    },
    methods: {
      showMore(currentPage){
        this.$axios.get(`/bloco_publicidade/id`).then(function( response ){
          let publicidade = response.data;
          this.moreData.push({id: publicidade.toString(), type: 'block_content--bloco_publicidade'});

          this.$axios.get(`/jsonapi/views/blog/block_blog_destaques?page=${currentPage}`).then(function( response ){
            const d = response.data.data;
            for(let i = 0; i < d.length; i++){
              this.moreData.push(d[i]);
            }
          }.bind(this));
          this.currentPage++;
          
        }.bind(this));
      }
    }
}
</script>

<style lang="scss">
    .view-blog-destaques{
        padding-bottom: 70px;
        position: relative;
        .wrapper-more{
          margin-top: 40px;
        }
        .show-more{
            position: absolute;
            bottom: 0;
            z-index: 3;
            width: 100%;
            height: 270px;
            .background{
                position: absolute;
                top: 0;
                height: 270px;
                width: 100%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 90.36%);
            }
            .see-more-div{
                position: absolute;
                bottom: 0;
                height: 100px;
                width: 100%;
                background: #FFFFFF;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    font-family: 'Telegraf';
                    font-weight: 700;
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
</style>
