<template>
  <div class="p-0 container pr-30 pl-30">
    <div class="view-blog-relacionados">
      <div
        class="wrap-header mb-3"
        v-html="display.display_options.header.area_text_custom.content"
      />
      <slot :wrapper="wrapper" name="results" />
    </div>
  </div>
</template>
<script>
import { DruxtViewsViewMixin } from "druxt-views";

export default {
  mixins: [DruxtViewsViewMixin],
  data() {
    return {
      wrapper: {
        class: "wrapper",
      },
    };
  },
};
</script>
<style lang="scss">
.view-blog-relacionados {
  .wrap-header {
    border-bottom: 1px solid #e1e1e1;
    font-family: "Telegraf";
    font-weight: 700;
    @media screen and (min-width: 768px) {
      border: none;
      text-align: center;
      h2 {
        font-size: 46px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    .wrapper {
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper {
      .card-blog-sinopse{
        width: 340px;
        img{
          width: 340px;
        }
      }
    }
  }
}
</style>
