<template>
  <div class="p-0 container pl-30 pr-30">
    <div class="view-blog-populares-desktop">
      <slot name="results" />
      <template v-if="moreData.length > 0">
        <div class="wrapper-more">
          <DruxtEntity
            v-for="{ type, id } of moreData"
            :key="id"
            mode="blog_sinopse"
            v-bind="{ type, uuid: id }"
          />
        </div>
      </template>
      <div
        class="show-more w-100 d-flex justify-content-center"
        @click="showMore(currentPage)"
        v-if="currentPage != totalPages"
      >
        <div role="button" class="see-more-div">
          <span>VER MAIS POPULARES</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { DruxtViewsViewMixin } from "druxt-views";

export default {
  mixins: [DruxtViewsViewMixin],
  data() {
    return {
      moreData: [],
      showWrapper: false,
      totalPages: false,
      currentPage: 1,
    };
  },
  created() {
    var totalNumberPages = this.count / 6;
    if (totalNumberPages % 1 != 0) {
      totalNumberPages = Math.round(totalNumberPages + 1);
    } else {
      totalNumberPages = Math.round(totalNumberPages);
    }
    this.totalPages = totalNumberPages;
  },
  methods: {
    showMore(currentPage) {
      this.$axios
        .get(`/jsonapi/views/blog/block_blog_populares_desktop_2?page=${currentPage}`)
        .then(
          function (response) {
            const d = response.data.data;
            for (let i = 0; i < d.length; i++) {
              this.moreData.push(d[i]);
            }
          }.bind(this)
        );
      this.currentPage++;
    },
  },
};
</script>

<style lang="scss">
.view-blog-populares-desktop {
  .wrapper-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      margin-bottom: 60px;
      margin-right: 40px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  .show-more {
    .see-more-div {
      background-color: $color-primary;
      color: white;
      padding: 8px 20px;
      text-decoration: none;
      border-radius: 18px;
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 18px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-more{
      justify-content: space-between;
      > div {
        margin-bottom: 60px;
        margin-right: 40px;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}
</style>
