<template>
  <div class="footer-legal-links">
    <div class="d-flex flex-row flex-wrap">
      <a
        @click="setPosition()"
        v-for="(item, index) in items"
        :key="index"
        :href="item.entity.attributes.url"
        :class="
          item.entity.attributes.options.attributes
            ? item.entity.attributes.options.attributes.class
            : ''
        "
        :target="
          item.entity.attributes.options.attributes
            ? item.entity.attributes.options.attributes.target
            : ''
        "
      >
        {{ item.entity.attributes.title }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>
