<template>
  <div class="header-desktop d-none d-lg-flex">
    <div class="links">
      <a
        @click="setPosition()"
        v-for="(item, index) in items"
        :key="index"
        :href="item.entity.attributes.url"
        :class="{
          active: currentPath === item.entity.attributes.url,
        }"
      >
        {{ item.entity.attributes.title }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      showNavbar: true,
      showMenu: false,
    };
  },

  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },

  computed: {
    currentPath() {
      return this.$route.path;
    },
  },
};
</script>

<style lang="scss" scoped>
.header-desktop {
  padding-right: 82px;
  .links {
    a {
      font-family: "Telegraf";
      font-weight: 600;
      font-size: 22px;
      line-height: 40px;
      margin-right: 50px;
      color: $color-body;
      text-decoration: none;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        text-decoration: none;
        color:rgba(0,0,0,0.34);
      }
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1234px) {
     padding-right: 42px;
    .links {
      a {
        margin-right: 20px;
      }
    }
  }
}
</style>
