<template>
  <div>
    <div class="menu-overlay" :class="{ 'hidden-menu-overlay': !showMenu }">
      <div class="menu-overlay__content">
        <div class="logo">
          <img src="~/assets/images/logo-white.svg" />
        </div>

        <div v-for="(item, index) in items" :key="index">
          <div v-if="item.children.length > 1" class="links">
            <a
              @click="setPosition()"
              v-for="(it, ind) in item.children"
              :key="ind"
              :href="it.entity.attributes.url"
              :class="{
                active: currentPath === it.entity.attributes.url,
              }"
            >
              <span>
                {{ it.entity.attributes.title }}
              </span>
            </a>
          </div>
        </div>

        <DruxtMenu name="social" />
        <DruxtMenu name="menu-linhas-de-apoio" />
        <DruxtMenu name="termos-e-condicoes" class="wrapper-termos-condicoes" />
      </div>
    </div>

    <nav
      class="navbar fixed-bottom navbar-light bg-light"
      :class="{ 'hidden-navbar': !showNavbar }"
    >
      <div class="nav-container pt-2 pb-1">
        <div class="d-flex justify-content-between align-items-center">
          <div
            v-for="(item, index) in items"
            class="nav-container__item"
            :key="index"
          >
            <div
              v-if="item.children.length > 0"
              @click="toggleChildren()"
              class="text-center"
            >
              <img
                :class="
                  showMenu ? 'transform-menu-icon' : 'transform-menu-icon-close'
                "
                :src="
                  $config.baseUrl +
                  item.entity.attributes.options.menu_icon.uri.replace(
                    'public://',
                    '/sites/default/files/'
                  )
                "
              />
              <div class="pt-1 pt-md-3">
                <a @click="setPosition()" :class="showMenu ? 'active' : ''">
                  {{ item.entity.attributes.title }}
                </a>
              </div>
            </div>
            <div v-else class="text-center">
              <a
                @click="setPosition()"
                :href="item.entity.attributes.url"
                :class="{ active: currentPath === item.entity.attributes.url }"
              >
                <img
                  v-if="item.entity.attributes.options.menu_icon"
                  :src="
                    $config.baseUrl +
                    item.entity.attributes.options.menu_icon.uri.replace(
                      'public://',
                      '/sites/default/files/'
                    )
                  "
                />
                <p class="pt-1 pt-md-3 mb-0">
                  {{ item.entity.attributes.title }}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      showNavbar: true,
      showMenu: false,
      lastScrollPosition: 0,
      scrollValue: 0,
      OFFSET: 60,
    };
  },

  mounted() {
    this.lastScrollPosition = window.pageYOffset;
    window.addEventListener("scroll", this.onScroll);
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },

  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
    onScroll() {
      if (window.pageYOffset < 0) {
        return;
      }
      if (
        Math.abs(window.pageYOffset - this.lastScrollPosition) < this.OFFSET
      ) {
        return;
      }
      this.showNavbar = window.pageYOffset < this.lastScrollPosition;
      this.lastScrollPosition = window.pageYOffset;
    },

    toggleMenu() {
      this.showMenu = !this.showMenu;
    },

    toggleChildren() {
      this.showMenu = !this.showMenu;
    },
  },

  watch: {
    showMenu() {
      if (this.showMenu === true) {
        window.removeEventListener("scroll", this.onScroll);
      } else {
        window.addEventListener("scroll", this.onScroll);
      }
    },
  },

  computed: {
    currentPath() {
      return this.$route.path;
    },
  },
};
</script>

<style lang="scss" scoped>

a{
  text-decoration: none;
}
/* Menu Overlay Transition Effect */
.menu-overlay.hidden-menu-overlay {
  box-shadow: none;
  transform: translate3d(0, 100%, 0);
  bottom: 0;
}

/** MENU OVERLAY **/
.menu-overlay {
  background-color: $color-primary;
  position: fixed;
  top: 0;
  bottom: unset;
  z-index: 998;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-left: 24px;
  padding-right: 24px;
  overflow: scroll;
  transition: 0.05s all ease-in-out;
  transition-duration: 0.3s;

  &__content {
    max-width: 375px;
    margin-top: 30px;

    .links {
      margin-top: 36px;
      text-align: left;
      display: flex;
      flex-direction: column;
      a {
        font-family: "Telegraf";
        font-size: 27px;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: 0;
        color: $color-menu-link;
      }
      .active {
        font-family: "Telegraf";
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0;
        text-align: left;
        color: $color-menu-link-active;
      }
    }
  }
}

.nav-container {
  font-family: "Telegraf";
  font-weight: 400;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  &__item {
    &:last-of-type{
      width: 44px;
    }
    a {
      font-family: "Telegraf";
      font-weight: 400;
      color: #000000;
      font-size: 13px;
    }

    a.active {
      font-family: "Telegraf";
      font-weight: 700;
      color: $color-primary;
    }
  }
}

.navbar {
  width: 100vw;
  background: hsl(200, 50%, 50%);
  position: fixed;
  box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
  transform: translate3d(0, 0, 0);
  transition: 0.1s all ease-out;
}

.navbar.hidden-navbar {
  box-shadow: none;
  transform: translate3d(0, 100%, 0);
}

.wrapper-termos-condicoes {
  padding-bottom: 124px;
}
.transform-menu-icon {
  animation: rotation 0.5s;
  animation-fill-mode: both;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.transform-menu-icon-close {
  animation: rotation-close 0.5s;
  animation-fill-mode: both;
}
@keyframes rotation-close {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
</style>
