<template>
  <div id="menu-desktop" class="menu-desktop" v-show="getMenu">
    <div class="container p-0 pl-30 pr-30">
      <div class="d-flex justify-content-between first-wrapper">
        <a href="/">
          <img src="~assets/images/logo-white.svg" />
        </a>
        <div
          type="button"
          class="navbar-toggler d-none d-md-flex"
          @click.prevent="toggleMenu()"
        >
          <span class="icon-bar top-bar"></span
          ><span class="icon-bar middle-bar"></span
          ><span class="icon-bar bottom-bar"></span>
        </div>
      </div>
      <div class="wrapper-search">
        <input
          type="text"
          class="navegation-search-input"
          placeholder="O que procura?"
          v-model="stringSearch"
          @keyup.enter="openModalSearch()"
        />
      </div>
      <div class="d-flex flex-column flex-lg-row wrapper-links">
        <div class="main-links d-flex flex-column">
          <div
            :class="index == 2 ? 'mt-3' : ''"
            v-for="(item, index) in items"
            :key="index"
          >
            <template v-if="item.entity.attributes.url.length > 0">
              <a
                :key="index"
                :href="item.entity.attributes.url"
                :class="{
                  active: currentPath === item.entity.attributes.url,
                }"
                class="parent-link"
              >
                {{ item.entity.attributes.title }}
              </a>
            </template>
            <template v-else>
              <span :key="index" class="parent-link no-link">
                {{ item.entity.attributes.title }}
              </span>
            </template>

            <div
              v-if="item.children.length > 1"
              class="child-links d-flex flex-column"
            >
              <a
                v-for="(it, ind) in item.children"
                :key="ind"
                :href="it.entity.attributes.url"
                :class="{
                  active: currentPath === it.entity.attributes.url,
                }"
              >
                {{ it.entity.attributes.title }}
              </a>
            </div>
          </div>
        </div>

        <div class="secondary-links">
          <div>
            <DruxtMenu name="menu-linhas-de-apoio" />
            <DruxtMenu name="social" />
          </div>
          <div>
            <div class="wrapper-socials">
              <DruxtBlock id="blocosigaonossodiaadia" />
            </div>
            <DruxtMenu name="footer-menu" class="footer-menu" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapState } from 'vuex'

export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      showNavbar: true,
      showMenu: false,
      searchText: false,
      stringSearch: "",
    };
  },

  mounted() {
    this.lastScrollPosition = window.pageYOffset;
    window.addEventListener("scroll", this.onScroll);
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    openModalSearch() {
      this.$router.push({
        name: "pesquisa",
        params: { search: this.stringSearch },
      });
    },
    onScroll() {
      if (window.pageYOffset < 0) {
        return;
      }
      if (
        Math.abs(window.pageYOffset - this.lastScrollPosition) < this.OFFSET
      ) {
        return;
      }
      this.showNavbar = window.pageYOffset < this.lastScrollPosition;
      this.lastScrollPosition = window.pageYOffset;
    },

    toggleMenu() {
      this.$store.commit('setMenu',false)
    },
  },

  watch: {
    showMenu() {
      if (this.showMenu === true) {
        window.removeEventListener("scroll", this.onScroll);
      } else {
        window.addEventListener("scroll", this.onScroll);
      }
    },
  },

  computed: {
    currentPath() {
      return this.$route.path;
    },
    ...mapGetters({ getMenu: "getMenu" }),

  },
};
</script>
<style lang="scss" scoped>
a{
  text-decoration: none;
}
</style>
