<template>
  <div class="social">
    <div class="d-flex justify-content-between align-items-center">
      <div class="pipe-separated-list">
        <a
          v-for="(item, index) in items"
          :key="index"
          :href="item.entity.attributes.url"
          :target="
            item.entity.attributes.options.attributes
              ? item.entity.attributes.options.attributes.target
              : ''
          "
          :class="
            item.entity.attributes.options.attributes
              ? item.entity.attributes.options.attributes.class
              : ''
          "
        >
          <span v-if="item.entity.attributes.options.menu_icon.uri">
            <img
              :src="
                $config.baseUrl +
                item.entity.attributes.options.menu_icon.uri.replace(
                  'public://',
                  '/sites/default/files/'
                )
              "
            />
          </span>
          <span v-else> {{ item.entity.attributes.title }} </span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.social {
  margin-top: 21px;
  .pipe-separated-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      justify-content: unset;
    }
    a {
      color: $color-white;
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0;
      @media (max-width: 330px) {
        font-size: 16px;
      }
      position: relative;
      padding-left: 20px;
      @media screen and (min-width: 768px) {
        padding-left: 40px;
        font-weight: 300;
        font-size: 26px;
        &:before {
          left: 20px !important;
        }
      }
      &:first-of-type {
        padding-left: 0;
      }
       &:not(:first-of-type) {
        &:before {
          content: "";
          height: 60%;
          width: 1px;
          background-color: white;
          position: absolute;
          left: 8px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}
</style>
