<template>
    <div class="legal_links">
        <div class="d-flex justify-content-between pb-5 column">
            <div v-for=" (item, index) in items" :key="index">
                <a :href="item.entity.attributes.url">
                    {{ item.entity.attributes.title }}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array,
                required: true,
            },
        },
    }
</script>

<style lang="scss" scoped>
    .legal_links{
        margin-top: 35px;
        .column{
          @media (max-width:768px) {
            flex-direction: column;
          }
        }
        a{
            font-family: 'Telegraf';
            font-weight: 400;
            color: $color-menu-link;
            text-decoration: underline;
        }
    }
</style>
