<template>
  <div class="wrapper-checkbox">
    <input type="checkbox" v-bind:id="modeltouse" :name="name" required/>
    <p class="description" v-html="element['#description']"></p>

  </div>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
  mixins: [DruxtWebformElementMixin],
   props: {
    modeltouse: {
      type: String,
      required: true,
    },
  }
}
</script>
