<template>
  <div :class="element['#attributes']['class']">
    <DruxtWebformElement
      v-for="[key, child] in Object.entries(children)"
      :key="key"
      :element="child"
      :name="key"
      :class="child['#wrapper_attributes'] ? child['#wrapper_attributes']['class'] : ''"
    />
  </div>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
  mixins: [DruxtWebformElementMixin],
}
</script>