<template>
  <div>
     <label v-text="element['#title']" :id="name"  />

       <input type="date" :id="name" :name="name"
       :value="element['#placeholder']"
       :min="element['#date_date_min']" max="2023-12-31">

  </div>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
  mixins: [DruxtWebformElementMixin],
}
</script>