<template>
  <div
    class="wrapper-email"
    :class="element['#attributes'] ? element['#attributes']['class'] : ''"
  >
    <input
      v-bind:id="modeltouse"
      v-model="email"
      type="email"
      :name="name"
      class="search-input-borderless"
    />
    <p class="description" :class="getErrorEmail ? 'text-danger' : ''">
      {{ getErrorEmail ? "Insira um email correto" : element["#description"] }}
    </p>
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  props: {
    modeltouse: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapGetters({ getErrorEmail: "errors/getErrorEmail" }),
  },
  data() {
    return {
      email: "",
      validated: false,
    };
  },
  watch: {
    email: function (val) {
      const emailValidated = String(val)
        .toLowerCase()
        .match(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );

      emailValidated ? (this.validated = true) : (this.validated = false);

      setTimeout(() => {
        this.validated
          ? this.$store.commit("errors/setErrorEmail", false)
          : this.$store.commit(
              "errors/setErrorEmail",
              "Insira um email correto"
            );
      }, 700);
    },
  },
};
</script>
