<template>
  <div>
    <label v-text="element['#title']" />:
    <select class="select" v-model="selected">
        <option selected :value="element['#empty_value']">{{element['#empty_option']}}</option>
        <option v-for="(option, key) in element['#options']" :key="key" :value="key">
            {{ option }}
        </option>
    </select>
  </div>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
    mixins: [DruxtWebformElementMixin],
    data: () => ({
        selected: 'none',
    }),
}
</script>