<template>
  <div class="wrapper-tel">
    <input type="tel" v-bind:id="modeltouse" name="phone" v-model="tel" />
    <p class="description" :class="getErrorTel ? 'text-danger' : ''" v-if="!getErrorTel" v-html="element['#description']" />
    <p class="description" :class="getErrorTel ? 'text-danger' : ''" v-if="getErrorTel" >
      {{ getErrorTel }}
    </p>
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  props: {
    modeltouse: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      tel: "",
    };
  },
  computed: {
    ...mapGetters({ getErrorTel: "errors/getErrorTel" }),
  },
  watch: {
    tel: function (val) {
      setTimeout(() => {
        val.length == 9
          ? this.$store.commit("errors/setErrorTel", false)
          : this.$store.commit(
              "errors/setErrorTel",
              "Insira um número de telemóvel correto"
            );
      }, 700);
    },
  },
};
</script>
