<template>
  <div
    class="wrapper-textfield wrapper-textfield-version"
    :class="element['#attributes'] ? element['#attributes']['class'] : ''"
  >
    <input
      type="text"
      v-bind:id="modeltouse"
      v-model="text"
      :name="name"
      class="search-input-borderless"
    />
    <p
      class="description"
      :ref="modeltouse"
      :class="getErrorNameApelido ? 'text-danger' : ''"
    >
      {{ getErrorNameApelido ? getErrorNameApelido : element["#description"] }}
    </p>
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  props: {
    modeltouse: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      text: "",
    };
  },
  computed: {
    ...mapGetters({ getErrorNameApelido: "errors/getErrorNameApelido" }),
  },
  watch: {
    text: function (val) {
      if (this.element["#title"] == "Nome e Apelido") {
        setTimeout(() => {
          val.trim().split(" ").length >= 2
            ? this.$store.commit("errors/setErrorNameApelido", false)
            : this.$store.commit(
                "errors/setErrorNameApelido",
                "Insira o nome e o apelido"
              );
        }, 700);
      }
    },
  },
};
</script>
