<template>
  <div class="wrapper-textarea">
    <p class="description" :class="getErrorMensagem ? 'text-danger' : ''">
      {{ getErrorMensagem ? getErrorMensagem : element["#description"] }}
    </p>
    <textarea v-bind:id="modeltouse" :name="name" v-model="mensagem" />
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  props: {
    modeltouse: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      mensagem: "",
    };
  },
  computed: {
    ...mapGetters({ getErrorMensagem: "errors/getErrorMensagem" }),
  },
  watch: {
    mensagem: function (val) {
      setTimeout(() => {
        val != ''
          ? this.$store.commit("errors/setErrorMensagem", false)
          : this.$store.commit(
              "errors/setErrorMensagem",
              "Insira uma mensagem válida"
            );
      }, 700);
    },
  },
};
</script>
