<template>
  <div
    class="wrapper-textfield"
    :class="element['#attributes'] ? element['#attributes']['class'] : ''"
  >
    <input
      type="text"
      v-bind:id="modeltouse"
      :name="name"
      class="search-input-borderless"
      v-model="text"
    />
    <p
      class="description"
      :ref="modeltouse"
      :class="getErrorName ? 'text-danger' : ''"
    >
      {{ getErrorName ? getErrorName : element["#description"] }}
    </p>
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  props: {
    modeltouse: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      text: "",
    };
  },
  computed: {
    ...mapGetters({ getErrorName: "errors/getErrorName" }),
  },
  watch: {
    text: function (val) {
      if (this.element["#title"] == "Nome") {
        setTimeout(() => {
          val.trim().split(" ").length >= 2
            ? (this.$store.commit('errors/setErrorNome',false))
            : (this.$store.commit('errors/setErrorNome',"Insira o nome e o apelido"));
        }, 700);
      }
    },
  },
};
</script>
