<template>
  <div>
    <div
      class="step px-4"
      :id="name"
      :class="{ 'd-none': step !== checkup['counter'] }"
    >
      <div class="wrapper-container d-flex flex-column flex-md-row">
        <div class="form-info">
          <div class="wrapper-btns">
            <div class="d-flex w-100 btn-tops row no-gutters">
              <div class="col-4 col-md-auto">
                <a class="back-btn" @click="goBack()">
                  <img src="~/assets/icons/icon-voltar.svg" />
                  <span class="d-md-none">Voltar</span>
                </a>
              </div>
              <div class="col-4 col-md-auto text-center">
                <p class="step-counter title-2 mb-0">
                  {{ step }} de {{ stepLength }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="step-title title-1 pt-4 mt-2"
            v-html="element['#title']"
          />
          <div
            class="step-description"
            v-html="element.markup_dados_pessoais['#markup']"
          />
        </div>
        <div class="form-personal px-2">
          <div class="d-flex flex-column" :class="element.nome['#title']">
            <input
              type="text"
              v-model="nome"
              ref="nome"
              :name="element.nome['#title']"
              required
            />
            <div class="description" :class="error.nome ? 'text-danger' : ''">
              {{
                error.nome
                  ? "Insira Nome e o Apelido"
                  : element.nome["#description"]
              }}
            </div>
          </div>
          <div class="d-flex flex-column">
            <input
              type="email"
              ref="email"
              v-model="email"
              :name="element.email['#title']"
              required
            />
            <div class="description" :class="error.email ? 'text-danger' : ''">
              {{
                error.email
                  ? "Insira um email válido"
                  : element.email["#description"]
              }}
            </div>
          </div>
          <div class="d-flex flex-column">
            <input
              type="tel"
              ref="tel"
              v-model="tel"
              :name="element.telefone['#title']"
              pattern="[9]{1}[0-9]{8}"
              required
            />
            <div class="description" :class="error.tel ? 'text-danger' : ''">
              {{
                error.tel
                  ? "Número de telemóvel inválido"
                  : element.telefone["#description"]
              }}
            </div>
          </div>
          <div class="d-flex align-items-start wrapper-checkbox">
            <input
              type="checkbox"
              ref="politica"
              v-model="politica"
              :name="element.politica_de_privacidade['#title']"
              :required="element.politica_de_privacidade['#required']"
            />
            <div
              v-html="element.politica_de_privacidade['#description']"
              :id="element.politica_de_privacidade['#title']"
              class="label"
            ></div>
          </div>
          <div
            class="description pb-3"
            :class="error.politica ? 'text-danger' : ''"
          >
            {{
              error.politica
                ? "Por favor, aceite a nossa Política de Privacidade"
                : ""
            }}
          </div>
          <button
            class="btn-principal subtitle-2 text-uppercase d-flex"
            @click="showResults()"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
    <ResultsCheckupOnline :element="element['markup_keys']['#markup']" />
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapState } from "vuex";
import { mapMutations } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  props: ["step", "stepLength"],
  data() {
    return {
      webform_id: "checkup_online",
      nome: "",
      email: "",
      tel: "",
      politica: false,
      error: {
        nome: "",
        email: "",
        tel: "",
        politica: false,
      },
      validatedEmail: true,
      validatedPhone: false,
    };
  },
  watch: {
    nome: function (val) {
      setTimeout(() => {
        val.trim().split(" ").length >= 2
          ? (this.error.nome = false)
          : (this.error.nome = true);
      }, 700);
    },
    email: function (val) {
      const emailValidated = String(val)
        .toLowerCase()
        .match(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );

      emailValidated
        ? (this.validatedEmail = true)
        : (this.validatedEmail = false);

      setTimeout(() => {
        !this.validatedEmail
          ? (this.error.email = true)
          : (this.error.email = false);
      }, 700);
    },
    tel: function (val) {
      const phoneValidated = val.match(/^[0-9]{9}$/);
      phoneValidated
        ? (this.validatedPhone = true)
        : (this.validatedPhone = false);

      setTimeout(() => {
        !this.validatedPhone
          ? (this.error.tel = true)
          : (this.error.tel = false);
      }, 700);
    },
  },
  methods: {
    showResults() {
      if (this.politica == false) {
        this.error.politica = true;
      }else{
        this.error.politica = false;

      }

      if (this.nome == "") {
        this.error.nome = true;
      }

      if (this.email == "") {
        this.error.email = true;
      }

      if (this.tel == "") {
        this.error.tel = true;
      }

      if (
        !this.error.nome &&
        !this.error.email &&
        !this.error.tel &&
        !this.error.politica
      ) {
        this.$store.commit("checkup/data", {
          id: this.name,
          name: this.nome,
          email: this.email,
          phone: this.tel,
          politica: this.politica,
        });
        this.$store.commit("checkup/increment");
        let results = document.getElementsByClassName("checkup-results");
        results[0].classList.remove("d-none");
        this.submitResults();
      }
    },
    submitResults() {
      const config = {
        headers: { "content-type": "application/json" },
      };

      const formData = {
        webform_id: this.webform_id,
        visitou_o_seu_medico_resposta:
          this.$store.state.checkup.answers[0].value == 1 ? true : false,
        tem_o_habito_de_lavar_os_dentes_resposta:
          this.$store.state.checkup.answers[1].value == 1 ? true : false,
        as_suas_gengivas_sangram_com_frequencia_resposta:
          this.$store.state.checkup.answers[2].value == 1 ? true : false,
        tem_falta_de_2_ou_mais_dentes_em_boca_reports:
          this.$store.state.checkup.answers[3].value == 1 ? true : false,
        sente_dor_ou_desconforto_na_sua_denticao_resposta:
          this.$store.state.checkup.answers[4].value == 1 ? true : false,
        e_um_fumador_regular_resposta:
          this.$store.state.checkup.answers[5].value == 1 ? true : false,
        a_sua_denticao_apresenta_algum_tipo_de_apinhamento_resposta:
          this.$store.state.checkup.answers[6].value == 1 ? true : false,
        tem_dores_de_cabeca_junto_aos_maxilares_ou_ouvidos_resposta:
          this.$store.state.checkup.answers[7].value == 1 ? true : false,
        esta_feliz_com_a_aparencia_do_seu_sorriso_resposta:
          this.$store.state.checkup.answers[8].value == 1 ? true : false,
        nome: this.nome,
        email: this.email,
        telefone: this.tel,
        politica_de_privacidade: this.politica == 1 ? true : false,
      };

      this.$axios
        .post("/webform_rest/submit", formData, config)
        .then((response) => {
          console.log(response);
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    goBack() {
      this.$store.commit("checkup/decrease");
      this.$store.commit("checkup/remove");
    },
  },
  computed: {
    ...mapMutations(["data", "decrease", "remove"]),
    ...mapState(["checkup"]),
  },
};
</script>

<style lang="scss" scoped>
.step {
  background: $color-amarelo;
  min-height: 100vh;
  .step-title {
    width: 50%;
    font-family: "Canela";
    font-weight: 200;
  }
  .step-description {
    font-family: "Telegraf";
    font-weight: 400;
    padding-top: 26px;
  }
  .form-personal {
    padding-top: 60px;
    font-family: "Telegraf";
    font-weight: 400;
    input {
      font-size: $font-2;
      border: none;
      background: transparent;
      appearance: none;
      border-bottom: 1px solid #252525;
    }
    .description {
      padding-top: 8px;
    }
    .description {
      padding-bottom: 40px;
    }
    .wrapper-checkbox {
      padding-bottom: 10px;
      position: relative;
      input[type="checkbox"] {
        background: none;
        width: 18px;
        height: 18px;
      }
      input[type="checkbox"]:not(:checked),
      input[type="checkbox"]:checked {
        position: absolute;
        left: 0;
        opacity: 0.01;
        z-index: 3;
      }
      input[type="checkbox"]:not(:checked) + .label,
      input[type="checkbox"]:checked + .label {
        position: relative;
        padding-left: 26px;
        cursor: pointer;
      }

      /* checkbox aspect */
      input[type="checkbox"]:not(:checked) + .label:before,
      input[type="checkbox"]:checked + .label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 18px;
        width: 18px;
        border: 1px solid $color-body;
        border-radius: 4px;
        background: none;
      }
      input[type="checkbox"]:checked + .label:before {
        background: $color-body !important;
      }

      /* checked mark aspect */
      input[type="checkbox"]:not(:checked) + .label:after,
      input[type="checkbox"]:checked + .label:after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0645 1.11389C11.2892 0.886457 11.5881 0.760724 11.8983 0.76322C12.2084 0.765716 12.5056 0.896244 12.7269 1.12726C12.9483 1.35828 13.0766 1.67172 13.0848 2.00144C13.093 2.33116 12.9805 2.65137 12.7709 2.8945L6.4079 11.3567C6.29849 11.482 6.16644 11.5826 6.01964 11.6524C5.87284 11.7222 5.71431 11.7598 5.55353 11.763C5.39275 11.7661 5.23302 11.7348 5.08389 11.6708C4.93476 11.6068 4.7993 11.5115 4.6856 11.3906L0.465941 6.90344C0.348431 6.787 0.254179 6.64659 0.188808 6.49057C0.123437 6.33456 0.0882857 6.16614 0.0854522 5.99536C0.0826188 5.82459 0.112161 5.65496 0.172316 5.49659C0.232471 5.33822 0.322006 5.19435 0.435581 5.07358C0.549155 4.9528 0.684442 4.85759 0.833371 4.79362C0.9823 4.72966 1.14182 4.69824 1.30241 4.70125C1.46301 4.70427 1.62139 4.74165 1.7681 4.81116C1.91481 4.88068 2.04686 4.9809 2.15635 5.10586L5.49572 8.65523L11.0342 1.15119C11.0442 1.13814 11.0548 1.12568 11.0661 1.11389H11.0645Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: top;
        background-size: cover;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 2px;
        left: 2px;
        color: white;
        line-height: 0;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }

      /* checked mark aspect changes */
      input[type="checkbox"]:not(:checked) + .label:after {
        opacity: 0;
        -webkit-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
      }

      input[type="checkbox"]:checked + .label:after {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
      }

      .label {
        &::v-deep a {
          font-family: inherit;
          font-weight: 700;
          color: black;
          text-decoration: underline;
        }
      }
    }
    .btn-principal {
      color: $color-body;
      background-color: $color-white;
      font-family: "Telegraf";
      font-weight: 700;
      display: inline-block;
      margin: auto;
      appearance: none;
      border: none;
      &:hover{
        background-color: $color-body !important;
        color: white !important;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .wrapper-container {
      max-width: 1060px;
      margin: auto;
      justify-content: space-between;
      .form-info{
        max-width: 460px;
        .btn-tops{
          justify-content: flex-start;
          .back-btn{
            img{
              margin-right: 40px;
              padding-top: 6px;
            }
          }
        }
        .step-title{
          font-size: 55px;
        }
        .step-description{
          font-size: 22px;
        }
      }
      .form-personal{
        max-width: 510px;
        padding-top: 100px;
        .btn-principal{
          margin-right: 0;
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-container {
      flex-direction: column !important;
      align-items: center;
      .form-info{
        text-align: center;
        max-width: 80%;
        .btn-tops{
          justify-content: center;
        }
        .step-title{
          width: 50%;
          margin: auto;
        }
      }
      .form-personal{
        padding-top: 58px;
        max-width: 80%;
        .btn-principal{
          margin-right: auto;
        }
      }
    }
  }
}
</style>
