<template>
  <div class="wrapper-markup" v-html="element['#markup']"
  :class="element['#wrapper_attributes'] ? element['#wrapper_attributes']['class'] : ''"/>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
  mixins: [DruxtWebformElementMixin],
}
</script>
