<template>
  <div class="step" :class="{ 'd-none': step !== checkup['counter'] }">
    <div class="wrapper-image">
      <div class="d-flex w-100 px-4 justify-content-start btn-tops">
        <a class="back-btn d-md-none" @click="$router.go(-1)">
          <img src="~/assets/icons/icon-voltar.svg" />
          <span>Voltar</span>
        </a>
      </div>
      <div
        class="wrapper w-100"
        v-if="device == 'desktop'"
        v-html="element.img_markup_intro['#markup']"
      />
      <div
        class="wrapper w-100"
        v-if="device == 'mobile'"
        v-html="element.img_markup_intro_mobile['#markup']"
      />
    </div>
    <div class="text-center px-4 px-md-0 wrapper-text">
      <div class="main-text" v-html="element.markup['#markup']" />
      <div class="wrapper-btn">
        <button
          class="btn-principal subtitle-2 text-uppercase"
          @click="changeStep()"
        >
          Iniciar
        </button>
      </div>
      <div
        class="micro-body footer-checkup"
        v-html="element.markup_footer['#markup']"
      />
    </div>
  </div>
</template>

<script>
import DruxtWebformElementMixin from "~/mixins/webform";
import { mapState } from "vuex";
import { mapMutations } from "vuex";

export default {
  mixins: [DruxtWebformElementMixin],
  data: () => ({
    device: "",
  }),
  props: ["step", "stepLength"],
  methods: {
    changeStep(e) {
      this.$store.commit("checkup/increment");
    },
  },
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  computed: {
    ...mapMutations(["increment"]),
    ...mapState(["checkup"]),
  },
};
</script>

<style lang="scss" scoped>
.step {
  .wrapper-text {
    padding-top: 20px;
    .main-text {
      &::v-deep h1 {
        text-transform: uppercase;
        width: 70%;
        margin: auto;
      }
      &::v-deep p {
        font-family: "Telegraf";
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
    .wrapper-btn {
      margin-bottom: 30px;
    }
    .footer-checkup {
      font-family: "Telegraf";
      font-weight: 400;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 116px;
    .wrapper-text {
      padding-top: 50px;
      .main-text {
        &::v-deep h1 {
          font-size: 55px;
          width: 100%;
          font-weight: 200;
          margin-bottom: 32px;
        }
        &::v-deep p {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .wrapper-btn {
        margin-bottom: 68px;
      }
      .footer-checkup {
        font-weight: 300;
        font-size: 13px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-text {
      .wrapper-btn {
        margin-bottom: 20px;
      }
    }
  }
}
</style>
