<template>
  <button v-text="element['#submit__label']" :class="element['#submit__attributes'] ? element['#submit__attributes']['class'] : ''" />
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
  mixins: [DruxtWebformElementMixin],
}
</script>