<template>
  <div class="step" :id="name" :stepLength="stepLength" :step="step" :class="{ 'd-none': step !== checkup['counter'] }">
    <div class="wrapper-image">
      <div class="d-flex d-md-none w-100 px-4 px-md-0 btn-tops row no-gutters">
        <div class="col-4 col-md-5">
          <a class="back-btn" @click="goBack()">
            <img src="~/assets/icons/icon-voltar.svg" />
            <span>Voltar</span>
          </a>
        </div>
        <div class="col-4 col-md-1 text-center">
          <p class="step-counter title-2 mb-0">
            {{step}} de {{stepLength}}
          </p>
        </div>
      </div>
      <div class="wrapper w-100" v-html="findValueByPrefix(element, 'img')"></div>
    </div>
    <div class="d-none d-md-flex btn-tops"
      :class="step != 1 ? '' : 'justify-content-md-center'"
    >
      <div class="btn-wrapper" v-if="step != 1">
        <a class="back-btn" @click="goBack()">
          <img src="~/assets/icons/icon-voltar.svg" />
        </a>
      </div>
      <div class="text-center">
        <p class="step-counter title-2 mb-0">
          {{step}} de {{stepLength}}
        </p>
      </div>
    </div>
    <div class="text-center px-4 wrapper-text">
      <div class="d-flex wrapper-title">
        <h1 v-text="element['#title']" />
      </div>
      <div class="wrapper-body" v-html="findValueByPrefix(element, 'markup')"></div>
      <div class="wrapper-btn">
        <button class="btn-principal subtitle-2 text-uppercase mr-4 btn-icon-yes" @click="changeStep(name, 1)">
          SIM
        </button>
        <button class="btn-principal subtitle-2 text-uppercase btn-icon-no" @click="changeStep(name, 0)">
          NÃO
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
import { mapState } from "vuex"
import { mapMutations } from 'vuex'

export default {
  mixins: [DruxtWebformElementMixin],
  props: [
    'step',
    'stepLength'
  ],
  computed: {
      ...mapMutations(["increment", "add", "decrease", "remove"]),
      ...mapState(["checkup"]),
  },
  methods: {
    condition(name, val){
      if(this.step === 1 || this.step === 2  || this.step === 9){
        if(val === 1){
          //A
          this.$store.commit('checkup/add', {'id': name, 'value': val, 'condition': 'A'})
        }else{
          //B
          this.$store.commit('checkup/add', {'id': name, 'value': val, 'condition': 'B'})
        }
      } else{
        if(val === 1){
          //B
          this.$store.commit('checkup/add', {'id': name, 'value': val, 'condition': 'B'})
        }else{
          //A
          this.$store.commit('checkup/add', {'id': name, 'value': val, 'condition': 'A'})
        }
      }
    },
    goBack() {
      this.$store.commit('checkup/decrease')
      this.$store.commit('checkup/remove')
    },
    changeStep (name, val) {
      this.$store.commit('checkup/increment')
      this.condition(name, val)
    },
    findValueByPrefix(object, prefix) {
      for (var property in object) {
        if (object.hasOwnProperty(property) && 
          property.toString().startsWith(prefix)) {
          return object[property]['#markup'];
        }
      }
    }
  },
}
</script>

<style lang="scss" scoped>  
  .wrapper-text{
    .wrapper-title{
      margin-top: 20px;
      height: 90px;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 20px;
      &::v-deep h1{
        margin-bottom: 0;
        font-size: 26px;
      }
    }
    .wrapper-body{
      padding-bottom: 44px;
    }
    .wrapper-btn{
      display: flex;
      justify-content: center;
      .btn-icon-yes{
        position: relative;
        display: flex;
        &::before{
          content: '';
          display: block;
          width: 17px;
          height: 17px;
          margin-right: 10px;
          background-image: url('~/assets/icons/yes-icon.svg');
          background-repeat: no-repeat;
        }
        &:hover{
          &::before{
            background-image: url('~/assets/icons/yes-black-icon.svg');
          }
        }
      }
      .btn-icon-no{
        position: relative;
        display: flex;
        &::before{
          content: '';
          display: block;
          width: 17px;
          height: 17px;
          margin-right: 10px;
          background-image: url('~/assets/icons/no-icon.svg');
          background-repeat: no-repeat;
        }
        &:hover{
          &::before{
            background-image: url('~/assets/icons/no-black-icon.svg');
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      .wrapper-title{
        margin-bottom: 24px;
        &::v-deep h1{
          font-size: 32px;
        }
      }
      .wrapper-body{
        padding-bottom: 40px;
        font-size: 20px;
      }
    }
  }
</style>