<template>
  <div>
    <label :for="name" v-text="element['#title']" />
    <input :id="name" type="time" :name="name" value="--:--">
  </div>
</template>

<script>
import DruxtWebformElementMixin from '~/mixins/webform'
export default {
  mixins: [DruxtWebformElementMixin],
}
</script>