<template>

  <div :class="fields.field_add_initial_spacing ? 'add-padding' : ''">

    <div
      class="content"
      :class="
        fields.field_ver_mais && this.device == 'mobile' && !$route.hash ? 'hide-content' : ''
      "
    >
      <div v-if="fields.field_mostar_titulo">
        <h1 id="pageTitle" class="page-title title-2">
          {{ entity.attributes.title }}
        </h1>
      </div>
      <div
        class="wrapper-body px-4 px-md-0 d-none d-md-flex pr-30 pl-30"
        v-if="fields.body"
      >
        <slot name="body" />
      </div>
      <div v-show="device == 'mobile'">
        <slot name="field_blocos" />
      </div>
      <div v-show="device == 'desktop'">
        <slot name="field_blocos_desktop" />
      </div>
      <div
        class="show-more text-center mb-0 d-md-none"
        v-if="fields.field_ver_mais"
        @click="showMore()"
      >
        <div class="background"></div>
        <div class="see-more-div">
          <span class="title-2 mb-2">Ver Mais </span>
          <svg
            width="20"
            height="13"
            viewBox="0 0 20 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.88 0.880005L10 8.76L2.12 0.880004L-9.26681e-08 3L10 13L20 3L17.88 0.880005Z"
              fill="#252525"
            />
          </svg>
        </div>
      </div>
      <CookiesBanner />
      <ModalMarcacao />
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],

  data() {
    return {
      mobile: false,
      modal: false,
      device: "",
    };
  },
  head() {
    return {
      title: this.title,
      meta: this.metatags,
      link: this.links,
      script: [
        {
          src:
            'https://maps.googleapis.com/maps/api/js?key=AIzaSyBlKEVFY3LZ9OWTa8E0TX23jhxQtdv9umY'
        }
      ],
    };
  },
  created() {
    if (this.$cookies.get("marcacao") == true) {
      this.modal = true;
    }
  },
  mounted() {

    if(this.$route.hash){
      setTimeout(()=>{
        window.scrollTo(0,document.getElementById(this.$route.hash.split('#')[1]).getBoundingClientRect().top)
      },2500)
    }
    this.$store.commit('setContentMounted',true)
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");

  },

  methods: {
    showMore() {
      document.querySelectorAll(".content")[0].classList.remove("hide-content");
      document.querySelectorAll(".show-more")[0].classList.add("d-none");
    },
  },

  computed: {
    title: ({ entity }) =>
      entity.attributes.metatag.find((o) => o.attributes.name === "title")
        .attributes.content,
    links: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "link")
        .map((o) => ({
          hid: o.attributes.rel,
          rel: o.attributes.rel,
          href: process.env.FE_URL + o.attributes.href,
        })),
    metatags: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "meta")
        .map((o) => {
          if (o.attributes.property && o.attributes.property.includes("og")) {
            return {
              hid: o.attributes.property,
              property: o.attributes.property,
              content: o.attributes.content,
            };
          } else {
            return {
              hid: o.attributes.name,
              name: o.attributes.name,
              content: o.attributes.content,
            };
          }
        }),

  },
};
</script>
<style lang="scss" scoped>
.content {
  position: relative;
  &.hide-content {
    height: 1500px;
    overflow: hidden;
  }
  .page-title {
    text-align: center;
    padding-top: 104px;
    padding-bottom: 24px;
    font-family: "Telegraf";
    font-weight: 700;
  }
  .wrapper-body {
    &::v-deep h1,
    &::v-deep h2,
    &::v-deep h3 {
      font-family: "Telegraf";
      font-weight: 700;
      margin-bottom: 24px;
    }
    &::v-deep p {
      font-family: "Telegraf";
      font-weight: 400;
    }
  }
  @media screen and (min-width: 768px) {
    .page-title {
      padding-top: 152px;
      padding-bottom: 24px;
      font-size: 55px;
      font-family: "Canela";
      font-weight: 200;
    }
    .wrapper-body {
      padding-top: 0;
      padding-bottom: 60px;
      max-width: 840px;
      margin: auto;
      text-align: center;
      font-size: 22px;
      &::v-deep h1,
      &::v-deep h2,
      &::v-deep h3 {
        font-family: "Telegraf";
        font-weight: 700;
        margin-bottom: 24px;
      }
      &::v-deep p {
        font-family: "Telegraf";
        font-weight: 400;
      }
    }
  }
}

.show-more {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 270px;
  .background {
    position: absolute;
    top: 0;
    height: 170px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 90.36%
    );
  }
  .see-more-div {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-family: "Telegraf";
      font-weight: 700;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
</style>
