<template>
  <component :is="wrapper.component" v-bind="wrapper.props">
    <DruxtEntity
      v-for="item of items"
      :key="item.uuid"
      v-bind="{ ...item }"
    >
    </DruxtEntity>
  </component>
</template>

<script>
import { DruxtFieldMixin } from 'druxt-entity'

export default {
  mixins: [DruxtFieldMixin],
}
</script>
