<template>
  <div>
    <b-container v-if="device == 'mobile'">
      <b-row class="mb-4 mt-4 px-4">
        <b-input-group class="justify-content-between">
          <input
            class="search-input-borderless"
            placeholder="O que procura?"
            v-model="searchTextTemplate"
            type="text"
          />
          <img
            class="header-search-icon"
            src="~/assets/icons/icon-search.svg"
          />
        </b-input-group>
      </b-row>
      <b-row v-if="resultsVisible">
        <b-col cols="12 px-4"
          ><h4 class="title-search-results">
            {{ searchResults.length }} resultados
          </h4></b-col
        >

        <b-col
          v-for="(item, key) of searchResults"
          :key="key"
          class="pb-3 mt-4 justify-content-start d-flex px-4 search-card"
          cols="12"
        >
          <img
            class="card-search-image"
            :src="
              searchMeta[item.ref].imagem
                ? $config.baseUrl + searchMeta[item.ref].imagem
                : '/card-areas-default.png'
            "
          />
          <div class="pl-3">
            <a :href="searchMeta[item.ref].href" class="card-search-href">
              <b-badge variant="primary" class="card-search-href-badge">{{
                searchMeta[item.ref].category
                  ? searchMeta[item.ref].category
                  : searchMeta[item.ref].tags
              }}</b-badge>
              <h4
                class="card-search-href-title"
                v-if="searchMeta[item.ref].title"
              >
                {{ searchMeta[item.ref].title }}
              </h4>
              <div
                class="card-search-href-body"
                v-if="searchMeta[item.ref].body"
                v-html="searchMeta[item.ref].body"
              />
            </a>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <b-container v-if="device == 'desktop'">
      <slot name="justsmile_site_branding" />
      <b-row class="mb-4 mt-4 px-4">
        <b-input-group class="justify-content-between">
          <input
            class="search-input-borderless"
            placeholder="O que procura?"
            v-model="searchTextTemplate"
            type="text"
          />
          <img
            class="header-search-icon"
            src="~/assets/icons/icon-search.svg"
          />
        </b-input-group>
      </b-row>
      <b-row v-if="resultsVisible">
        <b-col cols="12 px-4"
          ><h4 class="title-search-results">
            {{ searchResults.length }} resultados
          </h4></b-col
        >

        <b-col
          v-for="(item, key) of searchResults"
          :key="key"
          class="pb-3 mt-4 justify-content-start d-flex px-4 flex-column"
          cols="4"
        >
          <div>
            <b-badge variant="primary" class="card-search-href-badge">{{
              searchMeta[item.ref].category
                ? searchMeta[item.ref].category
                : searchMeta[item.ref].tags
            }}</b-badge>
            <img
              class="card-search-image card-search-image-desktop"
              :src="
                searchMeta[item.ref].imagem
                  ? $config.baseUrl + searchMeta[item.ref].imagem
                  : '/card-areas-default.png'
              "
            />
          </div>
          <div>
            <a :href="searchMeta[item.ref].href" class="card-search-href">
              <h4
                class="card-search-href-title"
                v-if="searchMeta[item.ref].title"
              >
                {{ searchMeta[item.ref].title }}
              </h4>
              <div
                class="card-search-href-body"
                v-if="searchMeta[item.ref].body"
                v-html="searchMeta[item.ref].body"
              />
            </a>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { BIconSearch } from "bootstrap-vue";
import LunrSearch from "lunr-module/search";

export default {
  components: {
    BIconSearch,
  },
  props: { searchTextString: String },
  data() {
    return {
      searchTextTemplate: this.searchText,
      device: "",
    };
  },
  mounted() {
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  watch: {
    searchTextTemplate: function (val) {
      this.searchText = `*${val}*`;
    },
    searchTextString: function (val) {
      this.searchTextTemplate = `${val}`;
      this.searchText = `*${val}*`;
    },
  },
  extends: LunrSearch,
};
</script>
<style lang="scss" scoped>
.card-search-image {
  font-family: "Telegraf";

  &-desktop {
    width: 400px;
    height: 220px !important;
    border-radius: 10px;
  }
}
.card-search-href-badge {
  font-family: "Telegraf";
  position:absolute;
  margin-top:15px;
  margin-left:20px
}
</style>
