<template>
  <div class="multi-step-form">
    <DruxtWebformElement
      v-for="([key, element], index) in Object.entries(elements)"
      :key="key"
      :element="element"
      :name="key"
      class="form-step"
      :step="index"
      :stepLength="Object.entries(elements).length - 1"
    />
  </div>
</template>

<script>
import yaml from "js-yaml";
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  props: {
    schema: undefined,
    fields: { required: false },
  },
  computed: {
    elements: ({ entity }) => yaml.load(entity.attributes.elements),
  },
};
</script>
