<template>
  <div class="schedule-page">
    <a
      v-if="currentStep !== 3 && this.device == 'mobile'"
      class="back-btn"
      @click="stepBack"
    >
      <img src="~/assets/icons/icon-voltar.svg" />
      <span>Voltar</span>
    </a>
    <div class="schedule-page__steps">
      <div class="steps mx-lg-5" :class="{ 'd-none': currentStep !== 1 }">
        <div class="steps__container">
          <div
            class="steps__title w-75"
            v-html="elements.marcacao_online['#title']"
          ></div>

          <div
            class="steps__description mt-4"
            v-html="elements.marcacao_online.markup_data['#markup']"
          ></div>
        </div>

        <div class="calendar mt-4">
          <client-only>
            <v-date-picker
              value=""
              is-expanded
              :first-day-of-week="2"
              :rows="screens({ default: 8, desktop: 1 })"
              :disabled-dates="{ weekdays: [1] }"
              :min-date="
                new Date(
                  new Date().getFullYear(),
                  new Date().getMonth(),
                  new Date().getDate() + 1
                )
              "
              :max-date="null"
              is-required
              locale="pt"
              @dayclick="dayClicked"
            />
          </client-only>
          <p class="description" :class="error1 ? 'text-danger' : ''">
            {{ error1 ? "Escolher uma data" : "" }}
          </p>
        </div>
      </div>

      <div class="steps mx-lg-5" :class="{ 'd-none': currentStep !== 2 }">
        <div class="steps__container">
          <div
            class="steps__title w-75"
            v-html="elements.marcacao_online_2['#title']"
          ></div>

          <div
            class="steps__description mt-4"
            v-html="elements.marcacao_online_2.markup_dados_pessoais['#markup']"
          ></div>
        </div>

        <div class="contacts mt-5">
          <form class="schedule_form">
            <div class="schedule_form__group">
              <input type="text" ref="name" required />
              <small
                class="form-text"
                :class="error1 ? 'text-danger' : ''"
                v-html="
                  error1
                    ? 'Insira o nome e o apelido'
                    : elements.marcacao_online_2.nome['#description']
                "
              >
              </small>
            </div>

            <div class="schedule_form__group">
              <input type="email" ref="email" v-model="email" required />
              <small
                class="form-text"
                :class="error2 ? 'text-danger' : ''"
                v-html="
                  error2
                    ? 'Insira um email correto'
                    : elements.marcacao_online_2.email['#description']
                "
              >
              </small>
            </div>

            <div class="schedule_form__group">
              <input
                type="text"
                ref="phone"
                pattern="[9]{1}[0-9]{8}"
                v-model="phone"
                required
              />
              <small
                class="form-text"
                :class="error3 ? 'text-danger' : ''"
                v-html="
                  error3
                    ? 'Insira um número de telemóvel correto'
                    : elements.marcacao_online_2.telefone['#description']
                "
              >
              </small>
            </div>
          </form>
        </div>
      </div>
      <div class="steps mx-lg-5" :class="{ 'd-none': currentStep !== 3 }">
        <div class="steps__container">
          <div class="mt-4 text-center text-lg-left">
            <img src="~/assets/images/marcacao.svg" />
          </div>

          <div
            class="steps__title steps__title_last text-center text-lg-left"
            v-if="device == 'mobile'"
          >
            Confirme o seu Agendamento
          </div>

          <div class="steps__description mt-4 text-center text-lg-left">
            Verifique por favor se os dados que indicou para agendamento da sua
            consulta estão corretos. Esperamos por si em breve!
          </div>
        </div>

        <div class="schedule_confirmation mt-5 pl-2">
          <div class="results">
            <div class="d-flex flex-row align-items-center pt-2 pb-2 line">
              <img src="~/assets/images/icon-calendar-date.svg" />
              <div class="pl-3 date">{{ this.selectedDay }}</div>
            </div>

            <div class="d-flex flex-row pt-2 line">
              <img src="~/assets/images/icon-details.svg" />
              <div class="pl-4">
                <p class="mb-0">{{ this.name }}</p>
                <p class="mb-0">{{ this.email }}</p>
                <p class="mb-0">{{ this.phone }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 text-center text-lg-right buttons-container">
        <div
          class="dots d-flex justify-content-center"
          v-if="device == 'mobile'"
        >
          <div class="dot" :class="{ active: currentStep === 1 }"></div>
          <div class="dot" :class="{ active: currentStep === 2 }"></div>
          <div class="dot" :class="{ active: currentStep === 3 }"></div>
        </div>
        <div class="mt-3">
          <button
            class="next-step mr-2"
            v-if="(currentStep != 1 && device == 'desktop')"
            @click="stepBack"
          >
            Voltar
          </button>
           <button
            class="next-step mr-2"
            v-if="(currentStep == 3 && device == 'mobile')"
            @click="stepBack"
          >
            Voltar
          </button>
          <button class="next-step" v-if="currentStep == 1" @click="step2">
            Avançar
          </button>
          <button class="next-step" v-if="currentStep == 2" @click="nextStep">
            Avançar
          </button>
          <button
            class="next-step"
            v-if="currentStep === 3"
            @click="scheduleConfirm"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import yaml from "js-yaml";
import { DruxtEntityMixin } from "druxt-entity";
import moment from "moment";
import "moment/locale/pt-br";

export default {
  mixins: [DruxtEntityMixin],
  props: {
    schema: undefined,
    fields: { required: false },
  },
  mounted() {
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },

  computed: {
    elements: ({ entity }) => yaml.load(entity.attributes.elements),
  },

  data() {
    return {
      currentStep: 1,
      name: "",
      email: "",
      phone: "",
      selectedDay: "",
      finalDate: "",
      error1: false,
      error2: false,
      error3: false,
      validatedEmail: false,
      validatedPhone: false,
      device: "",
    };
  },

  watch: {
    email: function (val) {
      const emailValidated = String(val)
        .toLowerCase()
        .match(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );

      emailValidated
        ? (this.validatedEmail = true)
        : (this.validatedEmail = false);

      setTimeout(() => {
        !this.validatedEmail ? (this.error2 = true) : (this.error2 = false);
      }, 700);
    },

    phone: function (val) {
      const phoneValidated = val.match(/^[0-9]{9}$/);
      phoneValidated
        ? (this.validatedPhone = true)
        : (this.validatedPhone = false);

      setTimeout(() => {
        !this.validatedPhone ? (this.error3 = true) : (this.error3 = false);
      }, 700);
    },
  },
  methods: {
    screens(args) {
      if (process.client) {
        return this.$screens(args);
      } else {
        return 1; // <-- your default value
      }
    },
    step2() {
      if (this.selectedDay != "") {
        this.currentStep = 2;
        this.error1 = false;
      } else {
        this.error1 = true;
      }
    },
    nextStep() {
      if (
        this.$refs.name.value != "" &&
        this.$refs.name.value.trim().split(" ").length >= 2
      ) {
        this.error1 = false;
        this.name = this.$refs.name.value;
      } else {
        this.error1 = true;
      }
      if (this.$refs.email.value == "") {
        this.error2 = true;
      }
      if (this.$refs.phone.value == "") {
        this.error3 = true;
      }

      if (
        !this.error1 &&
        this.validatedEmail == true &&
        this.validatedPhone == true
      ) {
        this.currentStep = 3;
      }
    },

    stepBack() {
      if (this.currentStep == 1) {
        this.$router.go(-1);
      } else {
        this.currentStep = this.currentStep - 1;
      }
    },

    scheduleConfirm() {
      const config = {
        headers: { "content-type": "application/json" },
      };

      const formData = {
        webform_id: "marcacao_online",
        data_de_marcacao: this.finalDate,
        nome: this.name,
        email: this.email,
        telefone: this.phone,
      };

      this.$axios
        .post("/webform_rest/submit", formData, config)
        .then((response) => {
          this.$cookies.set("marcacao", true);
          this.$router.push("/");
        })
        .catch((err) => {
          console.log(err.response);
        });
    },

    dayClicked(day) {
      //remove highligth for click
      var allElements = document.querySelectorAll(".highlight");
      if (allElements != "") {
        for (var i = 0; i < allElements.length; i++) {
          allElements[i].classList.remove("highlight");
        }
      }

      day.classes.push("highlight");
      moment.updateLocale("pt-pt", {
        months: [
          "Janeiro",
          "Fevereiro",
          "Março",
          "Abril",
          "Maio",
          "Junho",
          "Julho",
          "Agosto",
          "Setembro",
          "Outubro",
          "Novembro",
          "Dezembro",
        ],
      });
      const date = moment(day.id).format("D \\d\\e MMMM, YYYY");
      this.selectedDay = date;

      const finalDate = moment(day.id).format("M/D/YYYY");
      this.finalDate = finalDate;
    },
  },
};
</script>
<style lang="scss" scoped>
.schedule {
  &_form {
    .text-danger {
      color: #a70e1d !important;
    }
  }
  &_confirmation {
    @media (min-width: 1026px) {
      width: 35vw;
    }
    @media screen and (min-width: 768px) and (max-width: 1025px) {
      width: 70%;
    }
  }
  &-page__steps {
    @media (min-width: 1025px) {
      margin-top: 200px;
    }
    @media screen and (min-width: 768px) and (max-width: 1025px) {
      margin-top: 124px;
    }
  }
}

.buttons-container {
  @media (min-width: 1025px) {
    margin-right: 14vw;
  }
}
</style>
