<template>
  <div>
    <div class="newsletter-form">
      <div class="wrapper-elements px-4">
        <form>
          <DruxtWebformElement
            v-for="[key, element] in Object.entries(elements)"
            :key="key"
            :element="element"
            :name="key"
            :stepLength="Object.entries(elements).length - 1"
            :modeltouse="key + '_' + webform_id"
          />
          <div class="wrapper-btn">
            <button
              class="btn-principal subtitle-2 text-uppercase"
              @click.prevent="sendResults()"
            >
              Confirmar
            </button>
          </div>
        </form>
      </div>
    </div>
    <ResultsNewsletter />
  </div>
</template>

<script>
import yaml from "js-yaml";
import { DruxtEntityMixin } from "druxt-entity";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  props: {
    schema: undefined,
    fields: { required: false },
  },
  computed: {
    elements: ({ entity }) => yaml.load(entity.attributes.elements),
  },
  data() {
    return {
      webform_id: "newsletter",
      nome_e_apelido: "",
      email: "",
    };
  },
  computed: {
    ...mapGetters({
      getErrorNameApelido: "errors/getErrorNameApelido",
      getErrorEmail: "errors/getErrorEmail",
    }),

    elements: ({ entity }) => yaml.load(entity.attributes.elements),
  },
  methods: {
    sendResults() {
      this.nome_e_apelido = document.getElementById(
        "nome_e_apelido_" + this.webform_id
      ).value;
      this.email = document.getElementById("email_" + this.webform_id).value;

      if (this.nome_e_apelido == "") {
        this.$store.commit("errors/setErrorNameApelido", "Insira o nome e o apelido");
      }
      if (this.email == "") {
        this.$store.commit("errors/setErrorEmail", "Insira um email correto");
      }

      if (
        this.getErrorNameApelido == false &&
        this.getErrorEmail == false &&
        this.email != "" &&
        this.nome_e_apelido != ""
      ) {
        const config = {
          headers: { "content-type": "application/json" },
        };

        const formData = {
          webform_id: this.webform_id,
          nome_e_apelido: this.nome_e_apelido,
          email: this.email,
        };
        let form = document.getElementsByClassName("newsletter-form");
        form[0].classList.add("d-none");
        let results = document.getElementsByClassName("newsletter-results");
        results[0].classList.remove("d-none");

        this.$axios
          .post("/webform_rest/submit", formData, config)
          .then((response) => {})
          .catch((err) => {
            console.log(err.response);
          });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.wrapper-elements {
  @media (min-width: 768px) {
    padding: 102px 0 0 0 !important;
  }
}
.newsletter-form {
  input {
    &:focus {
      outline: none !important;
      border-bottom: 1px solid black;
    }
    border: none;
    width: 60vw;
    border-radius: 0;
    outline: none !important;
    border-bottom: 1px solid black;
  }
}
</style>
