//Tablet exceptions


@media screen and (min-width: 768px) and (max-width: 1025px) {
    .pl-30{
        padding-left: 30px !important;
    }
    .pr-30{
        padding-right: 30px !important;
    }
}