.text-align-center{
    text-align: center;
}
.w-inherit{
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;
}
strong{
    font-weight: 700;
}
.color-white{
    color: white;
}

.bg-yellow{
    background-color: $color-amarelo;
}
.bg-brow{
    background-color: $color-primary;
}
.bg-black{
    background-color: $color-body;
}
.bg-white{
    background-color: white;
}
.bg-gray{
    background-color: $color-terciary;
}
.add-padding{
    padding-top: 115px;
    @include media-breakpoint-up(md) {
        padding-top: 152px;
    }
}

.align-center{
    display: block;
    margin: auto;
}
.align-right{
    display: block;
    margin-left: auto;
}
.align-left{
    display: block;
    margin-right: auto;
}