html {
    font-size: $font-root;
}

body {
    font-size: $font-body;
}


h1, .title-1{
    font-size: $font-1;
    font-weight: normal;
    font-family: 'Canela';
    font-weight: 300;
}

h2, .title-2{
    font-size: $font-2;
    font-weight: 700;
    font-family: 'Telegraf';
}

blockquote, .quote, .quote-2{
    font-size: $font-quote;
    font-weight: 300;
    font-family: 'Canela';
    quotes: "“" "”";
    &::before {
        content: open-quote;
    }
    &::after {
        content: close-quote;
    }
}
.quote-2{
    font-size: 20px;
}

.subtitle-1{
    font-size: $font-subtitle-1;
    font-weight: 300;
    font-family: 'Canela';
}

.subtitle-2{
    font-size: $font-subtitle-2;
    font-weight: 300;
    font-family: 'Canela';
}

a{
    font-size: $font-body;
    font-weight: 700;
    font-family: 'Canela';
    color:$color-menu-link-active;
    text-decoration: underline;
}

.micro-body{
    font-size: $font-micro-body;
}



//Styles WYSYWIG
.f-32{
    font-size: 2rem;
}
