@font-face {
    font-family: 'Canela';
    font-feature-settings: 'case' on;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Canela-Text-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Canela';
    font-feature-settings: 'case' on;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/Canela-Text-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Canela';
    font-feature-settings: 'case' on;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('~assets/fonts/Canela-Text-Light.woff') format('woff');
}

@font-face {
    font-family: 'Canela';
    font-feature-settings: 'case' on;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/Canela-Text-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Canela';
    font-feature-settings: 'case' on;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('~assets/fonts/Canela-Text-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-Light.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-UltraBold.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('~assets/fonts/Telegraf-UltraLight.woff') format('woff');
}
