// Typography
// ----------------------------------------------------------------------------
$font-family-sans-serif: 'Canela', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.2;

$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 768px,
  lg: 1025px,
  xl: 1234px
);


$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1280px
);

// Type
// ----------------------------------------------------------------------------

$font-1: 2rem;
$font-2: 1.375rem;

$font-subtitle-1: 1.375rem;
$font-subtitle-2: 1.125rem;

$font-quote: 1.625rem;

$font-root: 100%;
$font-body: 0.95rem;
$font-micro-body: 0.813rem;


// JustSmile Colors
// ----------------------------------------------------------------------------
$color-body: #252525;
$color-primary: #8A7459;
$color-secondary: #CDC3B7;
$color-terciary: #EDF2F1;
$color-white: #fff;
$color-black: #000;
$color-gray: #616161;
$color-menu-link: $color-white;
$color-menu-link-active: #252525;
$color-amarelo: #F7A945;
$color-search-border: #E1E1E1;