.btn-principal{
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 18px;
    &:hover{
        text-decoration: none;
        background-color: white !important;
        color: $color-body !important;
        box-shadow: 0px 20px 35px rgba(37, 37, 37, 0.2);
    }
    &:active{
        text-decoration: none;
        background-color: white !important;
        color: $color-body !important;
    }
    @include media-breakpoint-up(md) {
        border-radius: 100px;
    }
}

.btn-body{
    background-color: $color-body;
    color: $color-white;
    border: 1px solid $color-body;
    &:hover{
        background-color: $color-white;
        border: 1px solid $color-white;
        color: $color-body;
        box-shadow: 6px 11px 16px rgb(0 0 0 / 20%);
      }
    &:active{
        background-color: $color-white;
        border: 1px solid $color-white;
        color: $color-body;
    }
}

.btn-white{
    background-color: $color-white;
    border: 1px solid $color-body;
    color: $color-body;
    &:hover{
        background-color: $color-body !important;
        color: $color-white !important;
        box-shadow: 6px 11px 16px rgba(0, 0, 0, 0.2);
    }
    &:active{
        background-color: $color-body !important;
        color: $color-white !important;
    }
}

.btn-plus{
    position: relative;
    font-size: 0;
    width: 36px;
    height: 36px;
    display: inline-block;
    &::before{
        content: '';
        background-image: url('~/assets/icons/icon-mais.svg');
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: 14px 14px;
        background-repeat: no-repeat;
    }
}
