.card.banner-cookies {
  font-family: 'Telegraf';
  font-style: normal;
  position: fixed;
  bottom: 0;
  height: 316px !important;
  margin-bottom: 70px;
  @media(min-width: 768px){
    border-radius: 10px;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 619px;
    height: 388px !important;
    padding: 0 !important;
    z-index: 999;
  }
  .card-title {
    font-family: 'Telegraf';
    font-size: 27px;
    font-weight: 700;
    line-height: 23px;

    @media(min-width:768px){
      margin-bottom:24px;
      font-style: normal;
      font-size: 32px;
      line-height: 34px;
    }
  }

  .card-body {
    font-size: 13px;
    line-height: 14px;
    padding-top: 40px;
    justify-content: space-between;

    @media(min-width:768px){
      justify-content: start;
      padding:40px;
      font-size: 18px;
      line-height: 25px;
    }
  }
  .card-text {
    @media(min-width:768px){
     margin-bottom:40px
    }
  }

  .btn-accept-cookies {
    font-weight: 700;
    font-size: 18px;
    line-height: 37px;
    color: #FFFFFF;
    background-color: $color-body;
    border-radius: 18px;
    padding: 0 20px;
    border: none;
    appearance: none;
    height: 34px;
    @media(min-width:768px){
      margin-right: 26px;
    }
  }

  .card-link {
    text-decoration: underline;
    color: $color-body;
    font-weight: 400;
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    top: unset;
    bottom: 30px;
    margin-bottom: 0;
    max-width: calc(100% - 60px);
    height: unset !important;
    .card-body{
      padding: 35px 40px;
      .card-title {
        margin-bottom: 20px;
      }
      .card-text{
        font-weight: 400;
      }
    }
  }
}
