.footer {
  position: relative;
  padding-top: 100px;

  &::before {
    content: "";
    position: absolute;
    height: 1230px;
    bottom: 0;
    width: 100%;
    left: 0px;
    background: linear-gradient(
      181.11deg,
      rgba(255, 255, 255, 0) 1.03%,
      #a3927c 73.88%,
      #8a7459 93.64%
    );
    z-index: -1;
  }

  .footer-top {
    .wrapper {
      display: flex;

      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      p {
        font-family: "Telegraf";
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 0;
      }

      img {
        width: 376px;
        height: 60px;
      }
    }
  }

  .footer-middle {
    padding-top: 88px;

    .footer-title {
      font-size: 20px;
    }

    .bloco-fale-equipa {
      padding-bottom: 60px;

      h2 {
        font-family: "Canela";
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 26px;
        max-width: 220px;
      }

      .wrapper {
        > div > div {
          display: flex;

          > div:last-of-type {
            margin-left: 24px;
          }
        }

        .card-titulo-cta {
          min-width: 150px;
          background: transparent;
        }
      }
    }

    .wrapper-basic {
      font-size: 14px;
      max-width: 330px;
      h2,
      h3,
      h4 {
        font-family: "Canela";
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 30px;
      }

      p {
        font-family: "Telegraf";
      }

      a {
        color: $color-body;
        font-family: "Telegraf";
      }

      strong {
        a {
          font-weight: 700;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 66px;
    background-color: $color-body;
    color: white;
    font-size: 12px;
    font-family: "Telegraf";
    font-weight: 400;
    padding: 38px 0;

    .wrapper {
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .footer-legal-links {
        a {
          font-family: "Telegraf";
          font-weight: 400;
          font-size: 12px;
          color: $color-primary;
          margin-right: 16px;
          text-transform: uppercase;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .container{
      padding-left: 30px;
      padding-right: 30px;
      .footer-top{
        p:first-of-type{
          display: none;
        }
      }
    }
    .footer-middle{
      .pl-special{
        padding-left: 65px;
      }
    }
    .footer-bottom{
      margin-top: 56px;
      padding: 32px 30px;
      .footer-legal-links {
        div{
          justify-content: flex-end;
          a {
            margin-right: 0 !important;
            margin-left: 16px;
          }
        }
      }
    }
  }
}
