.step {
  padding-bottom: 64px;
  @media(min-width:1980px){
    .wrapper-image{
      width: 1980px;
      margin: 0 auto;
    }
  }
  .wrapper-image,
  .wrapper-btns {
    position: relative;
    height: 460px;

    .btn-tops {
      padding-top: 38px;
      position: relative;

      .close-btn {
        font-family: 'Telegraf';
        font-weight: 700;

        &:hover {
          cursor: pointer;
        }
      }

      .back-btn {
        font-family: 'Telegraf';
        font-weight: 700;
        font-size: 18px;
        line-height: 19px;
        color: #000;

        img {
          margin-right: 10px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .wrapper-btns {
    height: unset;
  }

  .wrapper-text {
    .wrapper-btn {
      .btn-principal {
        color: white;
        background-color: $color-amarelo;
        font-family: 'Telegraf';
        font-weight: 700;
        display: inline-block;
        margin: 0;
        appearance: none;
        border: none;
      }
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $color-amarelo inset !important;
  }

  @media screen and (min-width: 768px) {
    padding-top: 116px;

    .wrapper-text {
      max-width: 620px;
      margin: auto;
    }

    .btn-tops {
      padding-top: 32px;
      position: relative;
      justify-content: center;
      width: max-content;
      margin: auto;

      .btn-wrapper {
        position: absolute;
        left: -60px;
        bottom: 8px;
      }

      .step-counter {
        font-size: 24px;
      }
    }
  }
  @media screen and (min-width: 1441px) {
    .wrapper-image{
      min-height: 580px;
    }
  }
}

//Fale connosco Form
.wrapper-form-fale-connosco {
  padding-bottom: 36px;

  .btn-send {
    font-family: 'Telegraf';
    font-weight: 700;
    margin: auto;
    appearance: none;
    border: none;
    background-color: $color-primary;
  }

  .wrapper-elements {
    form {
      >div {
        padding-left: 14px;
        padding-right: 14px;

        &:first-of-type {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
  }

  @media screen and (min-width: 768px) {
    background: $color-secondary;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;

    .btn-send {
      margin-left: auto;
      margin-right: 0;
      color: white;
      background-color: $color-body;
      max-width: 112px;
    }

    .wrapper-elements {
      max-width: 1060px;
      margin: auto;

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 768px;

        >div {
          padding-left: 0;
          padding-right: 0;
          width: 510px;
          margin-left: auto;

          &:first-of-type {
            width: 400px;
            height: 100%;
            margin-left: unset;
          }
        }

        input {
          font-size: 24px;
          border-color: rgba(37, 37, 37, 0.2);
        }

        .description {
          padding-top: 12px;
          color: $color-body;
        }

        .wrapper-checkbox {
          .description {
            font-size: 13px;
            padding-top: 0;

            a {
              font-size: inherit;
              font-family: inherit;
            }
          }
        }

        .wrapper-textarea {
          .description {
            padding-top: 0;
          }

          textarea {
            border-color: rgba(37, 37, 37, 0.2)
          }
        }

        .wrapper-textfield {
          padding-top: 0;
        }

        .wrapper-markup {
          h4 {
            font-size: 55px;
            line-height: 60px;
            font-weight: 200;
            margin-bottom: 36px;
            text-transform: uppercase;
          }

          p {
            font-family: 'Telegraf';
            font-weight: 300;
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    padding-top: 80px;
    padding-bottom: 80px;

    .wrapper-elements {
      form {
        height: unset !important;

        >div {
          width: 100% !important;
          margin-left: unset !important;

          &:first-of-type {
            height: unset !important;
            width: 100%;

            h4 {
              width: 50%;
            }
          }

          &:nth-child(2) {
            padding-top: 65px;
          }
        }
      }
    }
  }
}

//Newsletter form
.newsletter-form {


  padding-top: 87px;
  padding-bottom: 106px;

  .wrapper-markup {
    h3 {
      font-family: 'Canela';
      font-weight: 200;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
      margin-bottom: 12px;
      width: 70%;
    }

    p {
      font-family: 'Telegraf';
      font-weight: 400;
      font-size: 15px;
      line-height: 16px;
      color: $color-gray;
    }

    &.check-terms {
      padding-top: 38px;
      padding-bottom: 46px;
      padding-left: 0 !important;
      font-family: 'Telegraf';
      font-weight: 400;
      font-size: 13px;
      line-height: 14px;
      color: $color-gray;

      a {
        font-family: 'Telegraf';
        font-weight: 700;
        color: $color-body;
        font-size: 13px;
        line-height: 14px;
      }
    }
  }

  input::placeholder {
    font-size: 15px;
  }

  .wrapper-btn {
    display: flex;
    justify-content: center;

    .btn-principal {
      color: white;
      background-color: $color-amarelo;
      font-family: 'Telegraf';
      font-weight: 700;
      display: inline-block;
      margin: 0;
      appearance: none;
      border: none;
    }
  }



  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;

    .btn-send {
      margin-left: auto;
      margin-right: 0;
      color: white;
      background-color: $color-body;
      max-width: 112px;
    }

    .wrapper-btn {
      justify-content: flex-end;
    }

    .wrapper-elements {
      max-width: 1060px;
      margin: auto;

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 480px;

        >div {
          padding-left: 0;
          padding-right: 0;
          width: 510px;
          margin-left: auto;

          &:first-of-type {
            width: 410px;
            height: 100%;
            margin-left: unset;
          }
        }

        input {
          font-size: 24px;
          border-color: rgba(37, 37, 37, 0.2);
        }

        .description {
          padding-top: 12px;
          color: $color-body;
        }

        .wrapper-checkbox {
          .description {
            font-size: 13px;
            padding-top: 0;

            a {
              font-size: inherit;
              font-family: inherit;
            }
          }
        }

        .wrapper-textarea {
          .description {
            padding-top: 0;
          }

          textarea {
            border-color: rgba(37, 37, 37, 0.2)
          }
        }

        .wrapper-textfield {
          padding-top: 0;
        }

        .wrapper-markup {
          font-family: 'Telegraf';
          font-weight: 300;
          font-size: 22px;
          line-height: 32px;

          &.check-terms {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
          }

          h3 {
            font-family: 'Canela';
            font-weight: 200;
            font-size: 50px;
            line-height: 60px;
            text-transform: uppercase;
            margin-bottom: 37px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-elements {
      form {
        flex-wrap: unset !important;
        height: unset !important;

        >div {
          margin: 0 auto !important;

          &:nth-of-type(2) {
            margin-top: 50px !important;
          }
        }
      }
    }
    .wrapper-btn{
      justify-content:center;
    }

  }
}

.wrapper-elements {
  .wrapper-markup {
    h4 {
      font-family: 'Canela';
      font-weight: 300;
      font-size: 22px;
      line-height: 29px;
    }

    p {
      font-family: 'Telegraf';
      font-weight: 400;
      color: $color-body;
      margin-bottom: 0;
    }
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #616161;
    font-family: 'Telegraf';
    font-weight: 400;
    appearance: none;
    border-radius: 0;
    font-size: 22px;
    outline: none;
    background: transparent;
  }

  .description {
    padding-top: 8px;
    margin-bottom: 0;
    font-family: 'Telegraf';
    font-weight: 400;
    color: #616161;
  }

  .wrapper-textfield {
    padding-top: 36px;

    &-version {
      ::placeholder {
        color: #252525;
        opacity: 1;
      }
    }
  }

  .wrapper-email,
  .wrapper-tel {
    padding-top: 52px;
  }

  .wrapper-textarea {
    padding-top: 40px;

    p {
      padding-top: 0;
      margin-bottom: 8px;
    }

    textarea {
      width: 100%;
      height: 140px;
      overflow-y: auto;
      font-family: 'Telegraf';
      font-weight: 400;
      resize: none;
      appearance: none;
      border-radius: 0;
      border: 1px solid #616161;
      font-size: 22px;
      outline: none;
      background: transparent;
    }
  }

  .wrapper-checkbox {
    padding-top: 26px;
    padding-bottom: 30px;
    position: relative;

    input[type="checkbox"] {
      background: none;
      width: 18px;
      height: 18px;
    }

    input[type="checkbox"]:not(:checked),
    input[type="checkbox"]:checked {
      position: absolute;
      left: 0;
      opacity: 0.01;
      z-index: 3;
    }

    input[type="checkbox"]:not(:checked)+p,
    input[type="checkbox"]:checked+p {
      position: relative;
      padding-left: 26px;
      cursor: pointer;
    }

    /* checkbox aspect */
    input[type="checkbox"]:not(:checked)+p:before,
    input[type="checkbox"]:checked+p:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      width: 18px;
      border: 1px solid $color-body;
      border-radius: 4px;
      background: none;
    }

    input[type="checkbox"]:checked+p:before {
      background: $color-body !important;
    }

    /* checked mark aspect */
    input[type="checkbox"]:not(:checked)+p:after,
    input[type="checkbox"]:checked+p:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0645 1.11389C11.2892 0.886457 11.5881 0.760724 11.8983 0.76322C12.2084 0.765716 12.5056 0.896244 12.7269 1.12726C12.9483 1.35828 13.0766 1.67172 13.0848 2.00144C13.093 2.33116 12.9805 2.65137 12.7709 2.8945L6.4079 11.3567C6.29849 11.482 6.16644 11.5826 6.01964 11.6524C5.87284 11.7222 5.71431 11.7598 5.55353 11.763C5.39275 11.7661 5.23302 11.7348 5.08389 11.6708C4.93476 11.6068 4.7993 11.5115 4.6856 11.3906L0.465941 6.90344C0.348431 6.787 0.254179 6.64659 0.188808 6.49057C0.123437 6.33456 0.0882857 6.16614 0.0854522 5.99536C0.0826188 5.82459 0.112161 5.65496 0.172316 5.49659C0.232471 5.33822 0.322006 5.19435 0.435581 5.07358C0.549155 4.9528 0.684442 4.85759 0.833371 4.79362C0.9823 4.72966 1.14182 4.69824 1.30241 4.70125C1.46301 4.70427 1.62139 4.74165 1.7681 4.81116C1.91481 4.88068 2.04686 4.9809 2.15635 5.10586L5.49572 8.65523L11.0342 1.15119C11.0442 1.13814 11.0548 1.12568 11.0661 1.11389H11.0645Z' fill='white'/%3E%3C/svg%3E%0A");
      background-position: top;
      background-size: cover;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 2px;
      left: 2px;
      color: white;
      line-height: 0;
      -webkit-transition: all .2s;
      transition: all .2s;
    }

    /* checked mark aspect changes */
    input[type="checkbox"]:not(:checked)+p:after {
      opacity: 0;
      -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
    }

    input[type="checkbox"]:checked+p:after {
      opacity: 1;
      -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    p {
      padding-top: 0;
      color: unset;
      text-decoration: none;

      a {
        color: unset;
        text-decoration: underline;
      }
    }
  }
}

.schedule-page {
  background-color: $color-primary;
  min-height: 100vh;
  padding: 35px 24px;
  padding-bottom: 100px;

  .back-btn {
    font-family: 'Telegraf';
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #252525;

    &:hover {
      cursor: pointer;
    }
  }

  .next-step {
    font-family: "Telegraf";
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 18px;
    background-color: #fff;
    color: $color-primary;
    padding: 8px 20px;
    text-transform: uppercase;

    &:hover {
      @media(min-width:768px){

        cursor: pointer;
        color:white;
        background-color: #000;
        border: 1px solid #000;
        box-shadow: 0px 20px 35px rgba(37, 37, 37, 0.2);
      }
    }

    @media(min-width:768px) {
      color: $color-body;
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    &__title {
      margin-top: 30px;
      font-family: "Canela";
      font-weight: 200;
      font-size: 32px;
      line-height: 38px;
      color: #fff;
      text-transform: uppercase;

      &_last {
        text-transform: none;
        font-size: 26px;
      }
    }

    &__description {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 15px;
      line-height: 16px;
      color: #fff;
    }

    &__content {
      width: 100%;
      text-align: center;
    }

    .results {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 20px;
      line-height: 21px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: start;

      &__container {
        width: 35vw !important;
      }

      &__title {
        font-size: 55px;
        line-height: 60px;
      }

      &__description {
        font-size: 22px;
        line-height: 32px;
      }
    }

    .calendar {
      text-align: center;
      padding-left: 14px;
      padding-right: 14px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, rgba(138, 116, 89, 0) -100.57%, #8A7459 57.47%);
        z-index: 12;

        @media(min-width:768px) {
          display: none;
        }
      }

      .vc-container {
        height: 340px;

        @media(min-width:768px) {
          height: 400px;
        }

        overflow: auto;
        border: none;
        background-color: $color-primary;
        color: white;

        .vc-header {
          @media(min-width:768px) {
            padding-top: 0px !important;
            padding-bottom: 16px;
          }

          .vc-title {
            color: white;
            text-transform: capitalize;
          }
        }

        .vc-weekday {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          color: $color-secondary;
        }

        .vc-day-content {
          @media(min-width:768px) {
            margin: 12px 0 !important;
          }
        }

        .vc-day:not(.in-next-month) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .vc-weeks {
          .is-disabled {
            cursor: not-allowed;
            color: $color-secondary;
            pointer-events: none;
          }

          .vc-day-content.is-disabled {
            &:hover {
              background: none !important;
            }
          }
        }

        .highlight {
          .vc-highlight {
            background-color: white !important;
          }

          .vc-day-content {
            @media(min-width:768px) {
              margin: 12px 0 !important;
            }

            color: $color-primary !important;
          }
        }
      }

      .vc-arrows-container {
        display: none;
      }

      .description {
        position: relative;
        z-index: 15;
        font-family: 'Telegraf';
        font-weight: 400;
      }

      @media(min-width:768px) {
        width: 35vw;

        .vc-arrows-container {
          display: flex !important;
          width: 60%;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          padding: 0;
          height: 28px;

          .vc-arrow {
            position: relative;
            width: 20px;
            height: 20px;

            &:hover {
              background: none !important;
            }

            svg {
              display: none;
            }

            &::before {
              content: '';
              position: absolute;
              top: 4px;
              width: 16px;
              height: 16px;
              background-repeat: no-repeat;
            }

            &.is-left {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z' fill='%23252525'/%3E%3C/svg%3E%0A");
              }
            }

            &.is-right {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11959e-07 9L12.17 9L6.58 14.59L8 16L16 8L8 -6.99382e-07L6.59 1.41L12.17 7L7.86805e-07 7L6.11959e-07 9Z' fill='%23252525'/%3E%3C/svg%3E%0A");
              }
            }
          }
        }
      }
    }

    .schedule_form {
      @media(min-width:768px) {
        width: 35vw;
      }

      font-family: "Telegraf";
      font-weight: 400;

      &__group {
        padding: 12px 8px;
      }

      input {
        width: 100%;
        background-color: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: rgba(255, 255, 255, 0.3);
        color: #fff;
        padding-bottom: 4px;
        font-size: 22px;
        appearance: none;
        border-radius: 0;
      }

      input::placeholder {
        opacity: 0.4;
        color: #fff;
      }

      .form-text {
        color: $color-secondary;
        font-size: 15px;
      }
    }

    .schedule_confirmation {
      font-family: "Telegraf";
      font-weight: 400;

      .results {
        color: #fff;

        .line {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          &:first-of-type {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
          }

          &:last-of-type {
            padding-bottom: 28px;
          }

          img {
            height: fit-content;
          }
        }
      }
    }
  }

  .dots {
    .dot {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
    }

    .dot.active {
      border: 1px solid #fff;
      background-color: #ffffff;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .steps {
      flex-direction: column;
      align-items: center;

      &__container {
        width: 80% !important;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &__title {
        margin-top: 0;
      }

      &__description {
        font-weight: 300;
      }

      .calendar {
        width: 80%;
      }

      .contacts {
        width: 70%;

        .schedule_form {
          width: 100%;
        }
      }
    }
  }
}



.back-btn {
  span {
    font-weight: 700;
  }
}
