.wrapper-header {
  &.fixed-header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 99;
    height: 77px;

    .header {
      padding-top: 12px !important;

      .header-desktop {
        display: none !important;
      }

      @media screen and (min-width: 1025px) {
        .wrapper-cta {
          display: flex !important;
        }
      }
    }
  }

  .wrapper-cta {
    .btns {
      margin-right: 70px;
      align-items: center;

      .btn-principal {
        background-color: $color-amarelo;
        border: 1px solid $color-amarelo;
        color: $color-body;
        font-family: "Telegraf";
        font-weight: 700;
        font-size: 18px;
        margin-right: 24px;
        line-height: 35px;
        height: 35px;
        padding: 0 20px;
        text-transform: uppercase;
      }

      p {
        font-family: "Telegraf";
        font-weight: 400;
        font-size: 13px;
        margin-bottom: 0;
        margin-right: 6px;
      }

      .link {
        font-family: "Telegraf";
        font-weight: 400;
        font-size: 16px;
        color: $color-primary;

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1234px) {
      .btns {
        margin-right: 30px;
      }
    }
  }

  .header {
    position: absolute;
    left: 0;
    z-index: 10;
    padding-top: 32px !important;

    .back-btn {
      span {
        font-weight: 700;
      }
    }

    .logo {
      img {
        width: 226px;

        @include media-breakpoint-up(md) {
          width: 340px;
        }

        max-width: unset;
      }
    }

    &-search-icon {
      list-style-type: none;
      width: 32px;
      height: 32px;

      &:hover {
        cursor: pointer;
        opacity: 0.34;
      }

      @include media-breakpoint-up(md) {
        margin-right: 40px;
        margin-left: 10px;
      }

      @media screen and (min-width: 768px) and (max-width: 1025px) {
        margin-right: 24px;
      }
    }

    &-search-input {
      &::placeholder {
        color: $color-body;
        opacity: 1;
      }

      &-desktop {
        &::placeholder {
          color: $color-secondary;
          opacity: 0.5;
        }
      }

      &:-ms-input-placeholder {
        color: $color-body;
      }

      &::-ms-input-placeholder {
        color: $color-body;
      }

      background: transparent;
      border: none;
      border-bottom: 1px solid black;
      width: 60vw;

      @media (min-width: 768px) {
        width: 42vw;
      }

      @media screen and (min-width: 768px) and (max-width: 1025px) {
        width: 100%;
        margin-right: 24px;
        font-size: 28px;
      }

      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -khtml-border-radius: 0;

      &:focus {
        outline: none !important;
        border-bottom: 1px solid black;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1025px) {
      padding-right: 30px !important;
      padding-left: 30px !important;
    }
  }
}

.card {
  &-search {
    &-image {
      min-width: 80px;
      height: 80px !important;
      object-fit: cover;
    }

    &-href {
      font-family: "Telegraf";
      font-weight: 400;

      &-title {
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
        color: $color-primary;
      }

      &-body {
        color: $color-body;

        p {
          display: none;

          &:first-of-type {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
        }
      }

      &-badge {
        padding: 4px 10px;
        font-weight: bold;
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: $color-primary !important;
      }
    }
  }
}

.navbar-toggler {
  background-color: $color-body;
  width: 54px;
  height: 54px;
  border: none;
  appearance: none;
  border-radius: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &:hover {
    opacity: 0.34;

  }

  .icon-bar {
    width: 30px;
    height: 2px;
    display: block;
    margin-bottom: 6px;
    background-color: white;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .icon-bar {
    background-color: white;
    width: 30px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: translateX(3px) rotate(45deg) translateY(0);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: translateX(3px) rotate(-45deg) translateY(0);
    transform-origin: 10% 90%;
  }

  &.collapsed .top-bar {
    transform: rotate(0);
  }

  &.collapsed .middle-bar {
    opacity: 1;
  }

  &.collapsed .bottom-bar {
    transform: rotate(0);
  }
}
