#modal-resultados {
  .modal-dialog {
    max-width: 326px;
    margin: auto;

    .modal-content {
      background: #FFFFFF;
      border: none;
      box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.45);
      border-radius: 10px;

      .modal-body {
        padding: 32px;

        h2 {
          font-size: 25px;
        }

        .wrapper-resultados {
          font-family: 'Telegraf';
          font-weight: 400;

          .resultados-answer {
            p:first-of-type {
              height: 37px;
            }
          }

          .resultados-key {
            p {
              margin-bottom: 8px;
            }
          }
        }

        button {
          width: unset;
          padding: 8px 20px;
          margin: auto;
          text-transform: uppercase;
          background: #252525;
          border-radius: 18px;
          font-size: 18px;
          font-family: 'Telegraf';
          font-weight: 700;
          appearance: none;
          border: none;
          line-height: 19px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .modal-dialog {
      max-width: 620px;

      .modal-content {
        .modal-body {
          padding: 40px 70px;

          h2 {
            font-size: 32px;
          }

          .wrapper-resultados {
            .resultados-answer {
              p {
                height: 22px;

                &:first-of-type {
                  height: 22px;
                }
              }
            }

            .resultados-key {
              p {
                font-size: 18px;
              }
            }
          }

          button {
            width: unset;
            padding: 8px 20px;
            margin: auto;
            text-transform: uppercase;
            background: #252525;
            border-radius: 18px;
            font-size: 18px;
            font-family: 'Telegraf';
            font-weight: 700;
            appearance: none;
            border: none;
            line-height: 19px;
          }
        }
      }
    }
  }
}

.modal-background{
  background: #8a7459;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

#modal-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  .modal-dialog {
    height: 100%;
    iframe {
      width: 70vw;
      max-width: 100%;
    }
    margin: 0 auto;
    width: 70vw;
    max-width: 100%; 
    display: flex;
    align-items: center;
    .modal-content {
      border: none;
      border-radius: 0;
      background: unset;
      display: flex;
      flex-direction: column;
      .modal-body {
        padding: 0;
      }
    }
  }
}
