.menu-desktop {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: $color-primary;
  .first-wrapper {
    padding-top: 32px;
    img {
      width: 358px;
      height: 54px;
    }
  }
  .wrapper-search {
    margin-top: 46px;
    position: relative;
    input {
      width: 100%;
      border: none;
      appearance: none;
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 34px;
      line-height: 60px;
      color: white;
      &::placeholder {
        color: rgba(205, 195, 183, 0.5);
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: rgba(205, 195, 183, 0.5);
      }

      &::-ms-input-placeholder {
        color: rgba(205, 195, 183, 0.5);
      }

      background: transparent;
      border-bottom: 1px solid white;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -khtml-border-radius: 0;

      &:focus {
        outline: none !important;
        border-bottom: 1px solid white;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 4px;
      top: 0;
      bottom: 0;
      width: 32px;
      height: 32px;
      mask-image: url("~/assets/images/icon-search.svg");
      z-index: -1;
      background-color: white;
      margin: auto;
    }
  }
  .wrapper-links {
    margin-top: 35px;
    max-height: 527px;
    .main-links {
      color: #ffffff;
      flex-wrap: wrap;
      width: 66%;
      .parent-link {
        font-weight: 500;
        font-size: 27px;
        line-height: 43px;
        color: #ffffff;
        font-family: "Telegraf";
        &:hover {
          text-decoration: none;
        }
      }
      .child-links {
        padding-left: 24px;
        padding-top: 8px;
        a {
          font-style: normal;
          font-weight: 300;
          font-size: 21px;
          line-height: 27px;
          font-family: "Telegraf";
          color: #ffffff;
          &:hover {
            text-decoration: none;
          }
        }
      }
      a {
        &:hover {
          color: $color-body;
        }
      }
    }
  }
  .secondary-links {
    width: 33%;
    .support {
      margin-top: 0;
      > span {
        font-weight: 700;
        font-size: 20px;
      }
      > div {
        justify-content: unset !important;
        margin-top: 24px !important;
        .support__card {
          margin-right: 20px;
        }
      }
    }
    .wrapper-socials {
      padding-top: 50px;
      .bloco-fale-equipa {
        h2 {
          color: #ffffff;
          font-size: 20px;
          margin-bottom: 25px;
        }
        .wrapper {
          > div {
            > div {
              display: flex;
              > div:last-of-type {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
    .social {
      margin-top: 44px;
    }
    .footer-menu {
      padding-top: 39px;
      .footer-legal-links {
        a {
          font-family: "Telegraf";
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #ffffff;
          padding-right: 16px;
          &.add-bar {
            position: relative;
            &:before {
              content: "";
              height: 60%;
              width: 1px;
              background-color: white;
              position: absolute;
              right: 8px;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-links {
      max-height: unset;
      .main-links {
        width: 100%;
        height: 610px;
        .parent-link {
          font-size: 32px;
          line-height: 52px;
        }
        .child-links a {
          line-height: 34px;
          font-weight: 300;
        }
      }
    }
    .secondary-links {
      width: 100%;
      display: flex;
      padding-top: 50px;
      padding-bottom: 44px;
      flex-direction: row;
      > div {
        width: 50%;
        .wrapper-socials {
          padding-top: 0;
        }
        .social {
          margin-top: 32px;
        }
        .footer-menu {
          padding-top: 32px;
          .footer-legal-links a {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1234px) {
    .wrapper-links {
      .main-links {
        .parent-link {
          font-size: 32px;
          line-height: 52px;
        }
        .child-links a {
          line-height: 34px;
          font-weight: 300;
        }
      }
    }
    .secondary-links {
      > div {
        .social {
          margin-top: 32px;
        }
        .footer-menu {
          padding-top: 32px;
          .footer-legal-links a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
