.sidebar-search {
  width: 100vw;
}

.close-search-sidebar {
  margin-top: 38px;
  opacity: 1 !important;
  font-family: 'Telegraf';
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: $color-black !important;
}

.search-card {
  box-shadow: 0px 24px 3px -23px $color-search-border;
  font-family: 'Telegraf';
  font-weight: 400;
  &:nth-last-of-type(1) {
    padding-bottom: 5rem !important;
  }
}

.title-search-results {
  font-family: 'Telegraf' !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #252525;
}

.search-input-borderless {
  font-family: 'Telegraf' !important;
  font-size: 24px;
  line-height: 25px;
  &-desktop {
    font-weight: 700;
    &::placeholder {
      font-weight: 400;
    }
  }
  color: $color-body;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 73vw;
  &:focus {
    outline: none !important;
    border-bottom: 1px solid black;
  }
}
