.slider {
  padding-bottom: 34px;

  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
  }

  h2 {
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      padding-left: 0;
      max-width: 840px;
      margin: auto;
      text-align: center;
      font-size: 46px;
      margin-bottom: 16px;
    }
  }

  .slider-description {
    max-width: 840px;
    margin: auto;
    margin-bottom: 46px;
    font-family: "Telegraf";
    font-weight: 300;
    font-size: 22px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .slick-list {
    .slick-slide {
      padding-right: 1rem;
    }
  }

  .slick-arrow {
    border: 1px solid $color-body;
    border-radius: 100px;
    appearance: none;
    background-color: white;
    width: 54px;
    height: 54px;
    z-index: 10;

    &::before {
      background-image: url("~/assets/icons/icon-retorceder.svg");
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      color: unset;
      font-family: unset;
    }

    &.slick-next {
      &::before {
        background-image: url("~/assets/icons/icon-avancar.svg");
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-body;

      &::before {
        background-image: url("~/assets/icons/icon-retorceder-white.svg");
      }

      &.slick-next {
        &::before {
          background-image: url("~/assets/icons/icon-avancar-white.svg");
        }
      }
    }
  }
}

.slider-card-book {
  .only-slide {
    .card-book {
      max-width: 327px;
    }
  }

  @include media-breakpoint-up(md) {
    .slider {
      display: flex;
      flex-direction: row;

      .card-book {
        margin-right: 40px;
      }

      &.regular {
        padding-bottom: 0;
      }
    }
  }
}

.slider-card-services {
  .only-slide {
    .card-services {
      max-width: 327px;

      .background-img {
        height: 180px;
      }
    }
  }

  .hooper {
    height: unset;

    &-list {
      padding-bottom: 35px;
    }

    .hooper-slide {
      padding-right: 16px;
    }
  }

  @media screen and (min-width: 1224px) {
    .card-services {
      margin-right: 30px !important;
    }

    .hooper {
      .hooper-slide {
        width: 428px !important;
      }

      .hooper-navigation .is-disabled {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .hooper {
      .hooper-slide {
        padding-right: 36px;
      }
    }
  }

}

@include media-breakpoint-up(md) {
  .hooper {
    .hooper-navigation {
      display: block;

      button {
        border: 1px solid black;
        border-radius: 100px;
        appearance: none;
        background-color: white;
        width: 54px;
        height: 54px;
        z-index: 10;
        top: 112px;

        svg {
          display: none;
        }
      }

      .hooper-prev {
        left: -25px;

        &::before {
          content: "";
          height: 16px;
          display: block;
          background-image: url("~/assets/icons/icon-retorceder.svg");
          background-position: center;
          background-repeat: no-repeat;
        }

        &:hover {
          background-color: $color-body;

          &::before {
            background-image: url("~/assets/icons/icon-retorceder-white.svg");
          }
        }
      }

      .hooper-next {
        right: -25px;

        &::before {
          content: "";
          height: 16px;
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("~/assets/icons/icon-avancar.svg");
        }

        &:hover {
          background-color: $color-body;

          &::before {
            background-image: url("~/assets/icons/icon-avancar-white.svg");
          }
        }
      }
    }
  }
}

.slider-card-areas {
  .slick-track{
    display: flex !important;
  }
  .only-slide {
    .card-areas {
      max-width: 327px;
      height: 205px;

      img {
        width: 327px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .slick-list {
      height: 412px !important;
    }

    .slick-slide {
      width: 400px !important;
      // padding-right: 40px !important;
      margin-right: 40px !important;

      &:last-of-type {
        margin-right: 0 !important;
      }
    }
  }

  .slick-slider {
    .slick-arrow {
      top: 112px;
    }
  }
}

.slider-card-offers {
  padding-bottom: 14px;

  h2 {
    text-align: left;
    max-width: unset;
  }
  .slick-list{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    height: 290px;
    h2{
      margin-bottom: 40px;
    }
    .slick-slide {
      padding-right: 0!important;
      margin-right: 40px !important;
    }
  }
  @media screen and (min-width: 1234px) {
    .slider-count-4{
      width: 100%;
      .slick-slider {
        width: 100% !important;
        .slick-slide {
          &:last-of-type{
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}


.slider-implantologia {
  padding-bottom: 60px;

  .slick-list {
    .slick-slide {
      padding-right: 0;
    }
  }

  .card-imagem {
    &::after {
      content: "";
      display: block;
      background-image: url("~/assets/icons/icon-hand.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 48px;
      height: 48px;
      margin: auto;
    }

    @media screen and (max-width: 768px) {
      img {
        max-width: 375px;
        margin: auto;
      }
    }

    .card-title {
      margin-bottom: 70px;
      font-family: "Canela";
      font-weight: 200;
      font-size: 32px;
    }

    .card-description {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 22px;
    }
  }

  .first-slide {
    position: relative;

    &::before {
      content: "";
      display: block;
      background-image: url("~/assets/icons/line-slider-1.svg");
      background-position: right;
      background-repeat: no-repeat;
      margin-left: auto;
      height: 10px;
      width: 100%;
      position: absolute;
      bottom: 170px;
    }
  }

  .last-slide {
    position: relative;

    &::before {
      content: "";
      display: block;
      background-image: url("~/assets/icons/line-slider-2.svg");
      background-position: left;
      background-repeat: no-repeat;
      margin-right: auto;
      height: 10px;
      width: 100%;
      position: absolute;
      bottom: 170px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .card-imagem {
      &::after {
        display: none;
      }

      img {
        height: unset !important;
        max-width: 528px;
        margin: auto;
      }

      .card-title {
        font-weight: 200 !important;
        margin-top: -40px !important;
        padding-top: 0 !important;
      }

      .card-description {
        max-width: 460px;
        margin: auto;
      }
    }

    .first-slide::before {
      background-image: url("data:image/svg+xml,%3Csvg width='549' height='16' viewBox='0 0 549 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0824 6.81836H549' stroke='black'/%3E%3Cpath d='M7.60339 15.8203C11.7455 15.8203 15.1034 12.4624 15.1034 8.32031C15.1034 4.17818 11.7455 0.820312 7.60339 0.820312C3.46126 0.820312 0.103394 4.17818 0.103394 8.32031C0.103394 12.4624 3.46126 15.8203 7.60339 15.8203Z' fill='%23252525'/%3E%3C/svg%3E%0A");
      height: 16px !important;
      bottom: 80px;
      width: 550px;
      left: 50%;
    }

    .last-slide::before {
      background-image: url("data:image/svg+xml,%3Csvg width='551' height='17' viewBox='0 0 551 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.088623 8.72742H540.342' stroke='black'/%3E%3Cpath d='M537.807 15.9297C541.949 15.9297 545.307 12.5718 545.307 8.42969C545.307 4.28755 541.949 0.929688 537.807 0.929688C533.665 0.929688 530.307 4.28755 530.307 8.42969C530.307 12.5718 533.665 15.9297 537.807 15.9297Z' fill='%23252525'/%3E%3C/svg%3E");
      height: 16px !important;
      bottom: 82px;
      width: 550px;
      right: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    .slider {
      display: flex;
      flex-direction: row;

      .card-imagem {
        display: flex;
        flex-direction: column;

        img {
          height: 500px;
          width: auto;
          margin: auto;
          display: flex;
        }

        .wrapper-card {
          .card-title {
            padding-top: 0 !important;
            margin-top: 0 !important;
          }
        }

        &::after {
          display: none;
        }
      }

      .last-slide::before,
      .first-slide::before {
        bottom: 85px;
        height: 18px;
      }

      .first-slide::before {
        background-image: url("data:image/svg+xml,%3Csvg width='323' height='18' viewBox='0 0 323 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08571 18C14.1036 18 18.1714 13.9706 18.1714 9C18.1714 4.02944 14.1036 0 9.08571 0C4.06781 0 0 4.02944 0 9C0 13.9706 4.06781 18 9.08571 18Z' fill='%23252525'/%3E%3Cpath d='M5 9L323 9.00002' stroke='black'/%3E%3C/svg%3E%0A");
      }

      .last-slide::before {
        background-image: url("data:image/svg+xml,%3Csvg width='321' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M311.015 18c5.018 0 9.086-4.03 9.086-9s-4.068-9-9.086-9c-5.018 0-9.085 4.03-9.085 9s4.067 9 9.085 9Z' fill='%23252525'/%3E%3Cpath d='M0 9h310.159' stroke='%23000'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .slider-card-testimonies {
    .slick-prev {
      left: calc((100vw - 1280px) / 2 - 25px);
    }

    .slick-next {
      right: calc((100vw - 1280px) / 2 - 25px);
    }
  }
}

@include media-breakpoint-up(md) {
  .blog-slider {
    padding-bottom: 70px;
    .slick-active {
      width: 400px !important;
      padding-right: 0 !important;
      margin-right: 40px !important;

      &:last-of-type {
        margin-right: 0 !important;
      }
    }

    .slick-slider {
      .slick-arrow {
        top: 112px;
      }
    }
  }

  .slider-card-testimonies {
    .slick-list {
      .slick-slide {
        padding-right: 0;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .blog-slider {
    .slick-list {
      height: unset !important;
      min-height: 320px;
    }
  }
}

.slider-destaque {
  &.add-background {
    background: rgba(205, 195, 183, 0.2);
  }

  margin-bottom: 100px;

  .slider {
    padding-bottom: 0;

    .slick-list .slick-slide {
      padding-right: 0 !important;
    }

    .card-destaque {
      padding-bottom: 0;
      padding-left: 2px;

      .title {
        font-size: 32px !important;
        margin-bottom: 20px;
      }

      .body {
        li {
          font-family: 'Telegraf';
          font-size: 20px;
          font-weight: 400;
        }

        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .slider {
      padding: 0 30px;

      .slick-list .slick-slide {
        padding-right: 0 !important;

        .card-destaque {
          img {
            max-height: 540px;
          }

          .wrapper-text .title {
            max-width: 510px;
          }
        }
      }

      .slick-arrow {
        top: 258px;
      }
    }
  }
}

.slider-mais-testemunhos {
  padding-bottom: 100px;

  .card-medico {
    height: 460px !important;
    border-radius: 20px;

    img {
      border-radius: 20px;
    }

    .card-text {
      max-width: 364px !important;
      padding: 80px 32px !important;
      margin-left: 0 !important;

      .quote {
        font-size: 26px !important;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1235px) {
  .slider-card-testimonies {
    .slick-dots {
      bottom: 25px;

      li {
        width: 12px;
        height: 12px;
        margin-left: 0;
        margin-right: 30px;

        button {
          padding: 0;
          width: 12px;
          height: 12px;

          &::before {
            content: "";
            opacity: 1;
            background: white;
            border-radius: 100px;
            width: 12px;
            height: 12px;
          }
        }

        &.slick-active {
          button {
            &::before {
              background: $color-body;
            }
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.slider-imagem-texto {

  .slick-track{
      display: flex !important;
  }

  .slick-slide{
      height: inherit !important;
  }

  @media screen and (min-width: 768px) {
    h2 {
      margin: 0;
      text-align: left;
      max-width: unset;
      padding-bottom: 26px;
      font-size: 32px;
    }

    .slick-slide {
      padding-right: 0 !important;

    }

    .card-imagem-texto {
      margin-right: 40px;
      min-height: unset;
    }
  }
}
