<template>
  <div>
    <b-card
      v-if="showCookies"
      title="Sobre cookies neste site"
      class="py-2 w-100 banner-cookies"
      :class="[
        animation ? 'animation-cookies-down-full' : '',
        animationWithoutMenu ? 'animation-cookies-down' : '',
      ]"
    >
      <b-card-text>
        Utilizamos cookies próprios e de terceiros para melhorar a qualidade de
        navegação, personalizar conteúdos, desenvolver estatísticas, apresentar
        anúncios adaptados às suas preferências e facilitar a interação nas
        redes sociais. Para isso, processamos dados pessoais, como os seus dados
        de navegação. Para continuar a navegar no nosso site, terá de aceitar os
        nossos cookies. Para saber mais, consulte a nossa política de cookies.
      </b-card-text>
      <b-card-body
        class="d-flex justify-content-md-start justify-content-between align-items-center p-0 mr-5 mt-4"
      >
        <b-button
          v-on:click.self.prevent="acceptCookies"
          class="btn-accept-cookies"
          >ACEITAR TUDO</b-button
        >
        <b-link href="/politica-de-privacidade" class="card-link mr-3"
          >Ler mais</b-link
        >
      </b-card-body>
    </b-card>
    <div v-if="showCookies" class="d-none d-md-flex background-cookies"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showCookies: false,
      animation: false,
      animationWithoutMenu: false,
    };
  },
  async created() {
    if (typeof this.$cookies.get("accepted") == "undefined") {
      this.showCookies = true;
    }
  },
  mounted() {
    if (typeof this.$cookies.get("accepted") == "undefined") {
      this.lastScrollPosition = window.pageYOffset;
      window.addEventListener("scroll", this.onScroll);
      if (this.$route.path == "/politica-de-privacidade") {
        this.showCookies = false;
      }
    }
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    acceptCookies() {
      this.animationWithoutMenu = false;
      this.$cookies.set("accepted", true, {
        path: "/",
        maxAge: 60 * 60 * 24 * 30,
      });
      this.animation = true;

      this.showCookies = false;
    },
    onScroll() {
      if (window.pageYOffset < 0) {
        return;
      }
      if (
        Math.abs(window.pageYOffset - this.lastScrollPosition) < this.OFFSET
      ) {
        return;
      }
      if (typeof this.$cookies.get("accepted") == "undefined") {
        if (this.$route.path == "/politica-de-privacidade") {
          this.showCookies = false;
          return;
        }
        this.showCookies =
          window.pageYOffset < this.lastScrollPosition ? "up" : "down";
        this.showCookies == "up"
          ? (this.animationWithoutMenu = false)
          : (this.animationWithoutMenu = true);
        this.lastScrollPosition = window.pageYOffset;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
/* Menu Overlay Transition Effect */
.card.animation-cookies-down-full {
  transform: translate3d(0, 100%, 0);
}
.card.animation-cookies-down {
  transform: translate3d(-50%, 0, 0);
  @media (max-width: 768px) {
    transform: translate3d(0, 20%, 0);
  }
}
.card {
  transition: 0.05s all ease-in-out;
  transition-duration: 0.3s;
  border: none;
  &-link {
    font-family: "Telegraf";
    font-size: 16px;
    text-decoration-line: underline;
  }
}
.background-cookies {
  background: #252525;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 998;
}
</style>
