<template>
  <div>
    <div
      class="modal-overlay d-none"
      @click="closeModal"
    ></div>
    <transition name="fade">
      <div class="schedule_modal d-none" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-body__title">
                Muito obrigado pelo seu contacto.
              </div>
              <div class="modal-body__description mt-4">
                <p>
                  As nossas equipas já receberam a sua mensagem e entrarão em
                  contacto consigo com a maior brevidade possível para
                  esclarecer todas as suas questões.
                </p>
                <p>
                  Até lá, sinta-se à vontade para falar connosco através do
                  <a href="tel:00351210537117">210 537 117</a>
                </p>
                <p>
                  Ou envie-nos as suas questões através do
                  <a href="#">Whatsapp</a>
                </p>
              </div>

              <div class="text-center">
                <div class="mt-3">
                  <button @click.prevent="closeModal($event)" class="confirmation-close">
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {

  methods: {
    closeModal(event) {
      var elem = event.target.parentElement;
      elem.closest("div.schedule_modal").classList.add("d-none");
      elem.closest("div.schedule_modal").parentNode.firstChild.classList.add("d-none");
    },
  },
};
</script>

<style lang="scss" scoped>
.schedule_modal {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: auto;
  .modal-dialog {
    margin: 25vh auto;
    @media (max-width: 768px) {
      margin: 2vh auto;
    }
  }

  .modal-content {
    border-radius: 10px;
    border: none;
  }

  .modal-body {
    padding: 32px;
    &__title {
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 32px;
      line-height: 33px;
    }
    &__description {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      a {
        font-family: "Telegraf";
        font-weight: 700;
        color: #000;
        text-decoration: underline;
      }
    }

    button.confirmation-close {
      font-family: "Telegraf";
      font-weight: 700;
      border: 1px solid #fff;
      border-radius: 18px;
      background-color: #252525;
      color: $color-white;
      padding: 8px 20px;
      text-transform: uppercase;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
