<template>
  <div class="newsletter-results d-none">
    <div class="wrapper-image">
      <img class="d-md-none" src="~/assets/images/newsletter-sucesso.svg" />
      <img
        class="d-none d-md-flex"
        src="~/assets/images/newsletter-sucesso-desktop.svg"
      />
    </div>
    <div class="wrapper-text px-4 pt-4 pt-md-5">
      <h2 class="title-1 text-center">OBRIGADO!</h2>
      <p class="text-center subtitle-1 subtitle">A sua subscriçao está confirmada.</p>
      <p class="text-center text">
        Irá receber um email de confirmação na sua caixa de correio. Por favor valide e
        confirme se recebeu, ou na caixa de spam ou publicidade. Em breve receberá todas
        novidades e ofertas do mundo da Implantologia Avançada.
      </p>
      <div class="wrapper-btn">
        <button
          class="btn-principal btn-close subtitle-2 text-uppercase"
          @click="$router.push('/')"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>

<style lang="scss" scoped>
.newsletter-results {
  padding-bottom: 86px;
  .wrapper-image {
    position: relative;
    height: 480px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2 {
    font-weight: 200;
  }
  .subtitle {
    margin-bottom: 36px;
    font-weight: 200;
  }
  .text {
    font-family: "Telegraf";
    font-weight: 400;
    margin-bottom: 0;
  }
  .wrapper-btn {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    .btn-close {
      color: white;
      background-color: $color-amarelo;
      font-family: "Telegraf";
      font-weight: 700;
      display: inline-block;
      margin: 0;
      appearance: none;
      border: none;
    }
  }
  @media screen and (min-width: 768px) {
    .wrapper-image {
      height: 460px;
      margin-top: 116px;
    }
    .wrapper-text {
      max-width: 620px;
      margin: auto;
      h2 {
        font-size: 55px;
      }
      .subtitle {
        font-size: 32px;
      }
      .text {
        font-size: 20px;
      }
      .wrapper-btn {
        display: none;
      }
    }
  }
}
</style>
