<template>
  <div class="checkup-results d-none">
    <div class="wrapper-image">
      <div class="d-flex px-4 justify-content-between btn-tops">
        <b-button
          id="show-btn"
          class="btn-principal btn-body"
          @click="$bvModal.show('modal-resultados')"
          >Ver resultados</b-button
        >
        <p class="mb-0 close-btn d-md-none" @click="$router.go(-1)">Fechar</p>
      </div>
      <div class="wrapper w-100" v-if="getAnswers < 2">
        <img
          class="d-md-none"
          v-if="device == 'mobile'"
          src="~/assets/images/success-form-checkup-mobile.jpg"
        />
        <img
          v-if="device == 'desktop'"
          class="d-none d-md-flex"
          src="~/assets/images/checkup-sucesso-desktop.svg"
        />


      </div>
      <div class="wrapper w-100" v-else>
        <img class="d-md-none"
        v-if="device=='mobile'" src="~/assets/images/ups-form-checkup-mobile.jpg" />
        <img
          class="d-none d-md-flex"
          v-if="device=='desktop'"
          src="~/assets/images/checkup-ups-desktop.svg"
        />
      </div>
    </div>
    <div class="wrapper-text px-4 pt-4 p-md-0">
      <div v-if="getAnswers < 2">
        <h2 class="title-1 text-center mb-md-4">PARABÉNS</h2>
      </div>
      <div v-else>
        <h2 class="title-1 text-center">...UPS!</h2>
      </div>
      <div v-if="getAnswers < 2">
        <p class="text-center">
          A sua Saúde Oral apresenta sinais positivos. No entanto, aconselhamos
          que visite o seu Médico Dentista pelo menos uma vez por ano para atuar
          na prevenção.
          <strong> Quer agendar uma consulta, sem compromisso? </strong>
        </p>
      </div>
      <div v-else>
        <p class="text-center">
          A sua Saúde Oral pode apresentar algumas debilidades. Aconselhamos uma
          visita ao seu Médico Dentista com a maior brevidade possível.
          <strong> Quer agendar uma consulta, sem compromisso? </strong>
        </p>
      </div>

      <div class="wrapper-btn">
        <div
          class="d-flex justify-content-between justify-content-md-center support"
        >
          <div class="support__card">
            <a href="tel:+351210537117">
              <span class="label"> Linha Just-Smile </span>
              <div class="d-flex align-items-center">
                <div class="icon mr-1">
                  <img src="~/assets/icons/icon-apoio.svg" />
                </div>
                <p class="contact mb-0">210 537 117</p>
              </div>
            </a>
          </div>
          <div class="support__card">
            <a href="/">
              <span class="label"> Live Chat </span>
              <div class="d-flex align-items-center">
                <div class="icon mr-1">
                  <img src="~/assets/icons/icon-whatsapp.svg" />
                </div>
                <p class="contact mb-0">Whatsapp</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <p class="text-center micro-body text">
        Este checkup online tem fins meramente lúdicos. Não representa um
        diagnóstico médico e não deve substituir uma visita ao seu Médico
        Dentista.
      </p>
    </div>

    <b-modal
      id="modal-resultados"
      class="modal-resultados"
      centered
      hide-footer
      hide-header
    >
      <h2>Confira o resumo das suas respostas ao Check-Up.</h2>
      <div class="wrapper-resultados d-flex pt-3">
        <div class="d-flex flex-column pr-2 resultados-answer">
          <p v-for="res in getResults" :key="res.name" class="mb-2">
            <template v-if="res.condition == 'A'">
              <img src="~/assets/images/a-icon.svg" />
            </template>
            <template v-else>
              <img src="~/assets/images/b-icon.svg" />
            </template>
          </p>
        </div>
        <div v-html="element" class="resultados-key"></div>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('modal-resultados')"
        >Fechar</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";

export default {
  props: ["element"],
  data: () => ({
    device: "",
  }),
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  computed: {
    ...mapMutations(["data"]),
    ...mapState(["checkup"]),

    getResults() {
      return this.$store.state.checkup.answers.filter(
        (answer) => answer.condition
      );
    },

    getAnswers() {
      return this.$store.state.checkup.answers.filter(
        (answer) => answer.condition == "B"
      ).length;
    },
  },
};
</script>

<style lang="scss" scoped>
.checkup-results {
  .wrapper-image {
    position: relative;
    height: 460px;
    .btn-tops {
      padding-top: 38px;
      button {
        appearance: none;
        font-size: 11px;
        padding: 4px 10px;
        text-transform: uppercase;
        font-family: "Telegraf";
        font-weight: 700;
      }
      .close-btn {
        font-family: "Telegraf";
        font-weight: 700;
        &:hover {
          cursor: pointer;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .wrapper-text {
    padding-top: 20px;
    font-family: "Telegraf";
    font-weight: 400;
  }
  .support {
    margin-top: 25px;
    margin-bottom: 32px;
    &__card {
      background-color: $color-amarelo;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      padding: 9px 16px 9px 16px;
      border-radius: 10px;
      span.label,
      p {
        color: white;
      }
      .contact {
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 116px;
    padding-bottom: 80px;
    .btn-tops {
      margin: auto;
      max-width: 620px;
      padding: 0;
      align-items: center;
      height: 100%;
      justify-content: flex-end !important;
      .btn {
        font-size: 18px !important;
        padding: 8px 20px !important;
      }
    }
    .wrapper-text {
      max-width: 620px;
      margin: auto;
      margin-top: 50px;
      h2 {
        font-size: 55px;
        margin-bottom: 0;
      }
      p {
        font-size: 20px;
      }
      .text {
        font-size: 13px;
        font-weight: 300;
      }
    }
    .support {
      margin-top: 32px;
      margin-bottom: 50px;
      &__card {
        &:first-of-type {
          margin-right: 40px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-text {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .support {
      justify-content: center !important;
    }
  }
}
</style>
