<template>
<div>
    <date-picker v-model="time1" valueType="format"></date-picker>
<!--  <date-picker v-model="time2" type="datetime" :open="true"></date-picker>
  <date-picker v-model="time3" range></date-picker>-->
</div>
</template>

<script>

import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
  name: "ScheduleCalendar",

  components: { DatePicker },

  mounted() {
    document.querySelector('.mx-datepicker').click();
  },

  data() {
    return {
      time1: null,
      time2: null,
      time3: null,
    };
  }

}
</script>

<style scoped>

</style>
