<template>
  <div class="content-tratamentos">
    <div class="wrapper-image d-md-none">
      <img :src="img" :alt="alt" />
      <div class="background"></div>
    </div>
    <div class="wrapper-img-desktop d-none d-md-flex">
      <slot name="field_imagem_desktop" />
    </div>
    <div class="wrapper-content px-4 p-md-0 container pl-30">
      <h1 class="mb-4 mb-md-0">
        {{ entity.attributes.title }}
      </h1>
    </div>
    <div class="px-4 p-md-0 pl-30 pr-30 wrapper-remaining-text container">
      <div
        v-if="fields.field_subtitulo.data"
        class="mt-2 mb-2 m-md-0 content-tratamentos-subtitulo"
        v-html="fields.field_subtitulo.data.replace(/\n/g, '<br />')"
      >
      </div>
      <div class="body-wrapper">
        <slot name="body" />
      </div>
    </div>
    <div v-show="device == 'mobile'">
      <slot name="field_blocos" />
    </div>
    <div v-show="device == 'desktop'">
      <slot name="field_blocos_desktop" />
    </div>
    <CookiesBanner />
    <ModalMarcacao />
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],

  data: () => ({
    img: false,
    alt: false,
    device:''
  }),
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },

  head() {
    return {
      title: this.title,
      meta: this.metatags,
      link: this.links,
    };
  },

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    } else {
      const resource = await this.getResource({
        ...this.model.relationships.field_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.img =
        this.$config.baseUrl +
        (resource.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
  },

  computed: {
    title: ({ entity }) =>
      entity.attributes.metatag.find((o) => o.attributes.name === "title")
        .attributes.content,
    links: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "link")
        .map((o) => ({
          hid: o.attributes.rel,
          rel: o.attributes.rel,
          href: process.env.FE_URL + o.attributes.href,
        })),
    metatags: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "meta")
        .map((o) => {
          if (o.attributes.property && o.attributes.property.includes("og")) {
            return {
              hid: o.attributes.property,
              property: o.attributes.property,
              content: o.attributes.content,
            };
          } else {
            return {
              hid: o.attributes.name,
              name: o.attributes.name,
              content: o.attributes.content,
            };
          }
        }),
  },
};
</script>

<style lang="scss">
.content-tratamentos {
  position: relative;
  &-subtitulo {
    font-family: "Telegraf";
    font-weight: 700;
    font-size: 22px;
  }
  .wrapper-image {
    height: 460px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .background {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        #ffffff 100%
      );
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .wrapper-img-desktop{
    height: 660px;
    div{
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .wrapper-content {
    padding-top: 380px;
    h1 {
      font-family: "Canela";
      font-weight: 200;
      font-size: 34px;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 240px;
      padding-top: 0;
      left: 0;
      right: 0;
      margin: auto;
      h1{
        text-transform: uppercase;
        max-width: 460px;
        width: 100%;
        font-size: 55px;
      }
    }
  }
  .body-wrapper {
    font-family: "Telegraf";
    font-weight: 300;
    padding-bottom: 48px;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    &-subtitulo {
      font-size: 32px;
      margin-bottom: 24px !important;
    }
    .wrapper-remaining-text{
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
      max-width: 840px;
      width: 100%;
    }
    .body-wrapper {
      font-size: 22px;
      padding-bottom: 0;
    }
  }
}
</style>
