<template>
  <div>
    <div
      class="container wrapper-title d-none d-md-flex align-items-center position-relative"
    >
      <a class="back-btn" @click="handleBackButton()">
        <img src="~/assets/icons/icon-voltar.svg" alt="Icon voltar" />
        <span>Voltar</span>
      </a>
      <h1 class="page-title">Testemunhos</h1>
    </div>
    <div class="content-testemunho hide-content" ref="testemunhoBox">
      <div class="wrapper-image d-md-none">
        <img :src="img" :alt="alt" />
        <div class="background"></div>
      </div>
      <div class="wrapper-img-desktop d-none d-md-block">
        <slot name="field_imagem_desktop" />
      </div>
      <div class="container wrapper-content px-4 px-md-0 pr-30 pl-30">
        <div class="tags pb-2" v-if="fields.field_tags">
          <slot name="field_tags" />
        </div>
        <h1 class="mb-2">{{ entity.attributes.title }}</h1>
      </div>
      <div class="px-4 p-md-0 wrapper-remaining-text container pl-30 pr-30">
        <div class="subtitulo-wrapper">
          <slot name="field_subtitulo" />
        </div>
        <div class="body-wrapper">
          <slot name="body" />
        </div>
      </div>
      <div v-show="device == 'mobile'">
        <slot name="field_blocos" />
      </div>
      <div v-show="device == 'desktop'">
        <slot name="field_blocos_desktop" />
      </div>
      <div class="show-more text-center d-md-none mb-0" @click="showMore()">
        <div class="background"></div>
        <div class="see-more-div">
          <span class="title-2 mb-2">Ver Mais </span>
          <svg
            width="20"
            height="13"
            viewBox="0 0 20 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.88 0.880005L10 8.76L2.12 0.880004L-9.26681e-08 3L10 13L20 3L17.88 0.880005Z"
              fill="#252525"
            />
          </svg>
        </div>
      </div>
      <CookiesBanner />
      <ModalMarcacao />
    </div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],

  data: () => ({
    img: false,
    alt: false,
    device: "",
  }),

  head() {
    return {
      title: this.title,
      meta: this.metatags,
      link: this.links,
    };
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    handleBackButton() {
      this.$router.back();
    },
    showMore() {
      document
        .querySelectorAll(".content-testemunho")[0]
        .classList.remove("hide-content");
      document.querySelectorAll(".show-more")[0].classList.add("d-none");
    },
  },

  mounted() {
    if (this.$refs.testemunhoBox.clientHeight < 1601) {
      document
        .querySelectorAll(".content-testemunho")[0]
        .classList.remove("hide-content");
      document.querySelectorAll(".show-more")[0].classList.add("d-none");
    }
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  computed: {
    title: ({ entity }) =>
      entity.attributes.metatag.find((o) => o.attributes.name === "title")
        .attributes.content,
    links: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "link")
        .map((o) => ({
          hid: o.attributes.rel,
          rel: o.attributes.rel,
          href: process.env.FE_URL + o.attributes.href,
        })),
    metatags: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "meta")
        .map((o) => {
          if (o.attributes.property && o.attributes.property.includes("og")) {
            return {
              hid: o.attributes.property,
              property: o.attributes.property,
              content: o.attributes.content,
            };
          } else {
            return {
              hid: o.attributes.name,
              name: o.attributes.name,
              content: o.attributes.content,
            };
          }
        }),
  },

  async fetch() {
    if (this.model.relationships.field_imagem) {
      const resource = await this.getResource({
        ...this.model.relationships.field_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.img =
        this.$config.baseUrl +
        (resource.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    }
  },
};
</script>

<style lang="scss">
.wrapper-title {
  width: 100%;
  justify-content: center;
  .back-btn {
    font-family: "Telegraf";
    font-weight: 700;
    font-size: 16px;
    color: #000;
    position: absolute;
    left: 0;
    padding-top: 150px;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) and (max-width: 1025px) {
      padding-left: 30px;
    }
  }
  .page-title {
    padding-top: 150px;
    padding-bottom: 40px;
    font-size: 55px;
    font-family: "Canela";
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
  }
}
.content-testemunho {
  position: relative;
  &.hide-content {
    height: 1500px;
    overflow: hidden;
  }
  .show-more {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 270px;
    .background {
      position: absolute;
      top: 0;
      height: 170px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 90.36%
      );
    }
    .see-more-div {
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .wrapper-image {
    position: absolute;
    height: 460px;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    .background {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        #ffffff 100%
      );
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .wrapper-img-desktop {
    height: 460px;
    div {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .wrapper-content {
    padding-top: 380px;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 150px;
      padding-top: 0;
      left: 0;
      right: 0;
      margin: auto;
      > * {
        max-width: 300px;
      }
      .tags {
        span {
          font-size: 13px;
          padding: 6px 12px;
        }
      }
      h1 {
        text-transform: uppercase;
        width: 100%;
        font-size: 55px;
      }
    }
    .tags {
      span {
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-primary;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 11px;
        margin-right: 10px;
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
    h1 {
      width: 60%;
      font-family: "Canela";
      font-weight: 200;
      @media (min-width: 768px) {
        font-weight: 200;
        font-size: 55px;
        line-height: 60px;
      }
    }
  }
  .wrapper-remaining-text {
    @media (min-width: 768px) {
      margin: auto;
      max-width: 840px;
      margin-bottom: 100px;
      margin-top: 80px;
      .subtitulo-wrapper {
        text-align: center;
        font-family: "Telegraf";
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }
      .body-wrapper {
        margin: auto;
        text-align: center;
        font-family: "Telegraf";
        font-style: normal;
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 0 !important;
      }
    }
    .subtitulo-wrapper {
      font-family: "Telegraf";
      font-weight: 700;
      padding-bottom: 8px;
      font-size: $font-2;
    }
    .body-wrapper {
      font-family: "Telegraf";
      font-weight: 300;
      padding-bottom: 40px;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .card-citacao {
    @media (min-width: 768px) {
      max-width: 840px;
    }
  }
}
</style>
