<template>
  <div class="card-blog-destaque d-flex flex-column align-items-md-center pb-3 p-0 mb-3 container w-100 pr-30 pl-30">
    <img :src="img" :alt="alt" />
    <div class="px-4 pt-4 pt-md-5 px-md-0">
      <div class="d-flex flex-row justify-content-md-center pb-2 micro-body">
        <div class="mb-0 tag"><slot name="field_categoria" /></div>
        <p class="mb-0 date">{{ entity.attributes.created | moment }}</p>
      </div>
      <p class="mb-2 title subtitle-1">{{ entity.attributes.title }}</p>
      <div class="wrapper-body mb-md-4" v-html="entity.attributes.body.summary"></div>
    </div>
    <a @click="setPosition()" :href="entity.attributes.path.alias">
      <span class="d-none d-md-block"> Ler mais</span>
    </a>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";
import moment from "moment";
import "moment/locale/pt-br";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
  }),

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),

    moment: function (date) {
      return moment(date);
    },
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },

  filters: {
    moment: function (date) {
      return moment(date).format("D MMMM, YYYY");
    },
  },
};
</script>

<style lang="scss">
.card-blog-destaque {
  position: relative;
  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  .tag {
    text-transform: uppercase;
    font-family: "Telegraf";
    font-weight: 700;
    padding-right: 10px;
  }
  .date {
    font-family: "Telegraf";
    font-weight: 400;
    color: $color-primary;
    text-transform: capitalize;
  }
  .title {
    font-family: "Canela";
    font-weight: 300;
  }
  .wrapper-body {
    font-family: "Telegraf";
    font-weight: 400;
    color: $color-body;
  }
  a {
    color: unset;
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 100px !important;
    img {
      border-radius: 20px;
      height: 460px;
    }
    .tag, .date{
      font-size: 16px;
    }
    .title{
      text-align: center;
      font-size: 32px;
    }
    .wrapper-body {
      max-width: 620px;
      margin: auto;
      text-align: center;
      font-size: 20px;
      color: $color-gray;
    }
    a{
      position: unset;
      top: unset;
      left: unset;
      width: unset;
      height: unset;
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      padding: 8px 20px;
      border-radius: 20px;
      text-transform: uppercase;
      &:hover{
        background-color: $color-body !important;
        color: $color-white !important;
        box-shadow: 6px 11px 16px rgba(0, 0, 0, 0.2);
      }
      &:active{
        background-color: $color-body !important;
        color: $color-white !important;
      }
    }
  }
}
</style>
