<template>
  <div
    class="card-blog-sinopse d-flex flex-row flex-md-column pb-3 mb-3 pb-md-0 mb-md-0"
  >
    <div class="card-text d-flex flex-column micro-body">
      <p class="mr-1 mb-2 pb-1 pb-md-3 mb-md-0 blog-title">
        {{ entity.attributes.title }}
      </p>
      <div class="blog-info pb-md-2" :class="device == 'desktop' ? 'd-flex' : ''">
        <div class="mb-0" :class="device == 'mobile' ? 'd-flex' : ''">
          <a :href="'/pesquisa?q=' + tag" class="tag"
            ><slot name="field_categoria"
          /></a>
        </div>
        <p
          class="mb-0 mt-1 mt-md-0 ml-md-2"
          :class="device == 'mobile' ? 'date-mobile' : 'date'"
        >
          {{ entity.attributes.created | moment }}
        </p>
      </div>
    </div>
    <img :src="img" :alt="alt" />
    <a class="btn-know-more" :href="entity.attributes.path.alias">
      <span class="d-none d-md-block"> Saiba mais </span>
    </a>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";
import moment from "moment";
import "moment/locale/pt-br";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
    tag: "",
    device: "",
  }),
  mounted() {
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  async fetch() {
    //fetch image
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;

    //fetch tag name for On click search
    if (!this.model.relationships.field_categoria) {
      return;
    }

    const resourceTag = await this.getResource({
      ...this.model.relationships.field_categoria.data,
      query: new DrupalJsonApiParams(),
    });

    this.tag = resourceTag.data.attributes.name;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),

    moment: function (date) {
      return moment(date);
    },
  },

  filters: {
    moment: function (date) {
      return moment(date).format("D MMMM, YYYY");
    },
  },
};
</script>

<style lang="scss">
.card-blog-sinopse {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  justify-content: space-between;
  img {
    width: 86px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
  }
  .tag {
    text-transform: uppercase;
    font-family: "Telegraf";
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    @media (max-width: 768px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
    text-decoration: underline;
    color: $color-body;
    cursor: pointer;
  }
  .date {
    font-family: "Telegraf";
    font-weight: 400;
    color: $color-primary;
    text-transform: capitalize;
    &-mobile {
      font-family: "Telegraf";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 12px;
      color: $color-gray;
    }
  }
  .blog-title {
    font-family: "Telegraf";
    font-weight: 400;
    @media (max-width: 768px) {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 15px;
    }
  }
  .btn-know-more {
    color: unset;
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    .tag {
      text-transform: uppercase;
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;
      text-decoration: underline;
      color: $color-body;
      cursor: pointer;
    }
    width: 400px;
    border-bottom: none;
    justify-content: unset;
    .blog-title {
      font-size: 20px;
      line-height: 26px;
      color: #616161;
    }
    img {
      order: 0;
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 10px;
      flex-shrink: 0;
      margin-bottom: 20px;
    }
    .card-text {
      order: 1;
      font-size: 15px;
      .blog-info {
        order: 0;
        .date {
          color: $color-body;
        }
      }
      .blog-title {
        order: 1;
      }
    }
    .btn-know-more {
      order: 2;
      position: unset;
      top: unset;
      left: unset;
      width: unset;
      height: unset;
      border: 1px solid $color-black;
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      border: 1px solid $color-body;
      border-radius: 18px;
      padding: 8px 20px;
      max-width: 156px;
      &:hover {
        background-color: $color-body !important;
        color: $color-white !important;
        box-shadow: 6px 11px 16px rgba(0, 0, 0, 0.2);
      }
      &:active {
        background-color: $color-body !important;
        color: $color-white !important;
      }
    }
  }
}
</style>
