<template>
  <div
    class="content-blog"
    :class="this.device == 'mobile' ? 'hide-content' : ''"
    ref="blogBox"
  >
    <div
      class="container wrapper-title  d-md-flex align-items-center position-relative"
    >
      <a class="back-btn d-none d-md-block" @click="handleBackButton()">
        <img src="~/assets/icons/icon-voltar.svg" alt="Icon voltar" />
        <span>Voltar</span>
      </a>
      <h2 class="main text-center">Blog</h2>
    </div>
    <div v-show="device == 'mobile' && fields.field_imagem">
      <div class="wrapper-img">
        <slot name="field_imagem" />
      </div>
    </div>
    <div v-show="device == 'desktop' && fields.field_imagem_desktop">
      <div class="wrapper-img-desktop">
        <slot name="field_imagem_desktop"/>
      </div>
    </div>
    <div class="px-4 container px-md-0 pr-30 pl-30">
      <div class="wrapper-text">
        <div class="tags pb-2 pt-4 micro-body" v-if="fields.field_categoria">
          <slot name="field_categoria" />
        </div>
        <h1 class="mb-2 subtitle-1">{{ entity.attributes.title }}</h1>
        <div
          class="summary-field pb-4"
          v-if="fields.body.data.summary"
          v-html="fields.body.data.summary"
        ></div>
        <div class="wrapper-autor d-flex">
          <img :src="imgAutor" :alt="altAutor" />
          <div class="info-autor micro-body pl-3" v-if="fields.field_autor">
            <p class="mb-0" v-if="fields.field_autor_texto">
              {{ fields.field_autor_texto.data }}
            </p>
            <p v-else class="mb-0">Atualizado por</p>
            <p class="mb-0 autor-name">{{ fields.field_autor.data }}</p>
            <p class="mb-0">{{ entity.attributes.created | moment }}</p>
          </div>
        </div>
        <div class="body-wrapper" v-if="fields.body">
          <slot name="body" />
        </div>
      </div>
    </div>
    <div v-show="device == 'mobile'">
      <slot
        name="field_blocos"
        :tag="fields.field_categoria.value.data.meta.drupal_internal__target_id"
      />
    </div>
    <div v-show="device == 'desktop'">
      <slot
        name="field_blocos_desktop"
        :tag="fields.field_categoria.value.data.meta.drupal_internal__target_id"
      />
    </div>
    <div
      class="show-more text-center mb-0 d-md-none"
      @click="showMore()"
      v-if="this.showSeeMore"
    >
      <div class="background"></div>
      <div class="see-more-div">
        <span class="title-2 mb-2">Ver Mais </span>
        <svg
          width="20"
          height="13"
          viewBox="0 0 20 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.88 0.880005L10 8.76L2.12 0.880004L-9.26681e-08 3L10 13L20 3L17.88 0.880005Z"
            fill="#252525"
          />
        </svg>
      </div>
    </div>
    <CookiesBanner />
    <ModalMarcacao />
  </div>
</template>
<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";
import moment from "moment";
import "moment/locale/pt-br";

export default {
  mixins: [DruxtEntityMixin],

  data: () => ({
    img: false,
    alt: false,
    imgAutor: false,
    altAutor: false,
    device: "",
    showSeeMore: true,
  }),

  head() {
    return {
      title: this.title,
      meta: this.metatags,
      link: this.links,
    };
  },

  async fetch() {
    if (
      !this.model.relationships.field_imagem ||
      !this.model.relationships.field_autor_imagem
    ) {
      return;
    } else {
      const resource = await this.getResource({
        ...this.model.relationships.field_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.img =
        this.$config.baseUrl +
        (resource.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.alt = resource.data.relationships.field_media_image.data.meta.alt;

      const resourceAutor = await this.getResource({
        ...this.model.relationships.field_autor_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.imgAutor =
        this.$config.baseUrl +
        (resourceAutor.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.altAutor =
        resourceAutor.data.relationships.field_media_image.data.meta.alt;
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),

    moment: function (date) {
      return moment(date);
    },

    handleScroll() {
      if (window.scrollY > window.innerHeight / 2) {
        this.showContent = false;
      } else {
        this.showContent = true;
      }
    },
    showMore() {
      document
        .querySelectorAll(".content-blog")[0]
        .classList.remove("hide-content");
      document.querySelectorAll(".show-more")[0].classList.add("d-none");
    },
    handleBackButton() {
      this.$router.back();
    },
  },

  filters: {
    moment: function (date) {
      return moment(date).format("D MMMM, YYYY");
    },
  },

  computed: {
    title: ({ entity }) =>
      entity.attributes.metatag.find((o) => o.attributes.name === "title")
        .attributes.content,
    links: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "link")
        .map((o) => ({
          hid: o.attributes.rel,
          rel: o.attributes.rel,
          href: process.env.FE_URL + o.attributes.href,
        })),
    metatags: ({ entity }) =>
      entity.attributes.metatag
        .filter((o) => o.tag === "meta")
        .map((o) => {
          if (o.attributes.property && o.attributes.property.includes("og")) {
            return {
              hid: o.attributes.property,
              property: o.attributes.property,
              content: o.attributes.content,
            };
          } else {
            return {
              hid: o.attributes.name,
              name: o.attributes.name,
              content: o.attributes.content,
            };
          }
        }),
  },
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  updated() {
    if (this.$refs.blogBox.clientHeight < 1601 && this.device === "mobile") {
      document
        .querySelectorAll(".content-blog")[0]
        .classList.remove("hide-content");
      document.querySelectorAll(".show-more")[0].classList.add("d-none");
    }
  },
};
</script>

<style lang="scss" scoped>
.content-blog {
  position: relative;
  padding-bottom: 100px;
  &.hide-content {
    height: 1500px;
    overflow: hidden;
  }
  .show-more {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 270px;
    .background {
      position: absolute;
      top: 0;
      height: 170px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 90.36%
      );
    }
    .see-more-div {
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .main {
    padding-top: 104px;
    margin: 0;
    padding-bottom: 24px;
    @media screen and (min-width: 768px) {
      padding-top: 150px;
      padding-bottom: 40px;
      font-family: "Canela";
      font-weight: 200;
      font-size: 55px;
      line-height: 60px;
    }
  }
  .wrapper-title {
    width: 100%;
    justify-content: center;
    .back-btn {
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 16px;
      color: #000;
      position: absolute;
      left: 0;
      padding-top: 150px;
      padding-bottom: 40px;
      @media screen and (min-width: 768px) and (max-width: 1025px) {
        padding-left: 30px;
      }
    }
  }
  .wrapper-img {
    height: 270px;
    div {
      height: 100%;
      width: 100%;
      &::v-deep div {
        height: 100%;
        width: 100%;
      }
      &::v-deep img {
        height: 100%;
        max-height: 270px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .wrapper-text {
    .tags {
      font-family: "Telegraf";
      font-weight: 700;
      text-transform: uppercase;
    }
    h1 {
      font-family: "Canela";
      font-weight: 300;
    }
    .summary-field {
      font-family: "Telegraf";
      font-weight: 300;
    }
    .wrapper-autor {
      padding-bottom: 40px;
      img {
        margin-top: 0;
        object-fit: cover;
        width: 48px;
        height: 48px;
        border-radius: 100px;
      }
      .info-autor {
        font-family: "Telegraf";
        font-weight: 400;
        .autor-name {
          font-weight: 700;
        }
      }
    }
    .body-wrapper {
      font-family: "Telegraf";
      font-weight: 400;
    }
    @media screen and (min-width: 768px) {
      max-width: 840px;
      margin: auto;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 32px;
      }
      .summary-field {
        font-size: 20px;
        max-width: 620px;
        margin: auto;
        color: $color-gray;
      }
      .wrapper-autor {
        .info-autor {
          text-align: left;
        }
      }
      .body-wrapper {
        font-size: 20px;
        color: $color-gray;
      }
    }
  }
  .wrapper-img-desktop {
    width: 100%;
    height: 460px;
    div {
      height: 100%;
      width: 100%;
      &::v-deep div {
        height: 100%;
        width: 100%;
      }
      &::v-deep img {
        height: 100%;
        max-height: 460px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>
