<!-- Use for Block Blog in homepage -->
<template>
  <div class="card-blog">
    <img :src="img" :alt="alt" />
    <div class="d-flex flex-row pt-3">
      <div class="mb-0 tag micro-body" v-if="fields.field_categoria">
        <slot name="field_categoria" />
      </div>
      <p class="pl-2 mb-0 date micro-body">
        {{ entity.attributes.created | moment }}
      </p>
    </div>
    <p class="pt-2 subtitle-1 card-title">{{ entity.attributes.title }}</p>
    <div class="body d-md-none" v-if="fields.body.data.summary">
      <div v-html="fields.body.data.summary"></div>
    </div>
    <div class="d-none d-md-flex mt-3">
      <a
        @click="setPosition()"
        class="btn-principal btn-white"
        :href="entity.attributes.path.alias"
      >
        Ver mais
      </a>
    </div>
    <a @click="setPosition()" class="d-md-none" :href="entity.attributes.path.alias"></a>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";
import moment from "moment";
import "moment/locale/pt-br";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
  }),

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes.uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),

    moment: function (date) {
      return moment(date);
    },
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },

  filters: {
    moment: function (date) {
      return moment(date).format("D MMMM, YYYY");
    },
  },
};
</script>

<style lang="scss">
.card-blog {
  max-width: 310px;
  width: 100%;
  position: relative;
  @media screen and (min-width: 768px) {
    max-width: 400px;
    min-height: 390px;
    img {
      width: 100% !important;
      height: 200px !important;
    }
    a {
      position: unset !important;
      width: unset !important;
      height: 35px !important;
      line-height: 35px;
      padding: 0 20px;
      border: 1px solid $color-black;
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  img {
    width: 310px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }
  .tag {
    text-transform: uppercase;
    font-family: "Telegraf";
    font-weight: 700;
  }
  .date {
    text-transform: capitalize;
    color: $color-primary;
  }
  .card-title {
    font-size: 27px;
    line-height: 1.2;

    font-family: "Canela";
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom:1px;
  }
  .body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  a {
    color: unset;
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
