<template>
  <DruxtSite>
    <template #default="{ props, regions }">
      <b-container fluid class="px-0">
        <div class="wrapper-header">
          <DruxtBlockRegion
            v-if="regions.includes('header')"
            v-bind="props.header"
            :wrapper="{
              class: ['container px-0 position-relative'],
            }"
          />
        </div>
        <DruxtBlockRegion
          v-if="regions.includes('header_desktop')"
          v-bind="props.header_desktop"
        />
        <DruxtBlockRegion
          v-if="regions.includes('header_bottom')"
          v-bind="props.header_bottom"
          :wrapper="{
            class: ['header-bottom d-md-none'],
          }"
        />
        <b-row v-if="regions.includes('content')" class="mx-0">
          <DruxtBlockRegion
            v-bind="props.content"
            id="__body"
            :wrapper="{
              class: ['w-100'],
            }"
          />
        </b-row>
        <b-container fluid class="px-0" v-show="showFooter">
          <div class="footer d-none d-md-flex flex-column">
            <b-container>
              <div class="footer-top" v-if="regions.includes('footer_info')">
                <DruxtBlockRegion v-bind="props.footer_info" />
              </div>
              <b-row class="d-flex flex-row footer-middle">
                <b-col>
                  <div
                    class="wrapper-basic"
                    v-if="regions.includes('footer_fale_connosco')"
                  >
                    <DruxtBlockRegion v-bind="props.footer_fale_connosco" />
                  </div>
                </b-col>
                <b-col class="pl-special">
                  <div
                    class="wrapper-basic"
                    v-if="regions.includes('footer_onde_estamos')"
                  >
                    <DruxtBlockRegion v-bind="props.footer_onde_estamos" />
                  </div>
                </b-col>
                <b-col class="d-none d-lg-flex">
                  <div
                    class="wrapper-basic"
                    v-if="regions.includes('footer_como_chegar')"
                  >
                    <DruxtBlockRegion v-bind="props.footer_como_chegar" />
                  </div>
                </b-col>
              </b-row>
            </b-container>
            <div
              class="footer-bottom"
              v-if="regions.includes('footer_copyrights')"
            >
              <DruxtBlockRegion v-bind="props.footer_copyrights" />
            </div>
          </div>
        </b-container>
      </b-container>
    </template>
  </DruxtSite>
</template>

<script>
import { localeData } from "moment";

export default {
  data() {
    return {
      showFooter: false,
      device: "",
    }
  },
  mounted() {
    if (this.$route.fullPath == localStorage.getItem("currentRoute")) {
      setTimeout(() => {
        window.scrollTo({
          top: localStorage.getItem("position"),
          behavior: "smooth",
        });
      }, 700);
      localStorage.removeItem("position");
      localStorage.removeItem("currentRoute");
    }
    // set device by width (mobile or desktop)
    window.innerWidth < 1025
      ? (this.device = "mobile")
      : (this.device = "desktop");
    this.defineIcones();
  },
  methods: {
    defineIcones() {
      if (window.innerWidth > 767) {
        if (
          this.$route.fullPath.includes("checkup") ||
          this.$route.fullPath.includes("marcacao-online")
        ) {
          this.showFooter = false;
        } else {
          this.showFooter = true;
        }
      }
    },
  }
};
</script>
