<template>
    <div>
        Plain layout
        <b-container fluid="sm" class="px-0">
            <b-row v-if="device.isMobile == true" class="no-gutters">
                Show only for mobile
            </b-row>
        </b-container>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    computed: {
        ...mapState(["device"]),
    },
};
</script>
