<template>
  <div>
    <div v-for="key of Object.keys($scopedSlots)" :key="key">
      <slot v-if="isVisible(key)" :name="key" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { DruxtBlocksRegionMixin } from 'druxt-blocks'
export default {
  mixins: [DruxtBlocksRegionMixin],
  computed: {
    ...mapState({
      route: (state) => state.druxtRouter.route,
    }),
  },
  methods: {
    isVisible(key) {
      const block = this.blocks.find((o) => o.attributes.drupal_internal__id === key) || {}

      if(((block.attributes || {}).visibility || {}).length == 0){
        return true;
      }

      // Request path visibility conditions.
      if (((block.attributes || {}).visibility || {}).request_path) {
        let visible = false
        const { negate } = block.attributes.visibility.request_path
        const pages = block.attributes.visibility.request_path.pages.split(/\r?\n/).filter(i => i)
        const route = this.$route
        if (pages.includes('<front>') && (route.isHomePath || (!route.isHomePath && negate))) {
          visible = true
        }
        if ((!pages.includes(route.path) && negate)) {
          visible = true
        }
        return visible
      }
      return false
    }
  }
}
</script>