<template>
  <div
    class="header p-4 p-lg-0 w-100 d-flex justify-content-between align-items-center"
    v-if="showHeader"
  >
    <div class="logo" v-if="showLogo">
      <a href="/">
        <img src="~assets/images/logo-black.svg" alt="Logótipo" />
      </a>
    </div>

    <div
      class="d-flex align-items-end align-items-md-center justify-content-between justify-content-md-end w-inherit"
    >
      <a class="back-btn" v-if="showBackButton" @click="handleBackButton()">
        <img src="~/assets/icons/icon-voltar.svg" alt="Icon voltar" />
        <span>Voltar</span>
      </a>
      <div v-if="showBackButton && showLogoOnMobileSearch">
        <a href="/">
          <img src="~assets/images/logo-mobile.svg" alt="Logótipo mobile" />
        </a>
      </div>
      <slot v-if="!showInput" name="ctaconsulta" :wrapper="cta" />
      <input
        type="text"
        v-if="showInput"
        class="header-search-input search-input-borderless"
        :class="
          device == 'desktop' && !deviceTablet
            ? 'header-search-input-desktop search-input-borderless-desktop'
            : ''
        "
        :placeholder="
          device == 'mobile' || deviceTablet
            ? 'O que procura?'
            : 'O que procura?'
        "
        v-model="stringSearch"
        @keyup.enter="openModalSearch()"
      />
      <img
        v-if="showIcon == 'back'"
        @click.self.prevent="handleSearch('close')"
        class="header-search-icon"
        src="~/assets/icons/icon-fechar.svg"
        alt="Icon fechar"
      />
      <div v-show="showHeaderDesktopItems == true">
        <slot name="headerdesktop" />
      </div>
      <img
        v-if="showIcon == 'search'"
        @click.self.prevent="handleSearch('open')"
        class="header-search-icon"
        :class="mlAutoSearch ? 'ml-auto' : ''"
        src="~/assets/icons/icon-search.svg"
        alt="Procurar"
      />
      <div
        type="button"
        class="navbar-toggler collapsed d-none d-md-flex"
        @click="toggleMenu()"
      >
        <span class="icon-bar top-bar"></span
        ><span class="icon-bar middle-bar"></span
        ><span class="icon-bar bottom-bar"></span>
      </div>
    </div>
  </div>
</template>

<script>
import { BIconSearch } from "bootstrap-vue";

export default {
  data() {
    return {
      showNavigationDesktop: false,
      showHeader: true,
      showBackButton: false,
      showLogo: false,
      showInput: false,
      showIcon: "",
      searchText: false,
      stringSearch: "",
      title_save: "",
      device: "",
      cta: {
        class: "wrapper-cta d-none",
      },
      showHeaderDesktopItems: false,
      showLogoOnMobileSearch: true,
      mlAutoSearch: false,
      deviceTablet: false,
    };
  },
  components: { BIconSearch },
  mounted() {
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");

    window.innerWidth > 767 && window.innerWidth < 1025
      ? (this.deviceTablet = true)
      : "";

    this.defineIcones();

    if (
      this.device == "mobile" &&
      (this.$route.path == "/" || this.$route.path == "/homepage")
    ) {
      this.mlAutoSearch = true;
    }
  },
  watch: {
    $route: function (to, from) {
      this.defineIcones();
    },
  },
  methods: {
    handleBackButton() {
      this.$router.back();
    },
    defineIcones() {
      if (
        this.$route.fullPath != "/checkup" ||
        this.$route.fullPath != "/marcacao-online"
      ) {
        this.showIcon = "search";
      } else {
        this.showIcon = "";
      }
      if (this.device == "mobile") {
        if (
          this.$route.fullPath.includes("checkup") ||
          this.$route.fullPath.includes("marcacao-online")
        ) {
          this.showHeader = false;
        } else {
          this.showHeader = true;
          this.showLogoOnMobileSearch = true;
        }
      }

      if (this.$route.fullPath != "/" && this.$route.fullPath != "/homepage") {
        this.showBackButton = true;
      } else {
        this.showHeader = true;
        this.showBackButton = false;
        this.showLogo = true;
      }
      if (this.device == "desktop") {
        this.showLogo = true;
        this.showBackButton = false;
        this.showHeaderDesktopItems = true;
      }
      if (this.$route.fullPath == "/pesquisa") {
        this.showIcon = false;
        this.showLogoOnMobileSearch = false;
      }
    },
    openModalSearch() {
      this.showInput = false;
      this.showHeaderDesktopItems = true;
      this.$router.push({
        name: "pesquisa",
        params: { search: this.stringSearch },
      });
    },
    handleSearch(mode, device = "mobile") {
      let title = document.getElementById("pageTitle");
      if (mode == "open") {
        if (title) {
          this.title_save = document.getElementById("pageTitle").innerHTML;
          title.innerHTML = "";
        }
        this.showInput = true;
        this.showIcon = "back";
        this.showLogo = false;
        this.showBackButton = false;
        if (this.device == "desktop") {
          if (window.innerWidth > 767 && window.innerWidth <= 1024) {
            this.showLogo = false;
          } else {
            this.showLogo = true;
          }
          this.showHeaderDesktopItems = false;
        }
      }
      if (mode == "close") {
        document.getElementById("__body").style.display = "block";

        if (title) {
          title.innerHTML = this.title_save;
        }
        this.stringSearch = "";

        if (this.device == "desktop") {
          this.showHeaderDesktopItems = true;
        }
        if (
          this.$route.fullPath != "/" &&
          this.$route.fullPath != "/homepage" &&
          this.device == "mobile"
        ) {
          this.showBackButton = true;
        } else {
          this.showLogo = true;
        }
        this.showInput = false;
        this.showIcon = "search";
      }
    },
    toggleMenu() {
      this.$store.commit("setMenu", true);
    },
    handleScroll() {
      if (this.device) {
        let header = document.getElementsByClassName("wrapper-header")[0];
        if (window.scrollY < window.innerHeight / 3) {
          header.classList.remove("fixed-header");
        } else {
          header.classList.add("fixed-header");
        }
      }
    },
  },

  beforeMount() {
    window.addEventListener("scroll", this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
.nav-item {
  list-style-type: none;
  .nav-link {
    padding: 0;
  }
}
.back-btn {
  font-family: "Telegraf";
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000;
  img {
    margin-right: 5px;
  }
  &:hover {
    cursor: pointer;
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    padding-left: 30px;
  }
}
</style>
