<template>
    <div class="px-4 pb-4 p-md-0">
        <DruxtView
            :arguments="[tag]"
            display-id="block_blog_relacionados"
            view-id="blog"
        >
        </DruxtView>
    </div>
</template>

<script>
import { DruxtViewsViewMixin } from 'druxt-views'

export default {
    mixins: [DruxtViewsViewMixin],
    props: ['tag'],
}
</script>