<template>
  <div class="p-0 container pr-30 pl-30">
    <div class="view-blog-relacionados-manual px-4 px-md-0 pb-4 pb-md-0">
      <div class="wrapper-header mb-3">
        <h2 class="d-md-none">Relacionados</h2>
        <h2 class="d-none d-md-block">Recomendamos</h2>
      </div>
      <slot :wrapper="wrapper" name="field_artigo_blog" />
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      wrapper: {
        class: "wrapper",
      },
    };
  },
};
</script>

<style lang="scss">
.view-blog-relacionados-manual {
  .wrapper-header {
    border-bottom: 1px solid #e1e1e1;
    font-family: "Telegraf";
    font-weight: 700;
    @media screen and (min-width: 768px) {
      border: none;
      text-align: center;
      h2 {
        font-size: 46px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    .wrapper {
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .wrapper {
      > div {
        flex-wrap: wrap;
        .card-blog-sinopse{
          width: 340px;
          img{
            width: 340px;
          }
        }
        > div:nth-child(3n){
          display: none;
        }
      }
    }
  }
}
</style>
