<template>
  <div class="search-container">
    <b-container v-if="device == 'mobile'">
      <b-row class="mb-4 mt-4 px-4">
        <b-input-group class="justify-content-between">
          <input
            class="search-input-borderless"
            placeholder="O que procura?"
            v-model="searchTextTemplate"
            type="text"
          />
          <img
            class="header-search-icon"
            src="~/assets/icons/icon-search.svg"
          />
        </b-input-group>
      </b-row>
      <b-row v-if="resultsVisible">
        <b-col cols="12 px-4"
          ><h4 class="title-search-results">
            {{ searchResults.length }} resultados
          </h4></b-col
        >

        <b-col
          v-for="(item, key) of searchResults"
          :key="key"
          class="pb-3 mt-4 justify-content-start d-flex px-4 search-card"
          cols="12"
        >
          <img
            class="card-search-image"
            :src="
              searchMeta[item.ref].imagem
                ? $config.baseUrl + searchMeta[item.ref].imagem
                : '/card-areas-default.png'
            "
          />
          <div class="pl-3">
            <a :href="searchMeta[item.ref].href" class="card-search-href">
              <b-badge variant="primary" class="card-search-href-badge">{{
                searchMeta[item.ref].category
                  ? searchMeta[item.ref].category
                  : searchMeta[item.ref].tags
              }}</b-badge>
              <h4
                class="card-search-href-title"
                v-if="searchMeta[item.ref].title"
              >
                {{ searchMeta[item.ref].title }}
              </h4>
              <div
                class="card-search-href-body"
                v-if="searchMeta[item.ref].body"
                v-html="searchMeta[item.ref].body"
              />
            </a>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container v-if="device == 'desktop'">
      <b-row class="mb-4 mt-4 px-4 container-search-input flex-column">
        <div>
          <b-input-group
            class="flex-column search-input-container align-content-lg-center"
          >
            <div class="d-flex">
              <input
                class="search-input-borderless search-input-borderless-desktop"
                placeholder="O que procura?"
                v-model="searchTextTemplate"
                type="text"
              />
              <img
                class="header-search-icon"
                src="~/assets/icons/icon-search.svg"
              />
            </div>

            <h4 class="mt-2 ml-md-0 mt-3 title-search-results">
              {{ searchResults.length }} resultados
            </h4>
          </b-input-group>
        </div>
      </b-row>
      <b-row v-if="resultsVisible" class="wrapper-card-search">
        <b-col
          v-for="(item, key) of searchResults"
          :key="key"
          class="pb-3 mt-4 justify-content-start d-flex px-4 flex-column card-search"
          cols="4"
          md="6"
          lg="4"
        >
          <div>
            <b-badge variant="primary" class="card-search-href-badge">{{
              searchMeta[item.ref].category
                ? searchMeta[item.ref].category
                : searchMeta[item.ref].tags
            }}</b-badge>
            <img
              class="card-search-image card-search-image-desktop"
              :src="
                searchMeta[item.ref].imagem
                  ? $config.baseUrl + searchMeta[item.ref].imagem
                  : '/card-areas-default.png'
              "
            />
          </div>
          <div class="card-search-href">
            <h4
              class="card-search-href-title mt-4"
              v-if="searchMeta[item.ref].title"
            >
              {{ searchMeta[item.ref].title }}
            </h4>
            <div
              class="card-search-href-body mb-4"
              v-if="searchMeta[item.ref].body"
              v-html="searchMeta[item.ref].body"
            />
            <a :href="searchMeta[item.ref].href" class="btn-principal">
              Ver Mais
            </a>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { BIconSearch } from "bootstrap-vue";
import LunrSearch from "lunr-module/search";

export default {
  components: {
    BIconSearch,
  },
  props: { searchTextString: String },
  data() {
    return {
      searchTextTemplate: this.$route.params.search
        ? this.$route.params.search
        : "",
      device: "",
    };
  },
  head() {
    return {
      title: "Pesquisa | Just Smile",
    };
  },
  mounted() {
    this.$store.commit("setMenu", false);

    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
    this.searchText = this.$route.params.search
      ? this.$route.params.search
      : "";

    if (this.$route.query.q) {
      this.searchText = this.$route.query.q;
      this.searchTextTemplate = this.$route.query.q;
    }
  },
  watch: {
    searchTextTemplate: function (val) {
      this.searchText = `+*${val.slice(0,-1)}*`;

    },
    searchTextString: function (val) {
      this.searchTextTemplate = `${val}`;
      this.searchText = `+*${val.slice(0,-1)}*`;
    },
  },
  extends: LunrSearch,
};
</script>
<style lang="scss" scoped>
.search-container {
  margin-top: 6em;

  @media (min-width: 768px) {
    margin-top: 10em;
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    padding-bottom: 200px;
  }
}

.title-search-results {
  font-family: "Telegraf";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #252525;
  @media (min-width: 768px) {
    margin-left: 300px;
  }
}

.container-search-input {
  padding: 0 10em;
  .search-input-borderless {
    width: 831px;
  }
  .search-results-number {
    font-family: "Telegraf";
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    flex-wrap: unset !important;
    .input-group {
      .search-input-borderless {
        width: 100%;
        margin-right: 24px;
      }
    }
  }
}

.card-search-image {
  font-family: "Telegraf";

  &-desktop {
    width: 400px;
    height: 220px !important;
    border-radius: 10px;
  }
}

.card-search-href {
  font-size: 16px;
  text-decoration: none;
  &-badge {
    @media (min-width: 768px) {
      font-family: "Telegraf";
      position: absolute;
      margin-top: 15px;
      margin-left: 20px;
    }
  }

  &-title {
    font-size: 24px;
  }
}

.btn-principal {
  background: transparent;
  color: #252525;
  font-family: "Telegraf";
  font-size: 18px;
  font-weight: 700;
  border: 1px solid black;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .wrapper-card-search {
    .card-search {
      padding-bottom: 112px !important;
    }
  }
}
</style>
