<template>
  <img :src="src(entity)" :alt="alt"/>
</template>
<script>
import { DruxtEntityMixin } from "druxt-entity";
export default {
  mixins: [DruxtEntityMixin],
  props: {
    fields: { required: false },
    schema: { required: false },
    imageStyle: String,
    alt:{required:false, type: String}
  },
  methods: {
    src(entity) {
      if (this.imageStyle) {
        return entity.attributes.image_style_uri[this.imageStyle];
      }
      return [this.$druxt.settings.baseUrl, entity.attributes.uri.url].join(
        "/"
      );
    },
  },
};
</script>
