<template>
  <DruxtEntity
    :type="fields.field_media_image.data.data.type"
    :uuid="fields.field_media_image.data.data.id"
    :imageStyle="imageStyle"
    :alt="fields.field_media_image.data.data.meta.alt"
  />
</template>
<script>
import { DruxtEntityMixin } from "druxt-entity";
export default {
  mixins: [DruxtEntityMixin],
  props: ["imageStyle","alt"]
};
</script>
