<template>
    <div>
        <slot name="paragraphs" />
    </div>
</template>

<script>
    import { DruxtEntityMixin } from 'druxt-entity'

    export default {
        mixins: [DruxtEntityMixin],
    };
</script>