<template>
  <div class="wrapper-elements pl-30 pr-30">
    <form>
      <DruxtWebformElement
        v-for="[key, element] in Object.entries(elements)"
        :key="key"
        :element="element"
        :name="key"
        :modeltouse="element['#title'] + webform_id"
        @validate="validate"
      />
      <button
        class="btn-send btn-principal btn-body text-uppercase d-flex"
        @click.prevent="validate($event)"
      >
        Enviar
      </button>
    </form>
    <div class="wrapper-modal">
      <ModalFaleConnosco />
    </div>
  </div>
</template>

<script>
import yaml from "js-yaml";
import { DruxtEntityMixin } from "druxt-entity";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  props: {
    schema: undefined,
    fields: { required: false },
  },
  data() {
    return {
      webform_id: "fale_connosco",
      nome: "",
      email: "",
      telefone: "",
      mensagem: "",
      politica_de_privacidade: 0,
    };
  },

  computed: {
    ...mapGetters({ getAllErrors: "errors/getAllErrors" }),

    elements: ({ entity }) => yaml.load(entity.attributes.elements),
  },

  methods: {
    validate(event) {
      var elem = event.target.parentElement;
      this.nome = elem.querySelector("#Nome" + this.webform_id).value;
      this.email = elem.querySelector("#Email" + this.webform_id).value;
      this.telefone = elem.querySelector("#Telefone" + this.webform_id).value;
      this.mensagem = elem.querySelector("#Mensagem" + this.webform_id).value;

      if (this.nome == "") {
        this.$store.commit("errors/setErrorNome", "Insira o nome e o apelido");
      }
      if (this.email == "") {
        this.$store.commit("errors/setErrorEmail", "Insira um email correto");
      }
      if (this.telefone == "") {
        this.$store.commit(
          "errors/setErrorTel",
          "Insira um número de telefone correto"
        );
      }
      if (this.mensagem == "") {
        this.$store.commit(
          "errors/setErrorMensagem",
          "Insira uma mensagem válida"
        );
      }

      if (this.getAllErrors == true) {
        this.politica_de_privacidade = 1;

        const config = {
          headers: { "content-type": "application/json" },
        };
        const formData = {
          webform_id: this.webform_id,
          nome: this.nome,
          email: this.email,
          telefone: this.telefone,
          mensagem: this.mensagem,
          politica_de_privacidade: this.politica_de_privacidade,
        };

        this.$axios.post("/webform_rest/submit", formData, config).then(
          function (response) {
            elem.querySelector("#Nome" + this.webform_id).value = "";
            elem.querySelector("#Email" + this.webform_id).value = "";
            elem.querySelector("#Telefone" + this.webform_id).value = "";
            elem.querySelector("#Mensagem" + this.webform_id).value = "";
            elem.querySelector(".wrapper-checkbox input").checked = false;
            if (this.webform_id == "fale_connosco") {
              elem.nextElementSibling.querySelector(".schedule_modal").classList.remove("d-none");
              elem.nextElementSibling.querySelector(".modal-overlay").classList.remove("d-none");
            }
          }.bind(this)
        );
      }
    },
  },
};
</script>
