<template>
  <div class="slider-card">
    <div class="wrapper-img-desktop d-md-flex">
      <slot name="field_imagem" />
    </div>
    <div class="background d-md-none"></div>
    <div
      class="container position-relative h-100 px-0"
      v-if="fields.field_link"
    >
      <a @click="setPosition()" :href="fields.field_link.data.url">
        <div
          class="text-wrapper"
          :class="fields.field_posicao ? fields.field_posicao.data : ''"
        >
          <p class="title-1 title mb-md-4" v-if="fields.field_titulo">
            {{ fields.field_titulo.data }}
          </p>
          <div
            class="body"
            v-if="fields.field_descricao"
            v-html="fields.field_descricao.data.value"
          ></div>
          <div class="wrapper-btn d-none d-md-flex"></div>
        </div>
      </a>
    </div>
    <div class="container position-relative h-100 px-0" v-else>
      <div
        class="text-wrapper"
        :class="fields.field_posicao ? fields.field_posicao.data : ''"
      >
        <p class="title-1 title mb-md-4" v-if="fields.field_titulo">
          {{ fields.field_titulo.data }}
        </p>
        <div
          class="body"
          v-if="fields.field_descricao"
          v-html="fields.field_descricao.data.value"
        ></div>
        <div class="wrapper-btn d-none d-md-flex"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
    device: "",
  }),
  mounted() {
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.slider-card {
  a{
    all:unset;
  }
  width: 100%;
  position: relative;
  height: 632px;
  .wrapper-img-desktop {
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::v-deep div {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @media (max-width: 767px) {
          height: 460px;
        }
      }
    }
  }
  .background {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      #ffffff 100%
    );
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 460px;
  }
  .text-wrapper {
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    .title {
      text-transform: uppercase;
    }
    .body {
      font-family: "Telegraf";
      font-weight: 400;
    }
  }
  @media screen and (min-width: 768px) {
    height: 800px;
    img {
      height: 100%;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    .text-wrapper {
      top: 215px;
      max-width: 460px;
      width: 100%;
      display: flex;
      flex-direction: column;
      &.left {
        left: 0;
        right: unset;
      }
      &.right {
        right: 0;
        left: unset;
        align-items: flex-end;
      }
      .title {
        font-size: 55px;
        font-weight: 200;
      }
      .body {
        font-size: 22px;
        margin-bottom: 40px;
        font-weight: 300;
      }
      .btn-principal {
        font-family: "Telegraf";
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        padding: 14px 20px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .text-wrapper {
      &.left {
        left: 30px;
      }
      &.right {
        right: 30px;
      }
    }
  }
}
</style>
