<template>
    <div class="blog-destaque-principal-desktop">
        <DruxtView
            display-id="block_blog_destaques_desktop_2"
            view-id="blog"
        >
        </DruxtView>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>
