<template>
  <div
    :class="isPolitica ? 'mb-5' : ''"
    class="card-title-description px-4 container pl-30 pr-30"
  >
    <div class="title subtitle-1 mb-2 mb-md-4" v-if="fields.field_titulo">
      {{ fields.field_titulo.value }}
    </div>
    <div class="description" v-html="fields.field_descricao.data.value"></div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      isPolitica: false,
    };
  },
  mounted() {
    if (this.$route.path == "/politica-de-privacidade") {
      this.isPolitica = true;
    }
  },
};
</script>

<style lang="scss" scoped>
.card-title-description {
  padding-bottom: 40px;
  .title {
    font-family: "Telegraf";
    font-weight: 700;
    color: $color-black;
  }
  .description {
    font-family: "Telegraf";
    font-weight: 400;
    color: $color-black;
    &::v-deep p:last-of-type {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    > * {
      max-width: 840px;
      margin: auto;
    }
    text-align: center;
    padding-bottom: 100px;
    .title {
      font-size: 32px;
    }
    .description {
      font-weight: 300;
      color: $color-black;
      font-size: 22px;
      &::v-deep p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
</style>
