<template>
  <div class="pl-4 pl-md-0 slider slider-card-testimonies">
    <h2 v-if="fields.field_titulo">{{ fields.field_titulo.data }}</h2>
    <slick v-bind="settings">
      <DruxtEntity
        v-for="{ type, id } of fields.field_card_especialista.value.data"
        :key="id"
        v-bind="{ type, uuid: id }"
      />
    </slick>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      device:"",
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        variableWidth: false,
        adaptiveHeight: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 767,
            settings: {
              arrows: false,
            },
          },
        ],
      },
    };
  },
  mounted() {
    // set device by width (mobile or desktop)
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");

    if(this.device == 'mobile') {
      this.settings.variableWidth = true
      this.settings.slidesToShow = 1.0001
    }
  },
};
</script>
