<template>
  <div :class="bg == true ? 'with-bg' : ''">
    <div class="container px-0">
      <div
        class="pl-4 pl-md-0 slider slider-card-doctor d-flex flex-column flex-md-row pl-30"
        :class="pos"
      >
        <div class="d-flex flex-column wrapper-text pr-4 pr-md-0">
          <h2 v-if="fields.field_titulo" class="mb-3">
            {{ fields.field_titulo.data }}
          </h2>
          <div
            class="subtitle-1 mb-2"
            v-if="fields.field_subtitulo"
            v-html="fields.field_subtitulo.data.value"
          ></div>
          <div
            class="description"
            v-if="fields.field_descricao"
            v-html="fields.field_descricao.data.value"
          ></div>
        </div>
        <div :class="'slider-count-' + this.counter">
          <slick v-bind="settings">
              <DruxtEntity
                v-for="{ type, id } of fields.field_card_imagem_titulo_descric.value
                  .data"
                :key="id"
                v-bind="{ type, uuid: id }"
              />
          </slick>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      pos: null,
      bg: null,
      counter: this.fields.field_card_imagem_titulo_descric.data.data.length,
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        variableWidth: true,
        adaptiveHeight: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1234,
            settings: {
              infinite: false,
              arrows: true,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
          {
            breakpoint: 1025,
            settings: {
              infinite: false,
              arrows: false,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
          {
            breakpoint: 760,
            settings: {
              infinite: false,
              arrows: false,
              variableWidth: true,
              adaptiveHeight: false,
              slidesToShow: 2,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
        ],
      },
    };
  },

  created() {
    if (this.model.attributes.field_posicionamento) {
      this.pos = this.model.attributes.field_posicionamento;
    }

    if (this.model.attributes.field_background_color) {
      this.bg = this.model.attributes.field_background_color;
    }
  },
};
</script>

<style lang="scss">
@media screen and (min-width: 768px) {
  .with-bg {
    background: rgba(205, 195, 183, 0.2);
    .slider-card-doctor {
      padding-top: 100px;
    }
  }
}
.slider-card-doctor {
  @media screen and (min-width: 768px) {
    &.left {
      flex-direction: row-reverse !important;
      .wrapper-text {
        margin-left: 40px;
        margin-right: 0;
      }
    }
    [class^="slider-count"]{
       width: calc(100% - 320px);
    }
    .slick-slider {
      .slick-slide {
        max-width: 290px;
        margin-right: 40px !important;
        padding-right: 0 !important;

      }
    }

    .slick-slider {
      .slick-arrow {
        top: 162px;
      }
    }
    .wrapper-text {
      max-width: 290px;
      width: 100%;
      margin-right: 40px;
      flex-shrink: 0;
      h2 {
        margin: 0;
        text-align: left;
      }
      .subtitle-1 {
        font-size: 28px;
      }
      .description {
        font-size: 20px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {

    &.left {
      flex-direction: row !important;
      .wrapper-text {
        margin-left: 0 !important;
        margin-right: 40px;
      }
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1234px) {
    .slick-slider {
      max-width: unset;
      width: calc(100% - 320px);
    }
  }
  @media screen and (min-width: 1234px) {
    .slider-count-3{
      width: 100%;
      .slick-slider {
        width: 100% !important;
        .slick-slide {
          &:last-of-type{
            margin-right: 0 !important;
          }
        }
      }
    }
  }
  .slick-track{
    display: flex;
  }
  .description {
    font-size: 15px;
    margin-bottom: 12px;
    color: $color-gray;
    font-family: "Telegraf";
    font-weight: 400;
  }
}
</style>
