<template>
  <div class="pl-4 pl-md-0 slider slider-card-testimonies">
    <h2 class="d-md-none" v-if="fields.field_titulo">
      {{ fields.field_titulo.data }}
    </h2>
    <slick v-bind="settings">
      <DruxtEntity
        v-for="{ type, id } of fields.field_card_testemunhos.value.data"
        :key="id"
        v-bind="{ type, uuid: id }"
      />
    </slick>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        variableWidth: false,
        adaptiveHeight: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1234,
            settings: {
              arrows: false,
              dots: true,
              variableWidth: false,
            },
          },
          {
            breakpoint: 767,
            settings: {
              dots: false,
              arrows: false,
              variableWidth: true,
            },
          },
        ],
      },
    };
  },
};
</script>
