<template>
    <div class="container px-4 px-md-0 pr-30 pl-30">
        <div class="block-texto">
            <div class="text" v-if="fields.field_texto" v-html="fields.field_texto.data.processed"></div>
        </div>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>

<style lang="scss" scoped>
    .block-texto{
        font-family: 'Telegraf';
        font-weight: 400;
        margin-bottom: 40px;
        .text::v-deep strong{
            font-family: 'Telegraf';
            font-weight: 700;
        }
        .text::v-deep p:last-of-type{
            margin-bottom: 0;
        }
        @media screen and (min-width: 768px) {
            max-width: 840px;
            margin: auto;
            font-size: 18px;
            margin-bottom: 60px;
            color: $color-gray;
        }
    }
</style>
