<template>
  <div class="card-testemunho-unico px-4 px-md-0">
    <div class="card-image">
        <img :src="img" :alt="alt"/>
        <div class="background d-md-none"></div>
        <div class="container p-0 wrapper-desktop">
          <div class="wrapper-text-img">
              <div class="tags" v-if="fields.field_etiquetas">
                  <slot name="field_etiquetas" />
              </div>
              <p class="quote mb-0" v-html="fields.field_titulo.data"></p>
          </div>
          <div class="card-text d-none flex-row d-md-flex">
            <div class="mr-4">
              <div class="subtitle-1 name mb-1" v-html="fields.field_nome.data.value"></div>
              <p class="mb-0">
                <span v-if="fields.field_idade"> {{fields.field_idade.data}} anos | </span>
                <span v-if="fields.field_loca"> {{fields.field_loca.data.value}} </span>
              </p>
            </div>
            <a class="btn-plus" v-if="fields.field_link" :href="fields.field_link.data.uri.replace('internal:', '')"></a>
          </div>
        </div>
    </div>
    <div class="card-text d-flex flex-row pl-3 ml-1 d-md-none">
      <div class="mr-2">
        <div class="subtitle-1 name mb-1" v-html="fields.field_nome.data.value"></div>
        <p class="mb-0">
          <span v-if="fields.field_idade"> {{fields.field_idade.data}} anos | </span>
          <span v-if="fields.field_loca"> {{fields.field_loca.data.value}} </span>
        </p>
      </div>
      <span class="btn-plus" v-if="fields.field_link"></span>
    </div>
    <a class="d-md-none click-mobile" v-if="fields.field_link" :href="fields.field_link.data.uri.replace('internal:', '')"></a>
  </div>
</template>
<script>
    import { DrupalJsonApiParams } from 'drupal-jsonapi-params'
    import { DruxtEntityMixin } from 'druxt-entity'
    import { mapActions } from 'vuex'

    export default {
        mixins: [DruxtEntityMixin],
        data: () => ({
            img: false,
            alt: false,
            rellax: {
                speed: -0.5,
            },
            rellax3: {
                speed: -1,
            },
        }),

        async fetch() {
            if (!this.model.relationships.field_imagem) {
                return
            }

            const resource = await this.getResource({
            ...this.model.relationships.field_imagem.data,
            query: new DrupalJsonApiParams()
                .addInclude(['field_media_image'])
                .addFields('media--image', [])
                .addFields('file--file', ['uri']),
            })

            this.img =
            this.$config.baseUrl +
            (resource.included.find((o) => o.type === 'file--file') || {}).attributes
                .uri.url

            this.alt = resource.data.relationships.field_media_image.data.meta.alt
        },

        methods: {
            ...mapActions({
                getResource: 'druxt/getResource',
            }),
        },
    };
</script>
<style lang="scss" scoped>
.card-testemunho-unico {
  padding-bottom: 40px;
  position: relative;
  .card-image {
    border-radius: 10px;
    width: 100%;
    height: 440px;
    position: relative;
    .wrapper-text-img{
        position: absolute;
        bottom: 0;
        .tags{
            display: inline-block;
            margin-left: 20px;
            text-transform: uppercase;
            font-family: 'Telegraf';
            font-weight: 700;
            color: white;
            background: $color-primary;
            padding: 4px 10px;
            border-radius: 40px;
            font-size: 11px;
        }
        .quote{
            padding: 10px 20px 20px 20px;
        }
    }
    .background {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 42.27%,
        rgba(255, 255, 255, 0.7) 69.3%,
        #ffffff 100%
      );
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .card-text {
    padding-top: 22px;
    .name {
      color: $color-primary;
      font-family: 'Telegraf';
      font-weight: 700;
    }
  }
  .click-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    .card-image {
      border-radius: 0;
      height: 540px;
      img {
        border-radius: 0;
      }
      .wrapper-desktop{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        .wrapper-text-img{
          position: unset;
          max-width: 440px;
          margin-left: 110px;
          .tags{
              margin-left: 0;
          }
          .quote{
              margin-top: 20px;
              padding: 0;
              font-size: 40px;
          }
        }

        .card-text {
          margin-left: 110px;
          font-family: 'Telegraf';
          font-weight: 400;
          .name {
            color: $color-body;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .card-image {
      .wrapper-desktop{
        .wrapper-text-img{
          margin-left: 30px;
          max-width: 390px;
          .quote{
            font-size: 36px;
          }
        }
        .card-text {
          margin-left: 30px;
        }
      }
    }
  }
}
</style>
