<template>
  <div class="container px-0">
    <div
      v-if="fields"
      class="pl-4 pl-md-0 slider slider-card-offers pb-5 pl-30"
    >
      <h2 v-if="fields.field_titulo">{{ fields.field_titulo.data }}</h2>
      <div :class="'slider-count-' + this.counter">
        <slick v-bind="settings">
          <DruxtEntity
            v-for="{ type, id } of fields.field_card_ofertas.value.data"
            :key="id"
            v-bind="{ type, uuid: id }"
          />
        </slick>
      </div>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      counter: this.fields.field_card_ofertas.value.data.length,

      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        variableWidth: true,
        adaptiveHeight: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              arrows: false,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 2,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
          {
            breakpoint: 767,
            settings: {
              arrows: false,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
        ],
      },
    };
  },
};
</script>
