<template>
  <div class="pl-4 pl-md-0 slider slider-imagem-texto pl-30">
    <div class="container p-0">
      <h2 v-if="fields.field_titulo">{{ fields.field_titulo.data }}</h2>
      <slick v-bind="settings">
        <DruxtEntity
          v-for="{ type, id } of fields.field_card_imagem_e_texto.value.data"
          :key="id"
          v-bind="{ type, uuid: id }"
        />
      </slick>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        variableWidth: true,
        adaptiveHeight: true,
        arrows: false,
        slidesToShow: 1.2,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 0,
            settings: "unslick",
          },
          {
            breakpoint: 1300,
            settings: {
              arrows: false,
            },
          },
        ],
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.slider-imagem-texto {
  .slick-slide {
    width: unset !important;
  }
}
</style>
