<template>
  <div class="container px-0">
    <div class="slider slider-card-areas">
      <h2 v-if="fields.field_titulo" class="pl-4 pl-md-0">
        {{ fields.field_titulo.data }}
      </h2>
      <div
        class="d-none d-md-block slider-description text-center pl-30 pr-30"
        v-if="fields.field_descricao"
        v-html="fields.field_descricao.data.value"
      ></div>
      <template v-if="fields.field_card_titulo_e_imagem.value.data.length > 1">
        <div class="pl-4 pl-md-0 pl-30">
          <slick v-bind="settings">
            <DruxtEntity
              v-for="{ type, id } of fields.field_card_titulo_e_imagem.value
                .data"
              :key="id"
              v-bind="{ type, uuid: id }"
            />
          </slick>
        </div>
      </template>
      <template v-else>
        <DruxtEntity
          v-for="{ type, id } of fields.field_card_titulo_e_imagem.value.data"
          class="only-slide d-flex justify-content-center"
          :key="id"
          v-bind="{ type, uuid: id }"
        />
      </template>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        variableWidth: true,
        adaptiveHeight: false,
        slidesToShow: 2,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1234,
            settings: {
              infinite: false,
              arrows: true,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 2,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
          {
            breakpoint: 1025,
            settings: {
              infinite: false,
              arrows: false,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
          {
            breakpoint: 700,
            settings: {
              infinite: false,
              arrows: false,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 1.3,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
        ],
      },
    };
  },
};
</script>
