<template>
  <div class="container px-0 pr-30 pl-30">
    <div v-if="fields" class="slider slider-mais-testemunhos">
      <h2 v-if="fields.field_titulo">{{ fields.field_titulo.data }}</h2>
      <slick v-bind="settings">
        <DruxtEntity
          v-for="{ type, id } of fields.field_card_testemunhos.value.data"
          :key="id"
          v-bind="{ type, uuid: id }"
        />
      </slick>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        adaptiveHeight: true,
        slidesToShow: 2,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 1,
            },
          },
        ],
      },
    };
  },
};
</script>
