<template>
     <div class="banner-block">
        <div class="wrapper-image">
            <img :src="img" :alt="alt"/>
            <div class="background"></div>
        </div>
        <div class="wrapper-text px-4">
            <div class="tags pb-2" v-if="fields.field_etiquetas">
                <slot name="field_etiquetas" />
            </div>
            <h1>{{fields.field_titulo.data}}</h1>
            <div class="subtitulo-wrapper mt-2" v-if="fields.field_subtitulo">
                <slot name="field_subtitulo" />
            </div>
            <div class="body-wrapper" v-if="fields.field_descricao">
                <slot name="field_descricao" />
            </div>
        </div>
     </div>
</template>

<script>
    import { DrupalJsonApiParams } from 'drupal-jsonapi-params'
    import { DruxtEntityMixin } from 'druxt-entity'
    import { mapActions } from 'vuex'

    export default {
        mixins: [DruxtEntityMixin],

        data: () => ({
            img: false,
            alt: false,
        }),

        methods: {
            ...mapActions({
                getResource: 'druxt/getResource',
            })
        },

        async fetch() {
            if (this.model.relationships.field_imagem) {
                const resource = await this.getResource({
                ...this.model.relationships.field_imagem.data,
                query: new DrupalJsonApiParams()
                    .addInclude(['field_media_image'])
                    .addFields('media--image', [])
                    .addFields('file--file', ['uri']),
                })

                this.img =
                this.$config.baseUrl +
                (resource.included.find((o) => o.type === 'file--file') || {}).attributes
                    .uri.url

                this.alt = resource.data.relationships.field_media_image.data.meta.alt

            }
        }
    }
</script>

<style lang="scss">
    .banner-block{
        position: relative;
        .wrapper-image{
            height: 460px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            .background{
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FFFFFF 100%);
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .wrapper-text{
            padding-top: 380px;
            .tags{
                span{
                    text-transform: uppercase;
                    color: $color-white;
                    background-color: $color-primary;
                    padding: 4px 10px;
                    border-radius: 10px;
                    font-size: 11px;
                    margin-right: 10px;
                    font-family: 'Telegraf';
                    font-weight: 700;
                }
            }
            h1{
                font-family: 'Canela';
                font-weight: 200;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            .subtitulo-wrapper{
                font-family: 'Telegraf';
                font-weight: 700;
                padding-bottom: 8px;
                font-size: $font-2;
            }
            .body-wrapper{
                font-family: 'Telegraf';
                font-weight: 400;
                padding-bottom: 40px;
                p:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
</style>
