<template>
  <div class="banner-separador text-center">
    <div class="wrapper-image" v-if="fields.field_imagem">

      <DruxtEntity
        type="media--image"
        :uuid="fields.field_imagem.data.data.id"
      />
    </div>
    <div
      class="wrapper-text"
      v-if="fields.field_texto"
      v-html="fields.field_texto.data.value"
    ></div>
    <div class="wrapper-btn d-flex justify-content-center">
      <a
        @click="setPosition()"
        class="btn-principal btn-white"
        v-if="fields.field_link"
        :href="fields.field_link.data.url"
      >
        {{ fields.field_link.data.title }}
      </a>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.banner-separador {
  padding-top: 60px;
  padding-bottom: 100px;
  font-family: "Telegraf";
  .wrapper-image {
    &::v-deep img {
      padding-bottom: 60px;
    }
  }
  .wrapper-text {
    max-width: 840px;
    margin: auto;
    margin-bottom: 24px;
    font-size: 22px;
  }
  .wrapper-btn {
    .btn-principal {
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 18px;
      height: 48px;
      line-height: 48px;
      padding: 0 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .wrapper-text {
      max-width: 678px;
      &::v-deep p{
        font-size: 22px;
      }
    }
  }
}
</style>
