<template>
  <div class="container px-4">
    <div class="card-video" @click="openModal($event)">
      <img class="cover" :src="img" :alt="alt" />
      <img class="video-player" src="~/assets/images/play-circle-filled.svg" />
      <div class="background"></div>
    </div>
    <div
      id="modal-video"
      class="modal-video d-none absolute w-full top-0 left-0 flex items-center justify-center align-items-center"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <header id="modal-video___BV_modal_header_" class="modal-header">
            <button type="button" aria-label="Close" class="close" @click="closeModal($event)">×</button>
          </header>
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe
                class="embed-responsive-item"
                :src="video"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-background d-none"></div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
    video: false,
  }),

  async fetch() {
    if (this.model.relationships.field_imagem) {
      const resource = await this.getResource({
        ...this.model.relationships.field_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.img =
        this.$config.baseUrl +
        (resource.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    }

    if (this.model.relationships.field_video) {
      const resourceVideo = await this.getResource({
        ...this.model.relationships.field_video.data,
        query: new DrupalJsonApiParams(),
      });


      if(resourceVideo.data.attributes.field_media_oembed_video.includes('watch')){
        this.video =
        resourceVideo.data.attributes.field_media_oembed_video.replace(
          "watch?v=",
          "embed/"
        );
      } else{
        if(resourceVideo.data.attributes.field_media_oembed_video.includes('youtu')){
          var code = resourceVideo.data.attributes.field_media_oembed_video.split('/').pop();
          var videoUrl = 'https://www.youtube.com/';
          this.video = videoUrl + 'embed/' + code;
        }
      }
      
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    openModal(event){
      var elem = event.target.parentElement;
      elem.nextElementSibling.classList.remove("d-none");
      elem.nextElementSibling.nextElementSibling.classList.remove("d-none");
    },
    closeModal(event){
      var elem = event.target.parentElement.parentElement.parentElement.parentElement;
      elem.classList.add("d-none");
      elem.nextElementSibling.classList.add("d-none");
    }
  },
};
</script>

<style lang="scss" scoped>
.card-video {
  @media (min-width: 768px) {
    width: 840px;
    margin: 0 auto 100px auto;
  }
  width: 100%;
  max-width: 100%;
  height: 360px;
  position: relative;
  margin-bottom: 40px;
  .background {
    background: linear-gradient(
      360deg,
      #8a7459 0%,
      rgba(138, 116, 89, 0.7) 23.82%,
      rgba(138, 116, 89, 0) 50%
    );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
  }
  .cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
</style>
