<template>
  <div class="container px-0 pl-30">
    <div class="slider slider-card-book">
      <template
        v-if="fields.field_card_texto_e_imagem_de_fun.value.data.length > 1"
      >
        <div class="pl-4 pl-md-0">
          <slick v-bind="settings">
            <DruxtEntity
              v-for="{ type, id } of fields.field_card_texto_e_imagem_de_fun.value.data"
              :key="id"
              v-bind="{ type, uuid: id }"
            />
          </slick>
        </div>
      </template>
      <template v-else>
        <DruxtEntity
          v-for="{ type, id } of fields.field_card_texto_e_imagem_de_fun.value.data"
          :key="id"
          class="only-slide d-flex justify-content-center"
          v-bind="{ type, uuid: id }"
        />
      </template>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        responsive: [
          {
            breakpoint: 5000,
            settings: "unslick",
          },
          {
            breakpoint: 1234,
            settings: {
              dots: false,
              infinite: false,
              arrows: false,
              variableWidth: true,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
            },
          },
        ],
      },
    };
  },
};
</script>
