<template>
    <div class="line mx-4 mx-md-auto container px-0"></div>
</template>
<style lang="scss" scoped>
    .line{
        padding-top: 34px;
        border-top: 1px solid $color-search-border;
        width: calc(100% - 48px);
        @media screen and (min-width: 768px) {
            padding-top: 0;
            transform: translateY(-50px);
            width: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 1025px) {
            width: calc(100% - 60px);
        }
    }
</style>