<template>
  <div :class="fields.field_margem_de_fundo ? 'add-margin-block' : ''">
    <div
      :class="fields.field_back.data"
      class="bloco-separador-cta text-center d-flex justify-content-center align-items-center pr-30 pl-30"
    >
      <div
        class="mb-0 title"
        v-if="fields.field_titulo"
        v-html="fields.field_titulo.data"
      ></div>
      <NuxtLink
        class="btn-principal"
        v-if="fields.field_link"
        :to="fields.field_link.data.url"
      >
        {{ fields.field_link.data.title }}
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
};
</script>

<style lang="scss">
.add-margin-block {
  margin-bottom: 100px;
}
.bloco-separador-cta {
  padding-top: 40px;
  padding-bottom: 40px;
  .title {
    padding-right: 12px;
    font-size: 28px;
    font-family: "Canela";
    font-weight: 200;
    text-transform: uppercase;
  }
  .btn-principal {
    font-family: "Telegraf";
    font-size: $font-subtitle-2;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
  }
  &.bg-yellow {
    background-color: $color-amarelo;
    color: $color-body;
    .btn-principal {
      background: white;
      color: $color-body;
      border: 1px solid white;
      &:hover {
        background: $color-body !important;
        color: white !important;
        border: 1px solid $color-body !important;
      }
    }
  }
  &.bg-black {
    background-color: $color-body;
    color: white;
    .btn-principal {
      border: 1px solid white;
      background: transparent;
      color: white;
      &:hover {
        background: white !important;
        color: $color-body !important;
      }
    }
  }
  &.bg-brown {
    background-color: $color-primary;
    color: white;
    .btn-principal {
      border: 1px solid white;
      background: transparent;
      color: white;
      &:hover {
        background: white !important;
        color: $color-body !important;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between !important;
    .title{
      max-width: 432px;
      text-align: left;
    }
  }
}
</style>
