<template>
  <div class="px-4 px-md-0 wrapper-form-fale-connosco">
    <div class="container p-0">
      <slot name="field_fale_connosco" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      device: "",
    };
  },
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
    var elementMobile = document.getElementsByClassName(
      "wrapper-form-fale-connosco"
    )[0];
    var elementDesktop = document.getElementsByClassName(
      "wrapper-form-fale-connosco"
    )[1];

    this.device == "mobile"
      ? elementMobile.setAttribute("id", "formFaleConnosco")
      : elementDesktop.setAttribute("id", "formFaleConnosco");
  },
};
</script>
