<template>
    <div class="blog-destaque-principal">
        <DruxtView
            display-id="bloco_blog_destaques_principal"
            view-id="blog"
        >
        </DruxtView>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>