<template>
  <div class="p-0 container pl-30 pr-30">
    <div class="block-contactos px-4 px-md-0">
      <p class="title-block subtitle-1 mb-2 pb-1">
        {{ fields.field_titulo.data }}
      </p>
      <div class="d-flex flex-row align-items-start">
        <div class="description pr-2 mr-1 pr-30">
          <slot name="field_descricao" />
        </div>
        <a
          @click="setPosition()"
          :href="
            'https://www.google.com/maps/dir/?api=1&destination=' +
            entity.attributes.field_coordenadas.lat +
            ',' +
            entity.attributes.field_coordenadas.lng
          "
          target="_blank"
          class="btn-directions d-flex flex-column align-items-center"
        >
          <svg
            width="23"
            height="16"
            viewBox="0 0 23 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.188872 1.41922L5.35705 7.99845L0.191407 14.5802C0.0737678 14.7297 0.00806547 14.9129 0.00409719 15.1024C0.000128908 15.2919 0.0581073 15.4776 0.169387 15.6318C0.280667 15.786 0.439287 15.9005 0.621598 15.9581C0.803909 16.0158 1.00014 16.0135 1.18104 15.9517L21.9501 8.83051C22.1245 8.77072 22.2758 8.65857 22.3828 8.50966C22.4898 8.36076 22.5474 8.1825 22.5474 7.9997C22.5474 7.8169 22.4898 7.63865 22.3828 7.48974C22.2758 7.34084 22.1245 7.22869 21.9501 7.1689L1.18104 0.0477391C1.00014 -0.0141048 0.803909 -0.0163778 0.621598 0.0412597C0.439287 0.0988971 0.280667 0.213358 0.169387 0.367574C0.0581073 0.52179 0.000128908 0.707502 0.00409719 0.89702C0.00806547 1.08654 0.0737678 1.26971 0.191407 1.41922H0.188872Z"
              fill="white"
            />
          </svg>
          Obter direções
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.block-contactos {
  margin-bottom: 35px;
  font-family: "Telegraf";
  font-weight: 400;
  .title-block {
    font-family: "Telegraf";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
  }
  .description {
    &::v-deep p {
      strong {
        color: black;
      }
      color: #616161;
      margin: 0;
      margin-bottom: 10px;
      &:nth-child(2) {
        font-size: 14px;
      }
    }
  }
  .btn-directions {
    svg {
      margin-bottom: 8px;
    }
    text-align: center;
    position: relative;
    display: inline-block;
    color: white;
    background: $color-primary;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    line-height: 11px;
    font-family: "Telegraf";
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    .title-block {
      max-width: 365px;
      font-size: 32px;
    }
    .description {
      max-width: 365px;
      font-size: 22px;
      margin-right: 30px !important;
    }
    .btn-directions {
      max-width: 70px;
    }
  }
}
</style>
