<template>
  <div class="block-map">
    <div class="container p-0">
      <p class="px-4 px-md-0 subtitle-1 mb-2" v-if="fields.field_titulo">
        {{ fields.field_titulo.data }}
      </p>
      <div class="px-4 px-md-0 descritpion" v-if="fields.field_descricao">
        <slot name="field_descricao" />
      </div>
    </div>
    <div class="map"></div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      mapStyle: [
        {
          elementType: "geometry",
          stylers: [
            {
              color: "#f5f5f5",
            },
          ],
        },
        {
          elementType: "labels.icon",
          stylers: [
            {
              visibility: "off",
            },
          ],
        },
        {
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#616161",
            },
          ],
        },
        {
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#f5f5f5",
            },
          ],
        },
        {
          featureType: "administrative.land_parcel",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#bdbdbd",
            },
          ],
        },
        {
          featureType: "poi",
          elementType: "geometry",
          stylers: [
            {
              color: "#eeeeee",
            },
          ],
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#757575",
            },
          ],
        },
        {
          featureType: "poi.business",
          stylers: [
            {
              visibility: "off",
            },
          ],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [
            {
              color: "#e5e5e5",
            },
          ],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text",
          stylers: [
            {
              visibility: "off",
            },
          ],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#9e9e9e",
            },
          ],
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [
            {
              color: "#ffffff",
            },
          ],
        },
        {
          featureType: "road.arterial",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#757575",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [
            {
              color: "#dadada",
            },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#616161",
            },
          ],
        },
        {
          featureType: "road.local",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#9e9e9e",
            },
          ],
        },
        {
          featureType: "transit.line",
          elementType: "geometry",
          stylers: [
            {
              color: "#e5e5e5",
            },
          ],
        },
        {
          featureType: "transit.station",
          elementType: "geometry",
          stylers: [
            {
              color: "#eeeeee",
            },
          ],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [
            {
              color: "#c9c9c9",
            },
          ],
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#9e9e9e",
            },
          ],
        },
      ],
    };
  },
  mounted() {
    this.initMap(this.fields.field_localizacao.data);
  },
  methods: {
    initMap(address) {
      var map = new google.maps.Map(document.getElementsByClassName('map')[0], {
        zoom: 17,
        styles: this.mapStyle,
      });
      var map2 = new google.maps.Map(document.getElementsByClassName('map')[1], {
        zoom: 17,
        styles: this.mapStyle,
      });
      var geocoder = new google.maps.Geocoder();

      setTimeout(()=>{
        this.geocodeAddress(geocoder, map, address);
        this.geocodeAddress(geocoder, map2, address);
      },2500)
    },

    geocodeAddress(geocoder, resultsMap, address) {
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location,
            icon: {
              url: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCAzNCA2NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMyAxN0MyMyAyMC4zMTM3IDIwLjMxMzcgMjMgMTcgMjNDMTMuNjg2MyAyMyAxMSAyMC4zMTM3IDExIDE3QzExIDEzLjY4NjMgMTMuNjg2MyAxMSAxNyAxMUMyMC4zMTM3IDExIDIzIDEzLjY4NjMgMjMgMTdaTTEuMjcyMjggMjMuNDY0NkMxLjgyMjI4IDI0LjgwMTIgMi41Mzc3MSAyNi4wNTI0IDMuMzkzMDkgMjcuMTkyNUM1LjU1ODA3IDMxLjA3ODcgOC43NTgwNSAzNy4wNjMgMTEuMTEwNiA0Mi41QzE1LjAwNDggNTEuNSAxNi41IDY0IDE2LjUgNjRDMTYuNSA2NCAxOS41NTA2IDUwLjU5MDEgMjIuOTE2IDQyLjVDMjQuNzEyOCAzOC4xODA4IDI2LjY4NjUgMzQuODcxNiAyOC40ODY4IDMxLjg1MjlDMzAuMjc3NSAyOC44NTA0IDMxLjg5NjggMjYuMTM1NCAzMyAyM0wzMi45MDMxIDIzLjAyMDVDMzMuNjEyIDIxLjE0OTEgMzQgMTkuMTE5OSAzNCAxN0MzNCA3LjYxMTE2IDI2LjM4ODggMCAxNyAwQzcuNjExMTYgMCAwIDcuNjExMTYgMCAxN0MwIDE5LjEyMDQgMC4zODgyMDcgMjEuMTUwMSAxLjA5NzQyIDIzLjAyMkwxIDIzQzEgMjMgMS4wOTYyNCAyMy4xNjI2IDEuMjcyMjggMjMuNDY0NloiIGZpbGw9IiM4QTc0NTkiLz4KPC9zdmc+Cg==",
            },
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.block-map {
  margin-bottom: 52px;
  .descritpion {
    color: $color-gray;
    font-family: "Telegraf";
    font-weight: 400;
    &::v-deep p {
      margin-bottom: 24px;
    }
  }
  .map {
    height: 480px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 70px;
    text-align: center;
    .subtitle-1 {
      font-size: 32px;
    }
    .descritpion {
      font-size: 20px;
      max-width: 620px;
      margin: auto;
    }
  }
}
</style>
