<template>
    <div class="bloco-separador pt-3 pb-5 mb-3 mt-3 d-flex justify-content-center">
        <slot name="field_imagem" />
    </div>
</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'

export default {
    mixins: [DruxtEntityMixin],
}
</script>

<style lang="scss">
    .bloco-separador{
        @media screen and (min-width: 768px) {
            margin: 0 !important;
            padding-bottom: 100px !important;
        }
    }
</style>