<template>
  <div class="container px-0">
    <div class="slider slider-implantologia">
      <slick v-bind="settings">
        <DruxtEntity
          v-for="({ type, id }, index) of fields.field_card.value.data"
          :class="index == 0 ? 'first-slide' : 'last-slide'"
          :key="id"
          v-bind="{ type, uuid: id }"
        />
      </slick>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        responsive: [
          {
            breakpoint: 5000,
            settings: "unslick",
          },
          {
            breakpoint: 1025,
            settings: {
              dots: false,
              infinite: false,
              arrows: false,
              variableWidth: false,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
            },

          },
        ],
      },
    };
  },
};
</script>
