<template>
    <div class="px-4 pt-4 bloco-footer" :class="fields.field_background_color_list.data">
        <div class="wrapper-imagem">
            <slot name="field_imagem" />
        </div>
       <div class="wrapper-cta d-flex justify-content-between">
           <DruxtEntity
                v-for="{ type, id } of fields.field_ctas.value.data"
                :key="id"
                v-bind="{ type, uuid: id }"
            />
       </div>
       <div class="wrapper-links">
            <a
                v-for=" (link, index) of fields.field_links.data"
                :href="link.url"
                :key="index"
                :target="
                    link.options.attributes
                    ? link.options.attributes.target
                    : ''
                "
            >
                {{link.title}}
            </a>
       </div>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>

<style lang="scss">
    .bloco-footer{
        padding-bottom: 32px;
        .wrapper-imagem{
            padding-bottom: 32px;
        }
        .wrapper-cta{            
            padding-bottom: 30px;
        }
        .wrapper-links{
            a{
                color: white;
                font-family: 'Telegraf';
                font-weight: 400;
                font-size: 13px;
                text-decoration: underline;
                margin-right: 20px;
            }
        }
        &.bg-gray, &.bg-white{
            .wrapper-links{
                a{
                    color: $color-body;
                }
            }
        }
        @media screen and (min-width: 480px) {
            .wrapper-cta{            
                justify-content: unset !important;
                > div:last-of-type {
                    margin-left: 30px;
                }
            }
        }
    }
</style>
