<template>
    <div class="px-4 bloco-titulo-cta">
        <h2>{{ fields.field_titulo.data }}</h2>
        <div class="btn-wrapper">
            <DruxtEntity
                v-for="{ type, id } of fields.field_ctas.data.data"
                :key="id"
                v-bind="{ type, uuid: id }"
            />
        </div>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>

<style lang="scss">
    .bloco-titulo-cta{
        h2{
            margin-bottom: 26px;
        }
        .btn-wrapper{
            display: flex;
            justify-content: space-between;
            padding-bottom: 62px;
        }
        @media screen and (min-width: 480px) {
            .btn-wrapper{
                justify-content: unset;
                > div:last-of-type{
                    margin-left: 30px;
                }
            }
        }
    }
</style>