<template>
  <div class="container px-0">
    <div class="pl-4 pl-md-0 blog-slider slider">
      <div
        class="d-flex justify-content-between justify-content-md-start flex-md-column pr-4 pr-md-0"
      >
        <h2 v-if="fields.field_titulo">{{ fields.field_titulo.data }}</h2>
        <div
          class="d-none d-md-block slider-description text-center pr-30 pl-30"
          v-if="fields.field_descricao"
          v-html="fields.field_descricao.data.value"
        ></div>
        <a
          v-if="fields.field_link"
          @click="setPosition()"
          class="link-more"
          :href="fields.field_link.data.uri.replace('internal:', '')"
        >
          {{ fields.field_link.data.title }}
        </a>
      </div>
      <DruxtView display-id="block_bloco_blog_destaques_hp" view-id="blog" />
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss">
.blog-slider {
  a {
    color: $color-primary;
    &:hover {
      text-decoration: none;
    }
  }
  .link-more{
    text-decoration: underline;
  }
}
</style>
