<template>
    <div class="blog-destaques px-4 px-md-0">
        <DruxtView
            display-id="block_blog_populares"
            view-id="blog"
        >
        </DruxtView>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>