<template>
  <div class="banner-slider">
    <slick v-bind="settings">
      <DruxtEntity
        v-for="{ type, id } of fields.field_banner_card.value.data"
        :key="id"
        v-bind="{ type, uuid: id }"
      />
    </slick>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";
export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        dots: true,
        infinite: false,
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        initialSlide: 0,
      },
    };
  },
};
</script>

<style lang="scss">
.banner-slider {
  .body {
    p {
      margin: 0;
    }
  }
  padding-bottom: 66px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  .slick-dots {
    li {
      width: 12px;
      height: 12px;
      margin-left: 0;
      margin-right: 16px;
      button {
        padding: 0;
        width: 12px;
        height: 12px;
        &::before {
          content: "";
          opacity: 1;
          background: #cdc3b7;
          border-radius: 100px;
          width: 12px;
          height: 12px;
        }
      }
      &.slick-active {
        button {
          &::before {
            background: #8a7459;
          }
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 768px) {
      bottom: 50px;
      li {
        button {
          &::before {
            background: white;
          }
        }
        &.slick-active {
          button {
            &::before {
              background: $color-body;
            }
          }
        }
      }
    }
  }
}
</style>
