<template>
  <div class="container px-0">
    <div class="slider slider-card-services">
      <h2 v-if="fields.field_titulo" class="pl-4 pl-md-0 pl-30 pr-30">
        {{ fields.field_titulo.data }}
      </h2>
      <div
        class="d-none d-md-block slider-description text-center pl-30 pr-30"
        v-if="fields.field_descricao"
        v-html="fields.field_descricao.data.value"
      ></div>
      <template v-if="fields.field_card_imagem_etiqueta_e_tex.value.data.length > 1">
        <div class="pl-4 pl-md-0 pl-30">
          <Hooper :settings="settings">
            <Slide
              v-for="{ type, id } of fields.field_card_imagem_etiqueta_e_tex.value.data"
              :key="id"
            >
              <DruxtEntity v-bind="{ type, uuid: id }" />
            </Slide>
            <Navigation class="d-none d-lg-block" slot="hooper-addons" />
          </Hooper>
        </div>
      </template>
      <template v-else>
        <DruxtEntity
          v-for="{ type, id } of fields.field_card_imagem_etiqueta_e_tex.value.data"
          class="only-slide d-flex justify-content-center"
          :key="id"
          v-bind="{ type, uuid: id }"
        />
      </template>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";
import { Hooper, Slide, Navigation } from "hooper";
import "hooper/dist/hooper.css";

export default {
  mixins: [DruxtEntityMixin],
  components: {
    Hooper,
    Slide,
    Navigation,
  },
  data() {
    return {
      settings: {
        infiniteScroll: false,
        itemsToShow: 1.2,
        mouseDrag: true,
        wheelControl: false,
        initialSlide: 0,
        trimWhiteSpace: true,
        breakpoints: {
          500: {
            infiniteScroll: false,
            itemsToShow: 1.7,
            trimWhiteSpace: true,
          },
          900: {
            infiniteScroll: false,
            itemsToShow: 2.35,
            trimWhiteSpace: true,
          },
          1224: {
            infiniteScroll: false,
            itemsToShow: 3,
            trimWhiteSpace: true,
          },
        },
      },
    };
  },

};
</script>
