<template>
  <div class="mx-auto block-tabs d-flex">
    <DruxtEntity
      v-for="{ type, id } of fields.field_card_tab.value.data"
      :key="id"
      v-bind="{ type, uuid: id }"
    >
      <template #default="{ entity }">
        <a
          @click="setPosition()"
          :href="entity.attributes.field_link.uri.replace('internal:', '')"
          :class="
            currentPath.includes(
              entity.attributes.field_link.uri.replace('internal:', '')
            )
              ? 'active'
              : ''
          "
        >
          {{ entity.attributes.field_link.title }}
        </a>
      </template>
    </DruxtEntity>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],

  computed: {
    currentPath() {
      return this.$route.path;
    },
  },
  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.block-tabs {
  height: 50px;
  background: #e1e1e1;
  border-radius: 10px;
  margin-bottom: 40px;
  max-width: 330px;
  > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #616161;
      font-family: "Telegraf";
      font-weight: 600;
      font-size: 16px;
      line-height: 42px;
      text-transform: uppercase;
      height: 42px;
      display: inline-block;
      &.active {
        color: #252525;
        background: white;
        padding: 0 32px;
        border-radius: 6px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
</style>
