<template>
  <div class="p-0" :class="fields.field_fullwidth ? '' : 'container pr-30 pl-30'">
    <div class="slider-images" :class="fields.field_fullwidth ? 'full-slider' : ''">
      <Hooper :settings="settings">
        <Slide
          v-for="{ type, id } of fields.field_bloco_image_titulo_e_texto.value
            .data"
          :key="id"
        >
          <DruxtEntity v-bind="{ type, uuid: id }" />
        </Slide>
        <Pagination slot="hooper-addons"/>
        <Navigation class="d-none d-md-block" slot="hooper-addons"/>
      </Hooper>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";
import { Hooper, Slide, Pagination, Navigation } from "hooper";
import "hooper/dist/hooper.css"

export default {
  mixins: [DruxtEntityMixin],
  components: {
    Hooper,
    Slide,
    Pagination,
    Navigation
  },
   data() {
    return {
      settings: {
        infiniteScroll: false,
        itemsToShow: 1,
        wheelControl:false,
        breakpoints: {
          767: {
            mouseDrag: false,
            wheelControl: false
          },
        }
      },
    };
  },
};
</script>

<style lang="scss">
.slider-images {
  padding-bottom: 40px;
  .hooper{
    height: unset;
  }
  .hooper-pagination {
    top: 490px;
    bottom: unset;

    padding: 0;
    li {
      width: 12px;
      height: 12px;
      margin-left: 0;
      margin-right: 16px;
      display: flex;
      button {
        padding: 0;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        background: #cdc3b7;
        margin: 0;
        &.is-active {
          background: #8a7459;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 100px !important;
    padding: 0;
    margin: auto;
    max-width: 840px;
    img{
      height: 360px !important;
      border-radius: 20px;
    }
    .hooper-navigation{
      button{
        top: 192px;
      }
    }
    .hooper-pagination{
      top: 395px;
    }
    &.full-slider{
      max-width: 100%;
      .hooper-pagination{
        top: 495px;
      }
      .hooper-navigation button {
        top: 220px;
      }
      .hooper-navigation .hooper-prev {
        left: calc((100vw - 1280px) / 2 - 25px);
      }
      .hooper-navigation .hooper-next {
        right: calc((100vw - 1280px) / 2 - 25px);
      }
      img{
        height: 460px !important;
        border-radius: 0;
      }
      .wrapper-card{
        max-width: 620px;
        margin: auto !important;
        text-align: center;
        .card-title{
          font-family: 'Canela';
          font-weight: 200;
          margin-bottom: 24px;
        }
        .card-description{
          font-size: 20px;
          color: $color-gray;
        }
      }
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .card-imagem{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: auto !important;
      }
    }
  }
}
</style>
