<template>
    <div class="px-4 px-md-0 container bloco-fale-connosco">
        <p class="subtitle-1 mb-md-2" v-if="fields.field_titulo">{{ fields.field_titulo.data }}</p>
        <div class="description" v-html="fields.field_descricao.data.value"></div>
        <div class="d-flex btn-wrapper" v-if="fields.field_link">
            <NuxtLink class="btn-principal btn-block-contact" :to="fields.field_link.data.url">
                {{fields.field_link.data.title}}
            </NuxtLink>
        </div>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
    mixins: [DruxtEntityMixin],
}
</script>

<style lang="scss">
    .bloco-fale-connosco{
        margin-bottom: 35px;
        .description{
            color: $color-gray;
            font-family: 'Telegraf';
            font-weight: 400;
            &::v-deep p:last-of-type{
                margin-bottom: 0;
            }
        }
        .btn-wrapper{
            margin-top: 35px;
            .btn-block-contact{
                background-color: $color-primary;
                color: white;
                margin: auto;
                font-family: 'Telegraf';
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
        @media screen and (min-width: 768px) {
             margin-bottom: 40px;
             > * {
                max-width: 620px;
                margin: auto;
            }
            .subtitle-1{
                font-size: 32px;
                text-align: center;
            }
            .description{
                font-size: 20px;
            }
        }
    }
</style>
