<template>
  <div class="mx-4 mx-md-auto block-revista">
    <img :src="img" :alt="alt" />
    <div class="wrapper-text">
      <p class="title-1 mb-0" v-if="fields.field_titulo">
        {{ fields.field_titulo.data }}
      </p>
      <div class="wrapper-button" v-if="fields.field_link">
        <a
          @click="setPosition()"
          class="btn-body btn-principal"
          :href="fields.field_link.data.uri.replace('internal:', '')"
        >
          {{ fields.field_link.data.title }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
  }),

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss">
.block-revista {
  position: relative;
  height: 326px;
  margin-bottom: 60px;
  max-width: 375px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .wrapper-text {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrapper-button {
      display: flex;
      a {
        font-size: 18px;
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 620px;
    height: 420px;
    margin-bottom: 100px;
    .wrapper-text {
      max-width: 300px;
      padding: 24px 0;
      margin: 0 56px;
      .wrapper-button {
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}
</style>
