<template>
  <div class="banner-block-desktop" :class="fields.field_posicao ? fields.field_posicao.data : '' ">
    <div class="wrapper-image">
      <slot name="field_imagem_desktop" />
    </div>
    <div class="wrapper-content container p-0 pl-30 pr-30">
      <div class="tags pb-3" v-if="fields.field_etiquetas">
        <slot name="field_etiquetas" />
      </div>
      <h1
        v-if="fields.field_titulo_formatted"
        v-html="fields.field_titulo_formatted.data.processed"
        :class="fields.field_texto_em_branco ? 'color-white' : ''"
      ></h1>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
};
</script>

<style lang="scss">
.banner-block-desktop {
  position: relative;
  margin-bottom: 100px;
  .wrapper-image {
    height: 660px;
    div {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.left{
    .wrapper-content{
      > * {
        margin-right: auto;
      }
    }
  }
  &.right{
    .wrapper-content{
      > * {
        margin-left: auto;
      }
    }
  }
  .wrapper-content {
    position: absolute;
    top: 228px;
    padding-top: 0;
    right: 0;
    left: 0;
    margin: auto;
    > * {
      max-width: 480px;
    }
    .tags {
      span {
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-primary;
        padding: 6px 12px;
        border-radius: 10px;
        font-size: 13px;
        margin-right: 10px;
        font-family: "Telegraf";
        font-weight: 700;
      }
    }
    h1 {
      font-family: "Canela";
      font-weight: 200;
      text-transform: uppercase;
      width: 100%;
      font-size: 55px;
      letter-spacing: -2px;
    }

  }
}
</style>
