<template>
    <div class="slider-destaque" :class="fields.field_bloco_com_cor_de_fundo ? 'add-background' : ''">
        <div class="container position-relative h-100 pr-30 pl-30">
            <template v-if="fields.field_card_destaque.value.data.length > 1">
                <div class="slider">
                    <slick v-bind="settings">
                        <DruxtEntity
                            v-for="{ type, id } of fields.field_card_destaque.value.data"
                            :key="id"
                            v-bind="{ type, uuid: id }"
                        />
                    </slick>
                </div>
            </template>
            <template v-else>
                <DruxtEntity
                    :type="fields.field_card_destaque.value.data[0].type"
                    :uuid="fields.field_card_destaque.value.data[0].id"
                />
            </template>
        </div>
    </div>
</template>
<script>
import { DruxtEntityMixin } from "druxt-entity";
export default {
  mixins: [DruxtEntityMixin],
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        arrows: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        initialSlide: 0,
      },
    };
  },
};
</script>
