<template>
  <div class="card-imagem">
    <slot name="field_imagem" />
    <div class="mx-4 wrapper-card">
      <div
        class="card-title pt-5 mt-3"
        v-if="fields.field_titulo_formatted"
        v-html="fields.field_titulo_formatted.data.value"
      ></div>
      <div
        class="card-description"
        v-if="fields.field_descricao"
        :class="!fields.field_titulo_formatted ? 'pt-5 mt-3' : ''"
        v-html="fields.field_descricao.data.value"
      ></div>
    </div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
  },
};
</script>

<style lang="scss">
.card-imagem {
  ul {
    list-style: disc !important;
  }
  width: 100%;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 460px;
  }
  .card-title {
    font-family: "Telegraf";
    font-weight: 700;
    font-size: $font-subtitle-1;
  }
  .card-description {
    font-family: "Telegraf";
    font-weight: 400;
    &::v-deep p:last-of-type {
      color: $color-body;
      font-weight: 700;
    }
    a {
      font-family: "Telegraf";
      margin-bottom: 0;
      color: $color-body;
      font-size: 18px;
      font-weight: 800;
    }
    li {
      text-align: initial !important;
    }
  }
  @media screen and (min-width: 768px) {
    .card-title {
      font-size: 32px;
    }
    .card-description {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 22px;
    }
  }
}
</style>
