<template>
  <div class="card-doctor">
    <img :src="device == 'desktop' ? img : imgMobile" :alt="alt" />
    <p class="doctor-name" v-if="fields.field_titulo">
      {{ fields.field_titulo.data }}
    </p>
    <div
      class="mb-0 doctor-position"
      v-if="fields.field_descricao"
      v-html="fields.field_descricao.data.value"
    ></div>
    <a
      @click="setPosition()"
      v-if="fields.field_link"
      :href="fields.field_link.data.url"
    ></a>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    imgMobile: false,
    alt: false,
    device: "",
  }),
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");

    if (this.device == "mobile" && this.imgMobile == false) {
      this.imgMobile = this.img;
    }
  },
  async fetch() {
    let flag = false;
    if (!this.model.relationships.field_imagem) {
      return;
    }
    if (!this.model.relationships.field_imagem_mobile) {
      flag = true;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    if (flag == false) {
      const resourceMobile = await this.getResource({
        ...this.model.relationships.field_imagem_mobile.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });
      if (typeof resourceMobile.included != "undefined") {
        this.imgMobile =
          this.$config.baseUrl +
          (resourceMobile.included.find((o) => o.type === "file--file") || {})
            .attributes.uri.url;
      }
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-doctor {
  max-width: 126px;
  width: 100%;
  position: relative;
  text-align: center;
  img {
    object-fit: cover;
    width: 126px;
    height: 146px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  }
  .doctor-name {
    padding-top: 20px;
    color: $color-primary;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 15px;
    font-family: "Telegraf";
    font-weight: 700;
  }
  .doctor-position {
    &::v-deep p {
      color: $color-gray;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: unset;
    &:hover {
      text-decoration: none;
    }
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    max-width: 290px;
    img {
      width: 290px;
      height: 338px;
    }
    .doctor-name {
      font-size: 18px;
    }
    .doctor-position {
      &::v-deep p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
</style>
