<template>
  <div class="card-especialista">
    <a
      class="link"
      v-if="fields.field_link"
      :href="fields.field_link.data.url"
    >
    </a>
    <div class="card-image">
      <slot name="field_imagem" />
      <div class="background d-flex d-md-none"></div>
      <div
        class="quote-2 quote mb-0 d-block d-md-none"
        v-html="fields.field_citacao.data.value"
      ></div>
    </div>
    <div class="container px-0">
      <div class="card-text d-flex flex-row flex-md-column">
        <div class="tag mb-3 d-none d-md-block" v-if="fields.field_etiquetas">
          <slot name="field_etiquetas" />
        </div>
        <div
          class="quote mb-0 d-none d-md-block"
          v-if="fields.field_citacao"
          v-html="fields.field_citacao.data.value"
        ></div>
        <div class="d-flex flex-row pt-md-4">
          <div class="mr-2 mr-md-4">
            <div
              class="subtitle-1 name mb-1"
              v-html="fields.field_nome.data.value"
            ></div>
            <p
              class="mb-0 especialidade-text"
              v-if="fields.field_especialidade"
            >
              {{ fields.field_especialidade.data }}
            </p>
          </div>
          <span class="btn-plus d-md-none" v-if="fields.field_link"></span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
    rellax: {
      speed: -0.5,
    },
    rellax3: {
      speed: -1,
    },
  }),

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
  },
};
</script>
<style lang="scss" scoped>
.card-especialista {
  .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  position: relative;
  .card-image {
    border-radius: 10px;
    width: 310px;
    height: 440px;
    position: relative;
    .quote {
      padding: 20px;
      position: absolute;
      bottom: 0;
      color: #ffffff;
    }
    .background {
      background: linear-gradient(
        180deg,
        rgba(138, 116, 89, 0) 42.27%,
        rgba(138, 116, 89, 0.95) 71.44%,
        #8a7459 100%
      );
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    &::v-deep div:not(.quote){
        width: 100%;
        height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
  .card-text {
    padding-top: 22px;
    .name {
      color: $color-primary;
      font-family: "Telegraf";
      font-weight: 700;
    }
    .especialidade-text {
      font-family: "Telegraf";
      font-weight: 400;
    }
  }
  .click-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    height: 540px;
    display: flex;
    align-items: center;
    .card-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: unset;
      &::v-deep div:not(.quote){
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: unset;
        }
      }
    }
    .card-text {
      max-width: 550px;
      width: 100%;
      margin-left: 84px;
      padding-top: unset;
      .tag {
        font-family: "Telegraf";
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        background-color: #8a7459;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 11px;
        width: fit-content;
      }
      .quote {
        font-family: "Canela";
        font-weight: 300;
        font-size: 40px;
      }
      .name {
        color: $color-body;
      }
      .details {
        font-family: "Telegraf";
        font-size: 20px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .card-text {
      margin-left: 30px;
      max-width: 390px;
      .quote {
        font-size: 36px;
      }
    }
  }
}
</style>
