<template>
  <div class="card-book" :class="fields.field_texto_em_branco ? 'color-white' : ''">
    <img :src="img" :alt="alt" />
    <div class="card-text">
      <div class="title-1 book-title" v-if="fields.field_titulo">
        {{ fields.field_titulo.data }}
      </div>
      <div
        class="book-description"
        v-if="fields.field_descricao"
        v-html="fields.field_descricao.data.value"
      ></div>
      <span
        class="btn-body btn-principal"
        v-if="fields.field_link"
      >
        {{ fields.field_link.data.title }}
      </span>
    </div>
    <a
        @click="setPosition()"
        v-if="fields.field_link"
        :href="fields.field_link.data.url"
      ></a>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
  }),

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes.uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-book {
  max-width: 310px;
  width: 100%;
  height: 440px;
  position: relative;
  &.color-white {
    .card-text {
      .book-description,
      .book-title {
        color: white;
      }
    }
  }
  .card-text {
    padding: 20px;
    height: 100%;
    position: relative;
    .book-title {
      margin-bottom: 20px;
    }
    span.btn-principal {
      position: absolute;
      bottom: 20px;
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 18px;
      height: 35px;
      line-height: 35px;
      padding: 0 20px;
    }
  }
  a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @media screen and (min-width: 768px) {
    width: 400px;
    max-width: 100%;
    .card-text {
      > div {
        max-width: 250px;
      }
      .book-title {
        text-transform: uppercase;
        font-weight: 200;
      }
      .book-description {
        font-family: "Telegraf";
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
</style>
