<template>
  <div class="card-titulo-cta">
    <slot name="field_imagem" class="card-titulo-cta-content" />
    <a
      @click="setPosition()"
      v-if="fields.field_link"
      :href="fields.field_link.data.uri"
      :target="
        fields.field_link.data.options.attributes
          ? fields.field_link.data.options.attributes.target
          : ''
      "
      class="btn-icon"
    >
    </a>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-titulo-cta {
  display: inline-block;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  min-width: 143px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  &::v-deep img {
    border-radius: 10px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
