<template>
  <div class="card-areas">
    <div class="position-relative">
      <img :src="device == 'desktop' ? img : imgMobile" :alt="alt" />

      <div class="background"></div>
      <p v-if="fields.field_titulo">{{ fields.field_titulo.data }}</p>
    </div>
    <div
      class="description mt-4"
      v-if="fields.field_descricao && device == 'desktop'"
      v-html="fields.field_descricao.data.value"
    ></div>
    <a
      @click="setPosition()"
      class="d-md-none"
      v-if="fields.field_link"
      :href="fields.field_link.data.url"
    ></a>
    <div class="d-none d-md-flex mt-3">
      <a
        @click="setPosition()"
        class="btn-principal btn-white"
        v-if="fields.field_link"
        :href="fields.field_link.data.url"
      >
        Saiba mais
      </a>
    </div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    imgMobile: false,
    alt: false,
    device: "",
  }),
  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");

    if (this.device == "mobile" && this.imgMobile == false) {
      this.imgMobile = this.img;
    }
  },

  async fetch() {
    let flag = false;
    if (!this.model.relationships.field_imagem) {
      return;
    }
    if (!this.model.relationships.field_imagem_mobile) {
      flag = true;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    if (flag == false) {
      const resourceMobile = await this.getResource({
        ...this.model.relationships.field_imagem_mobile.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });
      if (typeof resourceMobile.included != "undefined") {
        this.imgMobile =
          this.$config.baseUrl +
          (resourceMobile.included.find((o) => o.type === "file--file") || {})
            .attributes.uri.url;
      }
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-areas {
  width: 310px;
  position: relative;
  p {
    font-size: $font-quote;
    padding: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    color: $color-white;
  }
  .background {
    background: linear-gradient(
      360deg,
      #8a7459 0%,
      rgba(138, 116, 89, 0.7) 23.82%,
      rgba(138, 116, 89, 0) 50%
    );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    border-radius: 10px;
  }
  img {
    object-fit: cover;
    width: 310px;
    border-radius: 10px;
    height: 170px;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    width: 400px;
    height: unset;
    img {
      width: 100%;
      height: 220px;
    }
    .background {
      height: 220px;
    }
    .description {
      color: $color-gray;
      font-size: 20px;
      font-family: "Telegraf";
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      height: 78px;
      &::v-deep p {
        margin-bottom: 0;
      }
    }
    a {
      position: unset;
      top: unset;
      left: unset;
      width: unset;
      border: 1px solid $color-black;
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      height: 35px;
      line-height: 35px;
      padding: 0 20px;
    }
  }
}
</style>
