<template>
  <div class="card-services">
    <div
      class="background-img"
      :style="
        device == 'desktop'
          ? { backgroundImage: `url(${img})` }
          : { backgroundImage: `url(${imgMobile})` }
      "
    >
      <div class="tag" v-if="fields.field_etiquetas">
        <DruxtEntity
          :uuid="fields.field_etiquetas.data.data[0].id"
          :type="fields.field_etiquetas.data.data[0].type"
        >
          <template #default="{ entity }">
            <span class="tag-name">{{ entity.attributes.name }}</span>
          </template>
        </DruxtEntity>
      </div>
    </div>
    <p class="subtitle-1 services-title" v-if="fields.field_titulo">
      {{ fields.field_titulo.data }}
    </p>
    <div
      class="services-body body"
      v-if="fields.field_descricao"
      v-html="fields.field_descricao.data.value"
    ></div>
    <a
      class="d-md-none"
      @click="setPosition()"
      v-if="fields.field_link"
      :href="fields.field_link.data.url"
    ></a>
    <div class="d-none d-md-flex mt-3">
      <a
        class="btn-principal btn-white"
        @click="setPosition()"
        v-if="fields.field_link"
        :href="fields.field_link.data.url"
      >
        Saiba mais
      </a>
    </div>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    imgMobile: false,
    device:''
  }),  mounted() {
    window.innerWidth < 768
      ? (this.device = "mobile")
      : (this.device = "desktop");
  },
  async fetch() {
    let flag = false;
    if (!this.model.relationships.field_imagem) {
      return;
    }
    if (!this.model.relationships.field_imagem_mobile) {
      flag = true;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    if (flag == false) {
      const resourceMobile = await this.getResource({
        ...this.model.relationships.field_imagem_mobile.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });
      if (typeof resourceMobile.included != "undefined") {
        this.imgMobile =
          this.$config.baseUrl +
          (resourceMobile.included.find((o) => o.type === "file--file") || {})
            .attributes.uri.url;
      }
    }
    if (this.device == "mobile" && this.imgMobile == false) {
      this.imgMobile = this.img;
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-services {
  font-feature-settings: "case" on;
  max-width: 310px;
  width: 100%;
  position: relative;
  .btn-principal {
    margin-left: 1px;
  }
  .background-img {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 170px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    .tag {
      font-family: "Telegraf";
      font-weight: 700;
      position: absolute;
      top: 10px;
      left: 15px;
      text-transform: uppercase;
      color: $color-white;
      background-color: $color-primary;
      padding: 4px 10px;
      border-radius: 10px;
      font-size: 11px;
      &-name{
        white-space: nowrap;
      }
    }
  }
  .services-title {
    margin-bottom: 6px;
  }
  .services-body {
    padding: 0;
    color: $color-gray;
    font-size: 15px;
    font-family: "Telegraf";
    font-weight: 400;
    &::v-deep p {
      margin-bottom: 0;
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: unset;
    &:hover {
      text-decoration: none;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 400px;
    .background-img {
      height: 220px;
    }
    .services-title {
      font-size: 28px;
    }
    .services-body {
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }
    a {
      position: unset;
      top: unset;
      left: unset;
      width: unset;
      height: 35px;
      line-height: 35px;
      border: 1px solid $color-black;
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      padding: 0 20px;
    }
  }
}
</style>
