<template>
  <div class="card-destaque d-flex">
    <slot name="field_imagem"/>
    <div class="wrapper-text">
      <div
        class="title"
        v-if="fields.field_titulo"
        v-html="fields.field_titulo.data"
      ></div>
      <div
        class="subtitle"
        v-if="fields.field_subtitulo"
        v-html="fields.field_subtitulo.data.value"
      ></div>
      <div
        class="body"
        v-if="fields.field_texto"
        v-html="fields.field_texto.data.value"
      ></div>
      <div class="mt-4 d-flex">
        <NuxtLink
          class="btn-principal btn-white"
          v-if="fields.field_link"
          :to="fields.field_link.data.url"
        >
          {{ fields.field_link.data.title }}
        </NuxtLink>
      </div>
    </div>
  </div>
</template>
<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
};
</script>
<style lang="scss" scoped>
.card-destaque {
  padding-bottom: 100px;
  &::v-deep img {
    border-radius: 10px!important;
    max-width: 620px;
    height: 540px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .wrapper-text {
    margin-left: 40px;
    max-width: 510px;
    margin-bottom: auto;
    margin-top: auto;
    .title {
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 46px;
      margin-bottom: 24px;
    }
    .subtitle{
      margin-bottom: 12px;
      font-family: 'Canela';
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
    }
    .body {
      &::v-deep p{
        font-family: "Telegraf";
        font-weight: 400;
        font-size: 20px;
      }
    }
    .btn-principal {
      border: 1px solid $color-body;
      font-family: "Telegraf";
      font-weight: 700;
      background: transparent;
      font-size: 18px;
      height: 35px;
      line-height: 35px;
      padding: 0 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    flex-direction: column;
    &::v-deep img{
      width: 100%;
      max-width: 100%;
    }
    .wrapper-text {
      padding-top: 60px;
      margin-left: 0 !important;
      max-width: 100% !important;
    }
  }
}
</style>
