<template>
  <div class="card-imagem-texto">
    <div class="wrapper-image">
      <img :src="img" :alt="alt" />
    </div>
    <div class="card-text">
      <p class="subtitle-1 title" v-if="fields.field_titulo">
        {{ fields.field_titulo.data }}
      </p>
      <div
        class="text"
        v-if="fields.field_descricao"
        v-html="fields.field_descricao.data.value"
      ></div>
      <div class="wrapper-icons" v-if="fields.field_icons">
        <slot name="field_icons" />
      </div>
    </div>
    <a
      v-if="fields.field_link"
      :href="fields.field_link.data.url"
    >
    </a>
  </div>
</template>

<script>
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { DruxtEntityMixin } from "druxt-entity";
import { mapActions } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
  }),

  async fetch() {
    if (!this.model.relationships.field_imagem) {
      return;
    }

    const resource = await this.getResource({
      ...this.model.relationships.field_imagem.data,
      query: new DrupalJsonApiParams()
        .addInclude(["field_media_image"])
        .addFields("media--image", [])
        .addFields("file--file", ["uri"]),
    });

    this.img =
      this.$config.baseUrl +
      (resource.included.find((o) => o.type === "file--file") || {}).attributes
        .uri.url;

    this.alt = resource.data.relationships.field_media_image.data.meta.alt;
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
  },
};
</script>

<style lang="scss" scoped>
.card-imagem-texto {
  @media (min-width: 768px) {
    width: 400px;
    .wrapper-image {
      height: 220px !important;
    }
  }

  width: 310px;
  position: relative;

  .card-text {
    padding-top: 20px;

    p {
      margin-bottom: 0;

      &.title {
        font-family: "Canela";
        font-weight: 300;
        margin-bottom: 6px;
      }
    }

    .text::v-deep p {
      font-family: "Telegraf";
      font-weight: 300;
      color: $color-gray;
      margin-bottom: 0;
    }

    .wrapper-icons {
      padding-top: 20px;

      &::v-deep div,
      div {
        display: inline-block;
      }

      &::v-deep img {
        margin-right: 26px;
      }
    }
  }

  .wrapper-image {
    position: relative;
    height: 170px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: unset;

    &:hover {
      text-decoration: none;
    }
  }
}
</style>
