<template>
    <div class="container px-4 px-md-0">
        <div class="card-citacao text-center m-auto">
            <div class="quote font-italic pb-3 pb-md-4" v-html="fields.field_citacao.data.value"></div>
            <p class="autor mb-0" v-if="fields.field_autor"> - {{fields.field_autor.data}}</p>
        </div>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";


export default {
    mixins: [DruxtEntityMixin],
}
</script>

<style lang="scss">
    .card-citacao{
        padding-bottom: 100px;
        .autor{
            font-size: 14px;
            font-family: 'Telegraf';
            font-weight: 700;
            color: $color-primary;
        }
        @media screen and (min-width: 768px) {
            max-width: 620px;
            .quote{
                font-size: 32px;
            }
            .autor{
                font-size: 18px;
            }
        }
    }
</style>
