<template>
  <div class="card-medico">
    <div class="card-image d-flex d-md-none">
      <slot name="field_imagem" />
      <div class="background"></div>
      <div
        class="quote mb-0"
        v-if="fields.field_citacao"
        v-html="fields.field_citacao.data.value"
      ></div>
    </div>
    <div class="wrapper-img-desktop d-none d-md-flex" v-if="fields.field_imagem_desktop">
      <slot name="field_imagem_desktop"/>
    </div>
    <div class="container px-0">
      <div class="card-text d-flex flex-row flex-md-column">
        <div class="tag mb-3 d-none d-md-block" v-if="fields.field_etiquetas">
          <slot name="field_etiquetas" />
        </div>
        <div
          class="quote mb-0 d-none d-md-block"
          v-if="fields.field_citacao"
          v-html="fields.field_citacao.data.value"
        ></div>
        <div class="d-flex flex-row pt-md-4">
          <div class="mr-2 mr-md-4">
            <div
              class="subtitle-1 name mb-1"
              v-if="fields.field_nome"
              v-html="fields.field_nome.data.value"
            ></div>
            <p class="mb-0 details">
              <span class="subfields" v-if="fields.field_idade">
                {{ fields.field_idade.data }} anos |
              </span>
              <span class="subfields" v-if="fields.field_loca">
                {{ fields.field_loca.data.value }}
              </span>
            </p>
          </div>
          <span
            class="btn-plus d-md-none"
            v-if="fields.field_link"
          ></span>
          <a
            class="btn-plus d-none d-md-flex"
            v-if="fields.field_link"
            :href="fields.field_link.data.url"
          ></a>
        </div>
      </div>
    </div>
    <a class="d-md-none click-mobile" v-if="fields.field_link" :href="fields.field_link.data.url"></a>
  </div>
</template>
<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
};
</script>
<style lang="scss" scoped>
.card-medico {
  position: relative;
  .card-image {
    border-radius: 10px;
    width: 310px;
    height: 440px;
    position: relative;
    .quote {
      padding: 20px;
      position: absolute;
      bottom: 0;
    }
    .background {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 42.27%,
        rgba(255, 255, 255, 0.7) 69.3%,
        #ffffff 100%
      );
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &::v-deep div:not(.quote){
        width: 100%;
        height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
  .wrapper-img-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    div {
      height: 100%;
      width: 100%;
      &::v-deep div {
        height: 100%;
        width: 100%;
      }
    }
    &::v-deep img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-text {
    padding-top: 22px;
    .name {
      color: $color-primary;
      font-family: "Telegraf";
      font-weight: 700;
    }
    .subfields {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
    }
  }
  .click-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    height: 540px;
    .card-text {
      max-width: 440px;
      width: 100%;
      padding-top: 108px;
      margin-left: 84px;
      .tag {
        font-family: "Telegraf";
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        background-color: #8a7459;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 11px;
        width: fit-content;
      }
      .quote {
        font-family: "Canela";
        font-weight: 300;
        font-size: 40px;
      }
      .name {
        color: $color-body;
      }
      .details {
        font-family: "Telegraf";
        font-size: 20px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .card-text {
      margin-left: 30px;
      .quote {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
}
</style>
