<template>
  <div class="card-offers">
    <div
      class="d-flex flex-column"
      :class="fields.field_exibicao_inversa ? 'invert-card' : ''"
    >
      <div class="wrapper-img">
        <slot name="field_imagem" />
      </div>
      <div class="card-text">
        <p class="tag mb-1" v-if="fields.field_titulo">
          {{ fields.field_titulo.data }}
        </p>
        <div class="subtitle-2 text" v-if="fields.field_descricao">
          <slot name="field_descricao" />
        </div>
      </div>
      <a
        @click="setPosition()"
        v-if="fields.field_link"
        :href="fields.field_link.data.uri.replace('internal:', '')"
      ></a>
    </div>
  </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],

  methods: {
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-offers {
  width: 270px;
  border-radius: 10px;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 290px;
  }
  .wrapper-img{
    width: 100%;
    height: 170px;
    &::v-deep div {
      width: 100%;
      height: 100%;
      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .card-text {
    background: white;
    padding: 20px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .tag {
      font-weight: 700;
      font-size: 14px;
      font-family: "Telegraf";
    }
    .text::v-deep p {
      margin-bottom: 0;
    }
  }
  a {
    color: unset;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    color: unset;
    &:hover {
      text-decoration: none;
    }
  }
  .invert-card {
    .card-text {
      order: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .wrapper-img{
      order: 1;
      &::v-deep div{
        width: 100%;
        height: 100%;
        img {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }

  }
}
</style>
