<template>
    <div>
        <slot name="field_reusable_paragraph" />
    </div>
</template>

<script>
    import { DruxtEntityMixin } from 'druxt-entity'

    export default {
        mixins: [DruxtEntityMixin],
    };
</script>

<style lang="scss" scoped>
</style>