<template>
  <div class="d-none d-md-flex" v-show="getContentMounted">
    <div class="modal-agendar-consulta" v-if="showContent && !contentClosed">
      <div class="d-flex flex-row-reverse justify-content-end">
        <div class="button-close">
          <img src="~/assets/icons/icon-fechar.svg" @click="closeModal()" />
        </div>
        <div
          v-if="fields.field_wysiwyg"
          class="d-flex flex-column wrapper-content"
        >
          <div
            class="modal-agendar-consulta-wysiwyg"
            v-if="fields.field_wysiwyg"
            v-html="fields.field_wysiwyg.value.value"
          ></div>
          <div class="wrapper-btn d-flex">
            <a
              @click="setPosition()"
              :href="fields.field_link.data.url"
              class="btn-principal btn-body"
              >{{ fields.field_link.data.title }}</a
            >
          </div>
        </div>
        <img :src="img" :alt="alt" class="h-100" />
      </div>
    </div>
    <a
      @click="setPosition()"
      class="button-agendar-consulta flex-column justify-content-center align-items-start"
      :href="fields.field_link.data.url"
      :class="showContent === true ? 'd-none' : 'd-none d-md-flex'"
    >
      <img src="~/assets/icons/icon-agendar.svg" width="36px" height="36px" />

      <span>{{ fields.field_link.data.title }}</span>
    </a>
  </div>
</template>
<script>
import { DruxtEntityMixin } from "druxt-entity";
import { DrupalJsonApiParams } from "drupal-jsonapi-params";
import { mapActions } from "vuex";
import { mapGetters } from "vuex";

export default {
  mixins: [DruxtEntityMixin],
  data: () => ({
    img: false,
    alt: false,
    showContent: true,
    contentClosed: false,
    device: "",
  }),

  async created() {
    if (typeof this.$cookies.get("accepted") == "undefined") {
      this.showContent = false;
    }
  },

  async fetch() {
    if (this.model.relationships.field_imagem) {
      const resource = await this.getResource({
        ...this.model.relationships.field_imagem.data,
        query: new DrupalJsonApiParams()
          .addInclude(["field_media_image"])
          .addFields("media--image", [])
          .addFields("file--file", ["uri"]),
      });

      this.img =
        this.$config.baseUrl +
        (resource.included.find((o) => o.type === "file--file") || {})
          .attributes.uri.url;

      this.alt = resource.data.relationships.field_media_image.data.meta.alt;
    }
  },

  mounted() {
    // set device by width (mobile or desktop)
    if (window.innerWidth < 1025) {
      this.closeModal();
    }
  },

  methods: {
    ...mapActions({
      getResource: "druxt/getResource",
    }),
    ...mapGetters({ getContentMounted: "getContentMounted" }),

    closeModal() {
      this.showContent = false;
      this.contentClosed = true;
    },

    handleScroll() {
      if (!this.contentClosed) {
        if (window.scrollY > window.innerHeight / 2) {
          this.showContent = false;
        } else {
          this.showContent = true;
        }
      }
    },
    setPosition() {
      localStorage.setItem("position", window.pageYOffset);
      localStorage.setItem("currentRoute", this.$route.fullPath);
    },
  },
  beforeMount() {
    window.addEventListener("scroll", this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style lang="scss">
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  img {
    width: 18px;
    height: 18px;
  }
}
.modal-agendar-consulta {
  background-color: #f7a945;
  width: 570px;
  height: 248px;
  position: absolute;
  z-index: 2;
  top: 500px;
  right: 20px;
  border-radius: 20px;
  .wrapper-content {
    margin: 35px;
    margin-bottom: 12px;
  }
  &-wysiwyg {
    h2 {
      font-family: "Canela";
      font-size: 28px !important;
      font-weight: 200 !important;
      line-height: 32px;
      text-transform: uppercase;
    }
    p {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .btn-principal {
    background: white;
    border: white;
    color: $color-body;
    font-family: "Telegraf";
    font-size: 18px;
    font-weight: 700;
    &:hover {
      filter: drop-shadow(-9px 9px 30px rgba(37, 37, 37, 0.2));
      right: 0;
      text-decoration: none;
      color: $color-white !important;
      background-color: $color-black !important;
    }
  }
}
.button-agendar-consulta {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  img {
    margin-bottom: 4px;
    width: 36px;
    height: 36px;
    margin-left: 36px;
  }
  span {
    font-family: "Telegraf";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-left: 12px;
  }
  top: 12%;
  right: -20px;
  position: fixed;
  z-index: 12;
  width: 130px;
  height: 110px;
  background-color: #f7a945;
  color: $color-body;
  transition: right 0.5s ease-out;
  text-decoration: none;
  &:hover {
    filter: drop-shadow(-9px 9px 30px rgba(37, 37, 37, 0.2));
    right: 0;
    text-decoration: none;
    color: $color-body;
  }
  &:active {
    right: 0;
    text-decoration: none;
    color: $color-body;
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    top: 40%;
  }
}
</style>
