<template>
    <div class="d-flex flex-column bloco-fale-equipa">
        <h2 v-if="fields.field_titulo">{{fields.field_titulo.data}}</h2>
        <div class="wrapper">
            <slot name="field_cards" />
        </div>
    </div>
</template>

<script>
import { DruxtEntityMixin } from "druxt-entity";

export default {
  mixins: [DruxtEntityMixin],
};
</script>