<template>
  <component :is="component" v-bind="route.props" />
</template>

<script>
import Vue from 'vue'
import { TabsPlugin } from 'bootstrap-vue'
import DruxtEntityForm from 'druxt-entity/dist/components/DruxtEntityForm.vue'
import { DruxtRouterMixin } from 'druxt-router'

Vue.use(TabsPlugin)

export default {
  components: { DruxtEntityForm },

  mixins: [DruxtRouterMixin],

  computed: {
    component() {
      return this.route.props.type !== 'webform--webform'
        ? 'druxt-entity'
        : 'druxt-webform'
    },
  },
}
</script>