<template>
  <div class="support">
    <span>Fale agora com a nossa equipa</span>
    <div class="mt-2 d-flex justify-content-between">
      <div class="support__card" v-for="(item, index) in items" :key="index">
        <a :href="item.entity.attributes.url">
          <span class="label">{{ item.entity.attributes.description }} </span>
          <div class="d-flex align-items-center">
            <div class="icon mr-1">
              <img
                :src="
                  $config.baseUrl +
                  item.entity.attributes.options.menu_icon.uri.replace(
                    'public://',
                    '/sites/default/files/'
                  )
                "
              />
            </div>
            <p class="contact mb-0">
              {{ item.entity.attributes.title }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.support {
  font-family: "Telegraf";
  font-weight: 400;
  margin-top: 25px;

  span {
    font-weight: 200;
    font-size: 15px;
    color: #fff;
  }

  &__card {
    background-color: #fff;
    border: 1px solid white;
    min-width: 143px;
    margin-right: 4px;
    @media (max-width: 360px) {
      min-width: 134px !important;
    }
    border-radius: 10px;
    padding: 5px 16px 5px 16px;
    a {
      color: unset;
      text-decoration: unset;
      &:hover {
        text-decoration: unset;
      }
    }
    span.label {
      font-family: "Telegraf";
      font-weight: 400;
      font-size: 13px;
      color: #000;
    }
    .icon {
      line-height: 17px;
    }
    .contact {
      font-family: "Telegraf";
      font-weight: 700;
      font-size: 16px;
      @media (max-width: 360px) {
        font-size: 13px;
      }
    }
  }
}
</style>
